<div class="component">
    <div class="component-title">Spacing</div>
    <div class="component-content">
        <div class="component-spacings">
            <div class="component-spacing">
                <div class="component-spacing-square component-spacing-square-x-tiny"></div>
                <div class="component-spacing-name">4px - x - tiny</div>
            </div>
            <div class="component-spacing">
                <div class="component-spacing-square component-spacing-square-tiny"></div>
                <div class="component-spacing-name">8px - tiny</div>
            </div>
            <div class="component-spacing component-spacing-small">
                <div class="component-spacing-square component-spacing-square-small"></div>
                <div class="component-spacing-name">16px - small</div>
            </div>
            <div class="component-spacing component-spacing-normal">
                <div class="component-spacing-square component-spacing-square-normal"></div>
                <div class="component-spacing-name">24px - normal</div>
            </div>
            <div class="component-spacing component-spacing-large">
                <div class="component-spacing-square component-spacing-square-large"></div>
                <div class="component-spacing-name">48px - large</div>
            </div>
            <div class="component-spacing component-spacing-x-large">
                <div class="component-spacing-square component-spacing-square-x-large"></div>
                <div class="component-spacing-name">64px - x - large</div>
            </div>
        </div>
    </div>
</div>
<div class="component">
    <div class="component-title">Spacing utilities</div>
    <div class="component-content">
        <div class="component-header">Spacing top, right, bottom, and left</div>
        <div class="component-example">
            <div class="eve-spacing-x-tiny">eve-spacing-x-tiny</div>
            <div class="eve-spacing-tiny">eve-spacing-tiny</div>
            <div class="eve-spacing-small">eve-spacing-small</div>
            <div class="eve-spacing-normal">eve-spacing-normal</div>
            <div class="eve-spacing-large">eve-spacing-large</div>
            <div class="eve-spacing-x-large">eve-spacing-x-large</div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Spacing top</div>
        <div class="component-example">
            <div class="eve-spacing-top-x-tiny">eve-spacing-top-x-tiny</div>
            <div class="eve-spacing-top-tiny">eve-spacing-top-tiny</div>
            <div class="eve-spacing-top-small">eve-spacing-top-small</div>
            <div class="eve-spacing-top-normal">eve-spacing-top-normal</div>
            <div class="eve-spacing-top-large">eve-spacing-top-large</div>
            <div class="eve-spacing-top-x-large">eve-spacing-top-x-large</div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Spacing right</div>
        <div class="component-example">
            <div class="eve-spacing-right-x-tiny">eve-spacing-right-x-tiny</div>
            <div class="eve-spacing-right-tiny">eve-spacing-right-tiny</div>
            <div class="eve-spacing-right-small">eve-spacing-right-small</div>
            <div class="eve-spacing-right-normal">eve-spacing-right-normal</div>
            <div class="eve-spacing-right-large">eve-spacing-right-large</div>
            <div class="eve-spacing-right-x-large">eve-spacing-right-x-large</div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Spacing bottom</div>
        <div class="component-example">
            <div class="eve-spacing-bottom-x-tiny">eve-spacing-bottom-x-tiny</div>
            <div class="eve-spacing-bottom-tiny">eve-spacing-bottom-tiny</div>
            <div class="eve-spacing-bottom-small">eve-spacing-bottom-small</div>
            <div class="eve-spacing-bottom-normal">eve-spacing-bottom-normal</div>
            <div class="eve-spacing-bottom-large">eve-spacing-bottom-large</div>
            <div class="eve-spacing-bottom-x-large">eve-spacing-bottom-x-large</div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Spacing left</div>
        <div class="component-example">
            <div class="eve-spacing-left-x-tiny">eve-spacing-left-x-tiny</div>
            <div class="eve-spacing-left-tiny">eve-spacing-left-tiny</div>
            <div class="eve-spacing-left-small">eve-spacing-left-small</div>
            <div class="eve-spacing-left-normal">eve-spacing-left-normal</div>
            <div class="eve-spacing-left-large">eve-spacing-left-large</div>
            <div class="eve-spacing-left-x-large">eve-spacing-left-x-large</div>
        </div>
    </div>
</div>
