<div class="component">
    <div class="component-title">Typography</div>
    <div class="component-content">
        <div class="component-header">Headings</div>
        <div class="component-example">
            <h1 class="eve-heading-1">H1 - 32px / 40px - Oversized Screen Titles</h1>
            <h2 class="eve-heading-2">H2 - 24px / 32px - Top Level Headers</h2>
            <h3 class="eve-heading-3">H3 - 20px / 28px - Main Titles</h3>
            <h4 class="eve-heading-4">H4 - 18px / 28px - Sub Section</h4>
            <h5 class="eve-heading-5">H5 - 16px / 24px - Highlighting Important Information</h5>
            <h6 class="eve-heading-6">H6 - 12px / 18px - Lowest Level Heading</h6>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Paragraph</div>
        <div class="component-example">
            <p class="eve-paragraph">Paragraph - 14px / 20px</p>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Font sizes</div>
        <div class="component-example">
            <div class="eve-font-x-large">48px - x-large</div>
            <div class="eve-font-large">20px - large</div>
            <div class="eve-font-normal">16px - normal</div>
            <div class="eve-font-small">14px - small</div>
            <div class="eve-font-tiny">12px - tiny</div>
            <div class="eve-font-x-tiny">10px - x-tiny</div>
        </div>
    </div>
</div>
