@charset 'utf-8';

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #cfd8dc;
}

html,
body {
    height: 100%;
}

html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #333;
    margin: 0;
    font-size: 14px;
}

a {
    color: #2196f3;
}

.container {
    display: flex;
    height: 100%;

    .sidebar {
        background: #2196f3;
        background-image: linear-gradient(#2196f3 0%, #2156ff 100%);
        width: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 48px 0 16px;
        box-sizing: border-box;
        flex-shrink: 0;

        .sidebar-eve-link {
            svg {
                fill: #fff;
            }
        }

        .sidebar-github-link {
            display: flex;
            padding: 8px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0);

            &:hover {
                background: rgba(255, 255, 255, .1);
            }

            svg {
                fill: #fff;
            }
        }
    }

    .navigation {
        width: 240px;
        background: #eceff1;
        padding: 48px 0 24px;
        overflow: auto;
        box-sizing: border-box;
        flex-shrink: 0;

        .navigation-header {
            padding: 0 48px;
            margin-bottom: 16px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
        }

        .navigation-list {
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }

        .navigation-list-item {
            padding-left: 64px;
            cursor: pointer;
            text-decoration: none;
            display: block;
            color: #333;
            margin-bottom: 16px;
            font-size: 14px;

            &:hover {
                color: #2196f3;
            }

            &.is-active {
                color: #2196f3;
                font-weight: bold;
            }
        }
    }

    .content {
        flex: 1;
        overflow: auto;
        height: 100%;
        padding: 48px;
        box-sizing: border-box;
    }
}

@import 'foundation-color';
@import 'snippet';
@import 'component';
