<div id="grid" class="component">
    <div class="component-title">Flex</div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-flex eve-flex-margin-normal">
                <div class="eve-flex-cell">auto</div>
                <div class="eve-flex-cell">auto</div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-flex eve-flex-margin-normal">
                <div class="eve-flex-cell eve-flex-cell-4">4</div>
                <div class="eve-flex-cell eve-flex-cell-4">4</div>
                <div class="eve-flex-cell eve-flex-cell-4">4</div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-flex eve-flex-margin-normal">
                <div class="eve-flex-cell eve-flex-cell-2">2</div>
                <div class="eve-flex-cell eve-flex-cell-8">8</div>
                <div class="eve-flex-cell eve-flex-cell-2">2</div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-flex eve-flex-margin-normal">
                <div class="eve-flex-cell eve-flex-cell-1">1</div>
                <div class="eve-flex-cell eve-flex-cell-1">1</div>
                <div class="eve-flex-cell eve-flex-cell-1">1</div>
                <div class="eve-flex-cell eve-flex-cell-1">1</div>
                <div class="eve-flex-cell eve-flex-cell-1">1</div>
                <div class="eve-flex-cell eve-flex-cell-1">1</div>
                <div class="eve-flex-cell eve-flex-cell-1">1</div>
                <div class="eve-flex-cell eve-flex-cell-1">1</div>
                <div class="eve-flex-cell eve-flex-cell-1">1</div>
                <div class="eve-flex-cell eve-flex-cell-1">1</div>
                <div class="eve-flex-cell eve-flex-cell-1">1</div>
                <div class="eve-flex-cell eve-flex-cell-1">1</div>
            </div>
        </div>
    </div>
</div>
