<div class="component">
    <div class="component-title">Flex</div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-flex eve-flex-margin-normal eve-flex-gutter-normal">
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-flex eve-flex-margin-normal eve-flex-gutter-normal">
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-flex eve-flex-margin-normal eve-flex-gutter-normal">
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-flex eve-flex-margin-normal eve-flex-gutter-normal">
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
                <div class="eve-flex-cell"></div>
            </div>
        </div>
    </div>
</div>
