<style>
    .eve-cell > div,
    .eve-cell-1 > div,
    .eve-cell-2 > div,
    .eve-cell-3 > div,
    .eve-cell-4 > div,
    .eve-cell-5 > div,
    .eve-cell-6 > div,
    .eve-cell-7 > div,
    .eve-cell-8 > div,
    .eve-cell-9 > div,
    .eve-cell-10 > div,
    .eve-cell-11 > div,
    .eve-cell-12 > div {
        background: #eceff1;
        color: #333;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<div class="component">
    <div class="component-title">Grid Gap</div>
    <div class="component-content">
        <div class="component-header">Grid gap large - 48px</div>
        <div class="component-example">
            <div class="eve-grid eve-grid-gap-large">
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Grid gap normal - 24px</div>
        <div class="component-example">
            <div class="eve-grid eve-grid-gap-normal">
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Grid gap small - 16px</div>
        <div class="component-example">
            <div class="eve-grid eve-grid-gap-small">
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Grid gap tiny - 8px</div>
        <div class="component-example">
            <div class="eve-grid eve-grid-gap-tiny">
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
            </div>
        </div>
    </div>
</div>
