<div class="component">
    <div class="component-title">Grid Gap</div>
    <div class="component-content">
        <div class="component-header">Grid gap x-large - 64px</div>
        <div class="component-example">
            <div class="eve-grid eve-grid-gap-x-large">
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Grid gap large - 48px</div>
        <div class="component-example">
            <div class="eve-grid eve-grid-gap-large">
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Grid gap normal - 24px</div>
        <div class="component-example">
            <div class="eve-grid eve-grid-gap-normal">
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Grid gap small - 16px</div>
        <div class="component-example">
            <div class="eve-grid eve-grid-gap-small">
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Grid gap tiny - 8px</div>
        <div class="component-example">
            <div class="eve-grid eve-grid-gap-tiny">
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Grid gap x-tiny - 4px</div>
        <div class="component-example">
            <div class="eve-grid eve-grid-gap-x-tiny">
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
            </div>
        </div>
    </div>
</div>
