<div class="component">
    <div class="component-title">Grid</div>
    <div class="component-description">Responsive grid system with 12 columns based on <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank">Flexbox</a></div>
    <div class="component-content">
        <div class="eve-grid eve-grid-gap-normal">
            <div class="eve-cell"><div></div></div>
            <div class="eve-cell"><div></div></div>
            <div class="eve-cell"><div></div></div>
            <div class="eve-cell"><div></div></div>
            <div class="eve-cell"><div></div></div>
            <div class="eve-cell"><div></div></div>
            <div class="eve-cell"><div></div></div>
            <div class="eve-cell"><div></div></div>
            <div class="eve-cell"><div></div></div>
            <div class="eve-cell"><div></div></div>
            <div class="eve-cell"><div></div></div>
            <div class="eve-cell"><div></div></div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-grid eve-grid-gap-normal">
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
            </div>
        </div>
        <div class="component-example">
            <div class="eve-grid eve-grid-gap-normal">
                <div class="eve-cell-2">
                    <div>.eve-cell-2</div>
                </div>
                <div class="eve-cell-8">
                    <div>.eve-cell-8</div>
                </div>
                <div class="eve-cell-2">
                    <div>.eve-cell-2</div>
                </div>
            </div>
        </div>
        <div class="component-example">
            <div class="eve-grid eve-grid-gap-normal">
                <div class="eve-cell-4">
                    <div>.eve-cell-4</div>
                </div>
                <div class="eve-cell">
                    <div>.eve-cell</div>
                </div>
            </div>
        </div>
    </div>
</div>
