<style>
    .eve-grid:not(:last-child) {
        margin-bottom: 16px;
    }

    .eve-cell > p,
    .eve-cell-1 > p,
    .eve-cell-2 > p,
    .eve-cell-3 > p,
    .eve-cell-4 > p,
    .eve-cell-5 > p,
    .eve-cell-6 > p,
    .eve-cell-7 > p,
    .eve-cell-8 > p,
    .eve-cell-9 > p,
    .eve-cell-10 > p,
    .eve-cell-11 > p,
    .eve-cell-12 > p {
        background: #e91e63;
        color: #fff;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        font-weight: 600;
        margin: 0;
    }
</style>
<div class="component">
    <div class="component-title">Grid</div>
    <div class="component-content">
        <div class="eve-grid has-gap-normal">
            <div class="eve-cell"><p></p></div>
            <div class="eve-cell"><p></p></div>
            <div class="eve-cell"><p></p></div>
            <div class="eve-cell"><p></p></div>
            <div class="eve-cell"><p></p></div>
            <div class="eve-cell"><p></p></div>
            <div class="eve-cell"><p></p></div>
            <div class="eve-cell"><p></p></div>
            <div class="eve-cell"><p></p></div>
            <div class="eve-cell"><p></p></div>
            <div class="eve-cell"><p></p></div>
            <div class="eve-cell"><p></p></div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-grid">
                <div class="eve-cell">
                    <p>.eve-cell</p>
                </div>
                <div class="eve-cell">
                    <p>.eve-cell</p>
                </div>
                <div class="eve-cell">
                    <p>.eve-cell</p>
                </div>
            </div>
        </div>
        <div class="component-example">
            <div class="eve-grid">
                <div class="eve-cell-2">
                    <p>.eve-cell-2</p>
                </div>
                <div class="eve-cell-8">
                    <p>.eve-cell-8</p>
                </div>
                <div class="eve-cell-2">
                    <p>.eve-cell-2</p>
                </div>
            </div>
        </div>
        <div class="component-example">
            <div class="eve-grid">
                <div class="eve-cell-4">
                    <p>.eve-cell-4</p>
                </div>
                <div class="eve-cell">
                    <p>.eve-cell</p>
                </div>
            </div>
        </div>
        <div class="component-example">
            <div class="eve-grid">
                <div class="eve-cell-4">
                    <p>.eve-cell-4</p>
                </div>
                <div class="eve-cell">
                    <p>.eve-cell</p>
                    <div class="eve-grid">
                        <div class="eve-cell">
                            <p>.eve-cell</p>
                        </div>
                        <div class="eve-cell">
                            <p>.eve-cell</p>
                            <div class="eve-grid">
                                <div class="eve-cell-4">
                                    <p>.eve-cell-4</p>
                                </div>
                                <div class="eve-cell-8">
                                    <p>.eve-cell-8</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="component">
    <div class="component-title">Grid justify</div>
    <div class="component-content">
        <div class="component-header">Justify center</div>
        <div class="component-example">
            <div class="eve-grid">
                <div class="eve-cell-4">
                    <p>Grid justified left</p>
                </div>
            </div>
            <div class="eve-grid is-justified-center">
                <div class="eve-cell-4">
                    <p>Grid justified center</p>
                </div>
            </div>
            <div class="eve-grid is-justified-end">
                <div class="eve-cell-4">
                    <p>Grid justified right</p>
                </div>
            </div>
            <div class="eve-grid is-justified-between">
                <div class="eve-cell-4">
                    <p>Cell 1</p>
                </div>
                <div class="eve-cell-4">
                    <p>Cell 2</p>
                </div>
            </div>
        </div>
    </div>
</div><div class="component">
    <div class="component-title">Grid align</div>
    <div class="component-content">
        <h1>in progress</h1>
    </div>
</div>
<div class="component">
    <div class="component-title">Grid gaps</div>
    <div class="component-content">
        <div class="component-header">Grid gap large - 48px</div>
        <div class="component-example">
            <div class="eve-grid has-gap-large">
                <div class="eve-cell">
                    <p>.eve-cell</p>
                </div>
                <div class="eve-cell">
                    <p>.eve-cell</p>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Grid gap normal - 24px</div>
        <div class="component-example">
            <div class="eve-grid has-gap-normal">
                <div class="eve-cell">
                    <p>.eve-cell</p>
                </div>
                <div class="eve-cell">
                    <p>.eve-cell</p>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Grid gap small - 16px</div>
        <div class="component-example">
            <div class="eve-grid has-gap-small">
                <div class="eve-cell">
                    <p>.eve-cell</p>
                </div>
                <div class="eve-cell">
                    <p>.eve-cell</p>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Grid gap tiny - 8px</div>
        <div class="component-example">
            <div class="eve-grid has-gap-tiny">
                <div class="eve-cell">
                    <p>.eve-cell</p>
                </div>
                <div class="eve-cell">
                    <p>.eve-cell</p>
                </div>
            </div>
        </div>
    </div>
</div>
