<div class="component">
    <div class="component-title">List</div>
    <div class="component-content">
        <div class="component-header">Defalt list</div>
        <div class="component-example">
            <div class="eve-list">
                <div class="eve-list-item">
                    <div class="eve-list-item-content">
                        <div class="eve-list-item-title">List item 1</div>
                        <div class="eve-list-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nulla, corrupti ullam ut ad placeat explicabo hic cum deserunt est dignissimos vero consequuntur porro. Nam ad earum odit explicabo? Repellat?</div>
                    </div>
                </div>
                <div class="eve-list-item">
                    <div class="eve-list-item-content">
                        <div class="eve-list-item-title">List item 2</div>
                        <div class="eve-list-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nulla, corrupti ullam ut ad placeat explicabo hic cum deserunt est dignissimos vero consequuntur porro. Nam ad earum odit explicabo? Repellat?</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">List with avatar and switch</div>
        <div class="component-example">
            <div class="eve-list">
                <div class="eve-list-item">
                    <div class="eve-avatar is-large" data-initial="YT"></div>
                    <div class="eve-list-item-content">
                        <div class="eve-list-item-title">List item 1</div>
                        <div class="eve-list-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nulla, corrupti ullam ut ad placeat explicabo hic cum deserunt est dignissimos vero consequuntur porro. Nam ad earum odit explicabo? Repellat?</div>
                    </div>
                    <div class="eve-switch">
                        <input class="eve-switch-native" type="checkbox">
                        <div class="eve-switch-mark"></div>
                    </div>
                </div>
                <div class="eve-list-item">
                    <div class="eve-avatar is-large" data-initial="YT"></div>
                    <div class="eve-list-item-content">
                        <div class="eve-list-item-title">List item 2</div>
                        <div class="eve-list-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nulla, corrupti ullam ut ad placeat explicabo hic cum deserunt est dignissimos vero consequuntur porro. Nam ad earum odit explicabo? Repellat?</div>
                    </div>
                    <div class="eve-switch">
                        <input class="eve-switch-native" type="checkbox" checked="checked">
                        <div class="eve-switch-mark"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
