<div class="component">
    <div class="component-title">Navigation</div>
    <div class="component-content">
        <div class="component-header">Default navigation</div>
        <div class="component-example">
            <ul class="eve-navigation">
                <li>
                    <a href="#">Nav 01</a>
                </li>
                <li>
                    <a href="#">Nav 02</a>
                </li>
                <li>
                    <a href="#">Nav 03</a>
                </li>
                <li>
                    <a href="#">Nav 04</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Navigation with active tab</div>
        <div class="component-example">
            <ul class="eve-navigation">
                <li>
                    <a href="#">Nav 01</a>
                </li>
                <li class="is-active">
                    <a href="#">Nav 02</a>
                </li>
                <li>
                    <a href="#">Nav 03</a>
                </li>
                <li>
                    <a href="#">Nav 04</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Navigation with disabled tab</div>
        <div class="component-example">
            <ul class="eve-navigation">
                <li>
                    <a href="#">Nav 01</a>
                </li>
                <li class="is-disabled">
                    <a href="#">Nav 02</a>
                </li>
                <li>
                    <a href="#">Nav 03</a>
                </li>
                <li>
                    <a href="#">Nav 04</a>
                </li>
            </ul>
        </div>
    </div>
</div>
