$eve-color-white: #fff !default;
$eve-color-black: #000 !default;

$eve-color-blue: #2196f3 !default;

$eve-color-red: #f44336 !default;
$eve-color-red-100: #ffcdd2 !default;

$eve-color-orange: #ff9800 !default;
$eve-color-orange-100: #ffe0b2 !default;

$eve-color-green: #4caf50 !default;
$eve-color-green-100: #c8e6c9 !default;

$eve-color-purple: #9c27b0 !default;

$eve-color-silver: #607d8b !default;
$eve-color-darker-silver: #b0bec5 !default;
$eve-color-dark-silver: #cfd8dc !default;
$eve-color-bright-silver: #eceff1 !default;
