$eve-color-white: #fff !default;
$eve-color-black: #000 !default;

$eve-color-blue: #2666be !default;
$eve-color-bright-blue: #c9ddf5 !default;

$eve-color-red: #af0020 !default;
$eve-color-bright-red: #ebbfc7 !default;

$eve-color-orange: #f38a30 !default;
$eve-color-bright-orange: #fce2cb !default;

$eve-color-green: #42af49 !default;
$eve-color-bright-green: #d0ebd1 !default;

$eve-color-purple: #7333bd !default;
$eve-color-bright-purple: #dcccec !default;

$eve-color-silver: #607d8b !default;
$eve-color-darker-silver: #b0bec5 !default;
$eve-color-dark-silver: #cfd8dc !default;
$eve-color-bright-silver: #eceff1 !default;
