$eve-spacing-2: .125rem !default;
$eve-spacing-4: .25rem !default;
$eve-spacing-8: .5rem !default;
$eve-spacing-12: .75rem !default;
$eve-spacing-16: 1rem !default;
$eve-spacing-24: 1.5rem !default;
$eve-spacing-38: 2.375rem !default;
$eve-spacing-48: 3rem !default;
