// sass-lint:disable no-color-literals,class-name-format

// Global Styles

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

canvas {
    display: block;
}

// Variables

// Colors
$background-color: #2196f3;
$background-image: linear-gradient(#2196f3 0%, #2156ff 100%);


// Fonts
$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

// Others
$transition-default: all 300ms ease-in-out;

// Main Styles

.main {
    width: 100%;
    height: 100%;

    &__content {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 5rem 1fr 5rem;
        grid-template-columns: 5rem 1fr 5rem;
    }
}

.content {

    &__header {
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        z-index: 1;
        pointer-events: none;
    }

    &__details {
        grid-area: 2 / 2 / 3 / 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        pointer-events: none;

        .details {
            &__title {
                font-size: 4rem;
                font-family: $primary-font;
                font-weight: 200;
                text-transform: uppercase;
                line-height: 4rem;
                color: #fff;
                text-align: center;
                user-select: none;

                span {
                    font-weight: 400;
                }
            }

            &__description {
                width: 100%;
                font-size: 1.125rem;
                font-family: $secondary-font;
                font-weight: 200;
                color: #fff;
                text-align: center;
                margin-top: 2rem;
                user-select: none;
            }

            &__actions {
                margin-top: 2rem;
                display: flex;

                a {
                    font-family: $secondary-font;
                    font-size: 1rem;
                    padding: 1rem 2rem;
                    border-radius: 2rem;
                    outline: none;
                    border: 0;
                    background: rgba($color: #fff, $alpha: .1);
                    color: #fff;
                    text-decoration: none;
                    pointer-events: fill;
                    cursor: pointer;
                    transition: $transition-default;
                    user-select: none;

                    &:hover {
                        background: rgba($color: #fff, $alpha: 1);
                        color: $background-color;
                    }
                }

                :nth-child(1) {
                    margin-right: 1rem;
                }

            }

        }
    }

    &__nightmode {
        grid-area: 3 / 3 / 4 / 4;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        position: relative;
        overflow: hidden;

        .nightmode {
            &__switch {
                width: 1.5rem;
                height: 1.5rem;
                fill: #fff;
                cursor: pointer;
                transition: $transition-default;
                padding: 1rem;
                border-radius: 2rem;

                &:hover {
                    background: rgba($color: #fff, $alpha: .1);
                }

                .js-switch-off {
                    fill: #fff;
                    position: relative;
                    bottom: 1.75rem;
                    opacity: 0;
                }

                .js-switch-on {
                    fill: #fff;
                    position: relative;
                    bottom: 1.75rem;
                    opacity: 1;
                    transition: $transition-default;
                }
            }
        }
    }

    &__footer {
        grid-area: 3 / 2 / 4 / 3;
        color: #fff;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $secondary-font;
        text-align: center;
        text-transform: uppercase;
        font-size: .625rem;
        letter-spacing: .1rem;
        pointer-events: none;

        .footer__container {
            padding: 0 1rem;
            user-select: none;
        }

        a {
            text-decoration: none;
            color: #fff;
            padding: 0 .25rem;
            transition: $transition-default;
            pointer-events: fill;
            border-radius: .25rem;

            &:hover {
                color: #fff;
                background: rgba($color: #fff, $alpha: .3);
            }
        }

        svg {
            width: 1.125rem;
            height: 1.125rem;
            vertical-align: middle;
            fill: #e74c3c;
            margin: 0 .25rem;
            animation: heartBeat 1s ease-in forwards infinite;

            @keyframes heartBeat {
                0%,
                100% {
                    transform: scale(1);
                }

                50% {
                    transform: scale(1.125);
                }
            }
        }

    }
}

// Particles.js Container Styles

#particles-js { // sass-lint:disable-line no-ids
    grid-area: 1 / 1 / 4 / 4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    transition: $transition-default;
}

// NightMode JS Modifie

.js-nightmode-off {
    background-color: $background-color;
    background-image: $background-image;
}

.js-nightmode-on {
    background-color: #161616;
    background-image: none;
    transition: $transition-default;
}

.content__details {
    .details__actions {
        a {
            .js-nightmode-button {
                &:hover {
                    color: #161616;
                }
            }
        }
    }
}


// Media Queries

@media screen and (max-width: 468px) {
    .main {
        &__content {
            grid-template-columns: 1fr;
        }
    }

    .content {
        &__nightmode {
            display: none;
        }
    }
}
