.snippet {
    white-space: pre-wrap;
    padding: 24px;
    background: #263238;
    line-height: 20px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    color: #fff;
    font-size: 12px;
    margin: 0;
    position: relative;

    .snippet-tag {
        color: #ff6188;
    }

    .snippet-attr {
        color: #a9dc76;
    }

    .snippet-val {
        color: #ffd866;
    }

    .snippet-sign {
        color: #fff;
    }
}
