$eve-chip-size: 2rem;

.eve-chip {
    align-items: center;
    background: $eve-color-bright-silver;
    border-radius: $eve-chip-size / 2;
    display: inline-flex;
    height: $eve-chip-size;
    padding: 0 $eve-spacing-12;
    vertical-align: top;

    .eve-avatar {
        font-size: $eve-font-12;
        height: 1.5rem;
        margin-left: -$eve-spacing-8;
        margin-right: $eve-spacing-8;
        width: 1.5rem;
    }

    i {
        background-color: $eve-color-darker-silver;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E"); // sass-lint:disable-line quotes
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1.125rem;
        border-radius: 50%;
        cursor: pointer;
        height: 1.125rem;
        margin: 0 (-$eve-spacing-4) 0 $eve-spacing-8;
        width: 1.125rem;

        &:hover {
            background-color: $eve-color-red;
        }
    }

    &.is-disabled {
        opacity: .5;
        pointer-events: none;
    }
}

.eve-chips {
    display: flex;
    flex-wrap: wrap;
    margin: -$eve-spacing-4;

    .eve-chip {
        margin: $eve-spacing-4;
    }
}
