.eve-profile {
    align-items: center;
    display: flex;

    .eve-avatar {
        margin-right: $eve-spacing-8;
    }
}

.eve-profiles {
    display: flex;
    flex-direction: column;
    margin: -$eve-spacing-4;

    .eve-profile {
        margin: $eve-spacing-4;
    }
}
