// sass-lint:disable no-important
$eve-text-colors: (
    primary: $eve-color-blue,
    danger: $eve-color-red,
    warning: $eve-color-orange,
    success: $eve-color-green,
    info: $eve-color-indigo,
    mute: $eve-color-darkest-silver
) !default;

@each $eve-text-color in map-keys($eve-text-colors) {
    .eve-color-#{$eve-text-color} {
        color: map-get($eve-text-colors, $eve-text-color) !important;
    }
}
