// scss-lint:disable ImportantRule
$eve-floats: (
    left,
    right
);

@each $eve-float in $eve-floats {
    .eve-float-#{$eve-float} {
        float: $eve-float !important;
    }
}

.eve-clearfix {
    &::before {
        content: '';
        display: table-cell;
    }

    &::after {
        content: '';
        display: table;
        clear: both;
    }
}
