// sass-lint:disable no-important
$eve-gaps: (
    x-tiny: $eve-spacing-x-tiny,
    tiny: $eve-spacing-tiny,
    small: $eve-spacing-small,
    normal: $eve-spacing-normal,
    large: $eve-spacing-large,
    x-large: $eve-spacing-x-large
);
$eve-sides: (
    top,
    right,
    bottom,
    left
);

@each $eve-gap in map-keys($eve-gaps) {
    $gap: map-get($eve-gaps, $eve-gap);

    &.eve-gap-#{$eve-gap} {
        padding: $gap !important;
    }

    @each $eve-side in $eve-sides {
        &.eve-gap-#{$eve-side}-#{$eve-gap} {
            @if $eve-side == 'top' {
                padding-top: $gap !important;
            } @else if $eve-side == 'right' {
                padding-right: $gap !important;
            } @else if $eve-side == 'bottom' {
                padding-bottom: $gap !important;
            } @else if $eve-side == 'left' {
                padding-left: $gap !important;
            }
        }
    }
}
