// sass-lint:disable no-important
$eve-gaps: (
    tiny: $eve-spacing-tiny,
    small: $eve-spacing-small,
    normal: $eve-spacing-normal,
    large: $eve-spacing-large
);
$eve-sides: (
    top,
    right,
    bottom,
    left,
    horizontal,
    vertical
);

@each $eve-gap in map-keys($eve-gaps) {
    $gap: map-get($eve-gaps, $eve-gap);

    &.eve-gap-#{$eve-gap} {
        margin: $gap !important;
    }

    @each $eve-side in $eve-sides {
        &.eve-gap-#{$eve-side}-#{$eve-gap} {
            @if $eve-side == 'top' {
                margin-top: $gap !important;
            } @else if $eve-side == 'right' {
                margin-right: $gap !important;
            } @else if $eve-side == 'bottom' {
                margin-bottom: $gap !important;
            } @else if $eve-side == 'left' {
                margin-left: $gap !important;
            } @else if $eve-side == 'horizontal' {
                margin-left: $gap !important;
                margin-right: $gap !important;
            } @else if $eve-side == 'vertical' {
                margin-bottom: $gap !important;
                margin-top: $gap !important;
            }
        }
    }
}

.eve-gap-none {
    margin: 0 !important;
}
