// sass-lint:disable no-important
$eve-spacings: (
    x-tiny: $eve-spacing-x-tiny,
    tiny: $eve-spacing-tiny,
    small: $eve-spacing-small,
    normal: $eve-spacing-normal,
    large: $eve-spacing-large,
    x-large: $eve-spacing-x-large
) !default;
$eve-sides: (
    top,
    right,
    bottom,
    left
) !default;

@each $eve-spacing in map-keys($eve-spacings) {
    $spacing: map-get($eve-spacings, $eve-spacing);

    &.eve-spacing-#{$eve-spacing} {
        margin: $spacing !important;
    }

    @each $eve-side in $eve-sides {
        &.eve-spacing-#{$eve-side}-#{$eve-spacing} {
            @if $eve-side == 'top' {
                margin-top: $spacing !important;
            } @else if $eve-side == 'right' {
                margin-right: $spacing !important;
            } @else if $eve-side == 'bottom' {
                margin-bottom: $spacing !important;
            } @else if $eve-side == 'left' {
                margin-left: $spacing !important;
            }
        }
    }
}
