// sass-lint:disable no-important
$eve-text-transforms: (
    lowercase,
    uppercase,
    capitalize
) !default;
$eve-text-alignments: (
    left,
    center,
    right
) !default;
$eve-text-sizes: (
    x-tiny: $eve-font-x-tiny,
    tiny: $eve-font-tiny,
    small: $eve-font-small,
    normal: $eve-font-normal,
    large: $eve-font-large,
    x-large: $eve-font-x-large
) !default;
$eve-text-colors: (
    primary: $eve-color-blue,
    danger: $eve-color-red,
    warning: $eve-color-orange,
    success: $eve-color-green,
    mute: $eve-color-darkest-silver
) !default;

@each $eve-text-transform in $eve-text-transforms {
    .eve-text-#{$eve-text-transform} {
        text-transform: $eve-text-transform !important;
    }
}

@each $eve-text-alignment in $eve-text-alignments {
    .eve-text-#{$eve-text-alignment} {
        text-align: $eve-text-alignment !important;
    }
}

.eve-text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal;
}

@each $eve-text-size in map-keys($eve-text-sizes) {
    .eve-text-#{$eve-text-size} {
        font-size: map-get($eve-text-sizes, $eve-text-size);
    }
}

@each $eve-text-color in map-keys($eve-text-colors) {
    .eve-text-#{$eve-text-color} {
        color: map-get($eve-text-colors, $eve-text-color) !important;
    }
}

.eve-text-unselectable {
    user-select: none;
}
