// sass-lint:disable no-important
$eve-text-transforms: (
    lowercase,
    uppercase
);
$eve-text-decorations: (
    underline
);
$eve-text-alignments: (
    left,
    center,
    right
);
$eve-text-colors: (
    primary: $eve-color-blue,
    danger: $eve-color-red,
    warning: $eve-color-orange,
    success: $eve-color-green,
    muted: $eve-color-silver
);

@each $eve-text-transform in $eve-text-transforms {
    .eve-text-#{$eve-text-transform} {
        text-transform: $eve-text-transform !important;
    }
}

@each $eve-text-decoration in $eve-text-decorations {
    .eve-text-#{$eve-text-decoration} {
        text-decoration: $eve-text-decoration !important;
    }
}

@each $eve-text-alignment in $eve-text-alignments {
    .eve-text-#{$eve-text-alignment} {
        text-align: $eve-text-alignment !important;
    }
}

@each $eve-text-color in map-keys($eve-text-colors) {
    .eve-text-#{$eve-text-color} {
        color: map-get($eve-text-colors, $eve-text-color) !important;
    }
}

.eve-text-truncate {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    word-wrap: normal !important;
}
