$eve-input-height: 32px;
$eve-input-border-radius: $eve-input-height / 2;

@mixin getEveInput() {
    height: $eve-input-height;
    border-radius: $eve-input-border-radius;
    background: $eve-neutral-color-50;
    border: 0;
    outline: none;
    padding: 0 $eve-spacing-small;
    font-size: $eve-font-size-normal;
    font-family: sans-serif;
    color: $eve-primary-color-grey;
    box-sizing: border-box;
    width: 100%;
}

.eve-input {
    @include getEveInput();

    &::placeholder {
        color: $eve-neutral-color-200;
    }

    &:focus {
        box-shadow: inset 0 0 0 1px $eve-neutral-color-100;
    }
}

// .eve-input-control {
//     display: flex;

//     .eve-button {
//         height: $eve-button-height - abs($eve-button-height - $eve-input-height);
//     }
// }
