<div class="component">
    <div class="component-title">Badge</div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-buttons">
                <button class="eve-button is-primary eve-badge">Notifications</button>
                <button class="eve-button is-primary eve-badge" data-badge="2">Notifications</button>
                <button class="eve-button is-primary eve-badge" data-badge="222">Notifications</button>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-buttons">
                <button class="eve-button is-primary is-outlined eve-badge">Notifications</button>
                <button class="eve-button is-primary is-outlined eve-badge" data-badge="2">Notifications</button>
                <button class="eve-button is-primary is-outlined eve-badge" data-badge="222">Notifications</button>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-avatar is-normal eve-badge">
                <img src="assets/images/avatar-1.jpg">
            </div>
            <div class="eve-avatar is-normal eve-badge" data-badge="2">
                <img src="assets/images/avatar-2.jpg">
            </div>
            <div class="eve-avatar is-normal eve-badge" data-badge="222">
                <img src="assets/images/avatar-3.jpg">
            </div>
        </div>
    </div>
</div>
