<div class="component">
    <div class="component-title">Color Picker</div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-color-picker">
                <ul>
                    <li class="is-selected" style="background: #2196F3;"></li>
                    <li style="background: #42A5F5;"></li>
                    <li style="background: #64B5F6;"></li>
                    <li style="background: #90CAF9;"></li>
                    <li style="background: #BBDEFB;"></li>
                </ul>
                <ul>
                    <li style="background: #4CAF50;"></li>
                    <li style="background: #66BB6A;"></li>
                    <li style="background: #81C784;"></li>
                    <li style="background: #A5D6A7;"></li>
                    <li style="background: #C8E6C9;"></li>
                </ul>
                <ul>
                    <li style="background: #FF9800;"></li>
                    <li style="background: #FFA726;"></li>
                    <li style="background: #FFB74D;"></li>
                    <li style="background: #FFCC80;"></li>
                    <li style="background: #FFE0B2;"></li>
                </ul>
                <ul>
                    <li style="background: #F44336;"></li>
                    <li style="background: #EF5350;"></li>
                    <li style="background: #E57373;"></li>
                    <li style="background: #EF9A9A;"></li>
                    <li style="background: #FFCDD2;"></li>
                </ul>
                <ul>
                    <li style="background: #607D8B;"></li>
                    <li style="background: #78909C;"></li>
                    <li style="background: #90A4AE;"></li>
                    <li style="background: #B0BEC5;"></li>
                    <li style="background: #CFD8DC;"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
