<div class="component">
    <div class="component-title">Progress</div>
    <div class="component-content">
        <div class="component-header">Line</div>
        <div class="component-example">
            <div class="eve-progress-line"></div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Oval</div>
        <div class="component-example">
            <div class="eve-progress-oval"></div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Labeled Oval</div>
        <div class="component-example">
            <div class="eve-progress-oval" data-label="Loading..."></div>
        </div>
    </div>
</div>
