<div class="component">
    <div class="component-title">Radio</div>
    <div class="component-content">
        <div class="component-header">Default radio</div>
        <div class="component-example">
            <div class="eve-radio">
                <input type="radio">
                <div class="eve-radio-mark"></div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Radio with label</div>
        <div class="component-example">
            <label class="eve-radio-control">
                <div class="eve-radio">
                    <input type="radio">
                    <div class="eve-radio-mark"></div>
                </div>
                Radio control #1
            </label>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">List of radios</div>
        <div class="component-example">
            <div class="eve-radios">
                <label class="eve-radio-control">
                    <div class="eve-radio">
                        <input type="radio" name="eve-radio2">
                        <div class="eve-radio-mark"></div>
                    </div>
                    Radio control #1
                </label>
                <label class="eve-radio-control">
                    <div class="eve-radio">
                        <input type="radio" name="eve-radio2">
                        <div class="eve-radio-mark"></div>
                    </div>
                    Radio control #2
                </label>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Grouped radios</div>
        <div class="component-example">
            <div class="eve-radios is-inline">
                <label class="eve-radio-control">
                    <div class="eve-radio">
                        <input type="radio" name="eve-radio">
                        <div class="eve-radio-mark"></div>
                    </div>
                    Radio control #1
                </label>
                <label class="eve-radio-control">
                    <div class="eve-radio">
                        <input type="radio" name="eve-radio">
                        <div class="eve-radio-mark"></div>
                    </div>
                    Radio control #2
                </label>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Disabled radio</div>
        <div class="component-example">
            <div class="eve-radio">
                <input type="radio" disabled="disabled">
                <div class="eve-radio-mark"></div>
            </div>
            <div class="eve-radio">
                <input type="radio" disabled="disabled" checked="checked">
                <div class="eve-radio-mark"></div>
            </div>
        </div>
    </div>
</div>
