<div class="component">
    <div class="component-title">Switch</div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-switch">
                <input type="checkbox">
                <div class="eve-switch-mark"></div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Labeled</div>
        <div class="component-example">
            <label class="eve-switch-control">
                <div class="eve-switch">
                    <input type="checkbox">
                    <div class="eve-switch-mark"></div>
                </div>
                Switch control
            </label>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">List</div>
        <div class="component-example">
            <div class="eve-switches">
                <label class="eve-switch-control">
                    <div class="eve-switch">
                        <input type="checkbox">
                        <div class="eve-switch-mark"></div>
                    </div>
                    Switch control 1
                </label>
                <label class="eve-switch-control">
                    <div class="eve-switch">
                        <input type="checkbox">
                        <div class="eve-switch-mark"></div>
                    </div>
                    Switch control 2
                </label>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Grouped</div>
        <div class="component-example">
            <div class="eve-switches is-inline">
                <label class="eve-switch-control">
                    <div class="eve-switch">
                        <input type="checkbox">
                        <div class="eve-switch-mark"></div>
                    </div>
                    Switch control 1
                </label>
                <label class="eve-switch-control">
                    <div class="eve-switch">
                        <input type="checkbox">
                        <div class="eve-switch-mark"></div>
                    </div>
                    Switch control 2
                </label>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Disabled</div>
        <div class="component-example">
            <div class="eve-switch">
                <input type="checkbox" disabled="disabled">
                <div class="eve-switch-mark"></div>
            </div>
            <div class="eve-switch">
                <input type="checkbox" disabled="disabled" checked="checked">
                <div class="eve-switch-mark"></div>
            </div>
        </div>
    </div>
</div>
