$eve-font-size-tiny: 10px !default;
$eve-font-size-small: 12px !default;
$eve-font-size-normal: 14px !default;
$eve-font-size-large: 16px !default;
$eve-font-size-x-large: 20px !default;
$eve-font-size-huge: 48px !default;
