<div id="feedback" class="component">
    <div class="component-title">Feedback</div>
    <div class="component-content">
        <div class="component-header">Feedback default</div>
        <div class="component-example">
            <div class="eve-feedback eve-feedback-success">Feedback success</div>
            <div class="eve-feedback eve-feedback-warning">Feedback warning</div>
            <div class="eve-feedback eve-feedback-danger">Feedback danger</div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Feedback with action</div>
        <div class="component-example">
            <div class="eve-feedback eve-feedback-success">
                Feedback success
                <div class="eve-feedback-action">
                    <button class="eve-button eve-button-success eve-button-text">Action</button>
                </div>
            </div>
            <div class="eve-feedback eve-feedback-warning">
                Feedback warning
                <div class="eve-feedback-action">
                    <button class="eve-button eve-button-warning eve-button-text">Action</button>
                </div>
            </div>
            <div class="eve-feedback eve-feedback-danger">
                Feedback danger
                <div class="eve-feedback-action">
                    <button class="eve-button eve-button-danger eve-button-text">Action</button>
                </div>
            </div>
        </div>
    </div>
</div>
