// sass-lint:disable no-color-literals
.component {
    &:not(:last-child) {
        margin-bottom: 64px;
    }

    .component-title {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 600;
    }

    .component-description {
        line-height: 20px;
        margin-bottom: 64px;
        display: none;
    }

    .component-content {
        &:not(:last-child) {
            margin-bottom: 64px;
        }

        .component-header {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 24px;
        }

        .component-example {
            margin-bottom: 24px;

            &.is-center {
                text-align: center;
            }
        }
    }
}
