// sass-lint:disable no-color-literals
.component {
    &:not(:last-child) {
        margin-bottom: 64px;
    }

    .component-title {
        margin-bottom: 24px;
        font-size: 24px;
        font-weight: 600;
    }

    .component-description {
        line-height: 20px;
        margin-bottom: 56px;
    }

    .component-content {
        &:not(:last-child) {
            margin-bottom: 64px;
        }

        .component-header {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 24px;
        }

        .component-example {
            margin-bottom: 24px;
        }

        .component-list {
            list-style-type: circle;
            line-height: 24px;
            font-size: 14px;
        }
    }
}
