// sass-lint:disable no-ids, no-color-literals
#installation,
#code-requirements,
#icons,
#starter-template,
#browser-support {
    h3 {
        margin-bottom: 24px;
    }

    p {
        margin-bottom: 16px;
    }

    ul {
        margin-bottom: 16px;
        list-style-type: circle;
        line-height: 24px;
        padding-left: 32px;
    }
}
