// sass-lint:disable no-color-literals,no-vendor-prefixes
.snippet {
    margin: 0;
    white-space: pre-wrap;
    padding: 24px;
    background: #263238;
    line-height: 18px;
    font-family: monospace;
    color: #fff;
    font-size: 12px;

    .snippet-tag {
        color: #ff6188;
    }

    .snippet-attr {
        color: #a9dc76;
    }

    .snippet-val {
        color: #ffd866;
    }

    .snippet-sign {
        color: #fff;
    }
}
