// sass-lint:disable no-color-literals,no-vendor-prefixes
.snippet {
    white-space: pre-wrap;
    padding: 24px;
    background: #263238;
    line-height: 20px;
    font-family: 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', Menlo, Courier, monospace;
    color: #d4d4d4;
    font-size: 12px;
    margin: 0;

    .snippet-tag {
        color: #569cd6;
    }

    .snippet-attr {
        color: #9cdcfe;
    }

    .snippet-val {
        color: #ce9178;
    }

    .snippet-sign {
        color: #808080;
    }
}
