// sass-lint:disable no-color-literals,no-vendor-prefixes
@charset 'utf-8';

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #cfd8dc;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #333;
    margin: 0;
    font-size: 14px;
}

a {
    color: #2196f3;
}

.container {
    display: flex;
    height: 100%;

    .sidebar {
        background: #2196f3;
        background-image: linear-gradient(#2196f3 0%, #2156ff 100%);
        width: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 48px 0 24px;
        box-sizing: border-box;

        .sidebar-eve {
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: none;
        }

        .sidebar-github-link {
            display: flex;

            .sidebar-github-icon {
                fill: #fff;
            }
        }
    }

    .navigation {
        width: 240px;
        background: #eceff1;
        padding: 48px 0 24px;
        overflow: auto;
        box-sizing: border-box;

        .navigation-header {
            padding: 0 48px;
            margin-bottom: 16px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
        }

        .navigation-list {
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }

        .navigation-list-item {
            padding-left: 64px;
            cursor: pointer;
            text-decoration: none;
            display: block;
            color: #333;
            margin-bottom: 16px;

            &:hover {
                color: #2196f3;
            }

            &.navigation-list-item-active {
                color: #2196f3;
                font-weight: 600;
            }
        }
    }

    .content {
        flex: 1;
        overflow: auto;
        height: 100%;
        padding: 48px;
        box-sizing: border-box;
    }
}

.eve-grid {
    .eve-cell,
    .eve-cell-1,
    .eve-cell-2,
    .eve-cell-3,
    .eve-cell-4,
    .eve-cell-5,
    .eve-cell-6,
    .eve-cell-7,
    .eve-cell-8,
    .eve-cell-9,
    .eve-cell-10,
    .eve-cell-11,
    .eve-cell-12 {
        & > div {
            background: #eceff1;
            color: #333;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.eve-spacing-x-tiny,
.eve-spacing-top-x-tiny,
.eve-spacing-right-x-tiny,
.eve-spacing-bottom-x-tiny,
.eve-spacing-left-x-tiny,
.eve-spacing-tiny,
.eve-spacing-top-tiny,
.eve-spacing-right-tiny,
.eve-spacing-bottom-tiny,
.eve-spacing-left-tiny,
.eve-spacing-small,
.eve-spacing-top-small,
.eve-spacing-right-small,
.eve-spacing-bottom-small,
.eve-spacing-left-small,
.eve-spacing-normal,
.eve-spacing-top-normal,
.eve-spacing-right-normal,
.eve-spacing-bottom-normal,
.eve-spacing-left-normal,
.eve-spacing-large,
.eve-spacing-top-large,
.eve-spacing-right-large,
.eve-spacing-bottom-large,
.eve-spacing-left-large,
.eve-spacing-x-large,
.eve-spacing-top-x-large,
.eve-spacing-right-x-large,
.eve-spacing-bottom-x-large,
.eve-spacing-left-x-large {
    background: #eceff1;
    border: 1px dotted #2196f3;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

@import 'foundation-color';
@import 'foundation-spacing';
@import 'snippet';
@import 'component';
