// sass-lint:disable no-color-literals,no-vendor-prefixes
@charset 'utf-8';

html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    height: 100%;
}

body {
    margin: 0;
    background: #fff;
    font-size: 14px;
    height: 100%;
    color: #333;
}

body,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

.container {
    display: flex;
    height: 100%;

    .content {
        flex: 1;
        overflow: auto;
        height: 100%;
        padding: 0 96px;
    }
}

// .github-link {
//     .github-icon {
//         fill: #24292f;
//     }
// }

@import 'navigation';
@import 'component';
@import 'component-color';
@import 'component-spacing';
@import 'snippet';
