$eve-checkbox-size: 1.125rem;

.eve-checkbox {
    align-items: center;
    display: flex;
    position: relative;

    input {
        &[type='checkbox'] {
            cursor: pointer;
            height: $eve-checkbox-size;
            left: 0;
            margin: 0;
            opacity: 0;
            padding: 0;
            position: absolute;
            width: $eve-checkbox-size;

            &:checked ~ i {
                background: $eve-color-green;
                border-color: $eve-color-green;

                &::after {
                    border-bottom: .125rem solid $eve-color-white;
                    border-right: .125rem solid $eve-color-white;
                    content: '';
                    display: block;
                    height: calc(100% - #{$eve-checkbox-size / 4});
                    left: 50%;
                    position: absolute;
                    top: calc(50% - .125rem);
                    transform: translate(-50%, -50%) rotate(45deg);
                    width: calc(100% - #{$eve-checkbox-size / 2});
                    box-sizing: content-box; // TODO: Remove this later
                }
            }
        }
    }

    i {
        background: $eve-color-white;
        border: .125rem solid $eve-color-darker-silver;
        flex-shrink: 0;
        height: $eve-checkbox-size;
        margin-right: $eve-spacing-8;
        pointer-events: none;
        position: relative;
        width: $eve-checkbox-size;
    }

    &.is-disabled {
        opacity: .5;
        pointer-events: none;
    }
}

.eve-checkboxes {
    display: flex;
    flex-direction: column;
    margin: -$eve-spacing-4;

    .eve-checkbox {
        margin: $eve-spacing-4;
    }
}
