$eve-radio-size: 1.125rem;

.eve-radio {
    align-items: center;
    display: flex;
    position: relative;

    input {
        &[type='radio'] {
            cursor: pointer;
            height: $eve-radio-size;
            left: 0;
            margin: 0;
            opacity: 0;
            padding: 0;
            position: absolute;
            width: $eve-radio-size;

            &:checked ~ i {
                background: $eve-color-green;
                border-color: $eve-color-green;

                &::after {
                    border: .1875rem solid $eve-color-white;
                    border-radius: inherit;
                    content: '';
                    display: block;
                    height: 100%;
                }
            }
        }
    }

    i {
        background: $eve-color-white;
        border: .125rem solid $eve-color-darker-silver;
        border-radius: 50%;
        flex-shrink: 0;
        height: $eve-radio-size;
        margin-right: $eve-spacing-8;
        pointer-events: none;
        width: $eve-radio-size;
    }

    &.is-disabled {
        opacity: .5;
        pointer-events: none;
    }
}

.eve-radios {
    display: flex;
    flex-direction: column;
    margin: -$eve-spacing-4;

    .eve-radio {
        margin: $eve-spacing-4;
    }
}
