.eve-form-group {
    margin: 0 0 $eve-spacing-small;

    .eve-form-label {
        display: inline-block;
        font-size: $eve-font-normal;
        margin: 0 0 $eve-spacing-tiny;
    }

    .eve-form-help {
        color: $eve-color-darkest-silver;
        font-size: $eve-font-small;
        margin-top: $eve-spacing-tiny;
    }

    &.is-inline {
        align-items: center;
        display: inline-flex;
        margin: 0 $eve-spacing-small 0 0;

        .eve-form-label {
            flex-shrink: 0;
            margin: 0 $eve-spacing-tiny 0 0;
        }
    }
}

.eve-form-control {
    display: flex;

    .eve-button {
        flex-shrink: 0;
    }
}
