$eve-accordion-height: 32px !default;

.eve-accordion {
    font-size: $eve-font-small;

    & > input {
        &:checked {
            & ~ .eve-accordion-header {
                background: $eve-color-blue;
                color: $eve-color-white;
            }

            & ~ .eve-accordion-body {
                display: block;
            }
        }
    }

    .eve-accordion-header {
        background: $eve-color-bright-silver;
        color: $eve-color-grey-black;
        display: block;
        height: $eve-accordion-height;
        line-height: $eve-accordion-height;
        padding: 0 $eve-spacing-small;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .eve-accordion-body {
        display: none;
        padding: $eve-spacing-tiny $eve-spacing-small;
    }
}

.eve-accordion-list {
    .eve-accordion {
        &:not(:last-child) {
            margin-bottom: $eve-spacing-x-tiny;
        }
    }
}
