$eve-accordion-size: 2rem;

.eve-accordion {
    border-left: 1px solid $eve-color-dark-silver;
    padding-left: $eve-spacing-8;
    font-size: $eve-font-14;

    > input {
        display: none;

        &:checked {
            ~ .eve-accordion-content {
                display: block;
            }
        }
    }

    .eve-accordion-header {
        align-items: center;
        background-color: $eve-color-bright-silver;
        color: $eve-color-blue;
        cursor: pointer;
        display: flex;
        height: $eve-accordion-size;
        overflow: hidden;
        padding: 0 $eve-spacing-16;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-transform: uppercase;
    }

    .eve-accordion-content {
        display: none;
        padding: $eve-spacing-8 $eve-spacing-16;
    }
}

.eve-accordions {
    .eve-accordion {
        margin-bottom: $eve-spacing-8;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
