$eve-accordion-header-height: 2rem;

.eve-accordion {
    border-left: 1px solid $eve-color-blue;
    font-size: $eve-font-14;
    line-height: 1.25rem;
    padding-left: .5rem;

    > input {
        display: none;

        &:checked {
            ~ .eve-accordion-content {
                display: block;
            }
        }
    }

    .eve-accordion-header {
        background-color: $eve-color-bright-silver;
        color: $eve-color-blue;
        cursor: pointer;
        display: block;
        height: $eve-accordion-header-height;
        line-height: $eve-accordion-header-height;
        overflow: hidden;
        padding: 0 1rem;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;

        .eve-accordion-header-icon {
            align-items: center;
            background: $eve-color-blue;
            display: flex;
            height: $eve-accordion-header-height;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 0;
            width: $eve-accordion-header-height;

            svg {
                fill: $eve-color-white;
                height: 1.125rem;
                width: 1.125rem;
            }
        }
    }

    .eve-accordion-content {
        color: $eve-color-black;
        display: none;
        padding: .5rem 1rem;
    }

    &.has-icon {
        .eve-accordion-header {
            padding-right: 3rem;
        }
    }
}

.eve-accordions {
    display: flex;
    flex-direction: column;
    margin: -.25rem;

    .eve-accordion {
        margin: .25rem;
    }
}
