$eve-avatar-size: 2rem;

.eve-avatar {
    border-radius: 50%;
    flex-shrink: 0;
    height: $eve-avatar-size;
    line-height: $eve-avatar-size;
    justify-content: center;
    width: $eve-avatar-size;
    background: $eve-color-bright-silver;
    font-size: $eve-font-16;
    color: $eve-color-black;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;

    img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: inherit;
        height: inherit;
        object-fit: cover;
        object-position: center;
        width: inherit;
    }

    &[data-initials] {
        &::before {
            content: attr(data-initials);
        }
    }

    &.is-disabled {
        opacity: .5;
        pointer-events: none;
    }
}

.eve-avatars {
    display: flex;
    flex-wrap: wrap;
    margin: -$eve-spacing-4;

    .eve-avatar {
        margin: $eve-spacing-4;
    }
}

.eve-profile {
    display: flex;
    align-items: center;

    .eve-avatar {
        margin-right: $eve-spacing-8;
    }
}
