$eve-avatar-sizes: (
    x-tiny: 16px,
    tiny: 24px,
    small: 28px,
    normal: 32px,
    large: 40px,
    x-large: 96px
) !default;
$eve-avatar-border-radius: 50% !default;
$eve-avatar-state-border-radius: 50% !default;

@mixin get-eve-avatar-size($size) {
    width: $size;
    height: $size;
    line-height: $size;
}

.eve-avatar {
    display: inline-block;
    text-align: center;
    border-radius: $eve-avatar-border-radius;
    vertical-align: middle;
    color: $eve-color-white;
    position: relative;
    box-sizing: border-box;

    &[data-initial] {
        background: $eve-color-blue;

        &::before {
            content: attr(data-initial);
            font-weight: 600;
        }
    }

    img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        object-position: center;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: $eve-avatar-border-radius;
        width: inherit;
        height: inherit;
    }

    @each $eve-avatar-size in map-keys($eve-avatar-sizes) {
        &.eve-avatar-#{$eve-avatar-size} {
            @include get-eve-avatar-size(map-get($eve-avatar-sizes, $eve-avatar-size));

            &[data-initial] {
                &::before {
                    @if $eve-avatar-size == 'x-tiny' {
                        font-size: $eve-font-tiny;
                    } @else if $eve-avatar-size == 'large' {
                        font-size: $eve-font-large;
                    } @else if $eve-avatar-size == 'x-large' {
                        font-size: $eve-font-huge;
                    } @else {
                        font-size: $eve-font-small;
                    }
                }
            }

            &.eve-avatar-online,
            &.eve-avatar-busy,
            &.eve-avatar-away,
            &.eve-avatar-offline {
                &::after {
                    content: '';
                    display: block;
                    height: map-get($eve-avatar-sizes, $eve-avatar-size) / 4;
                    width: map-get($eve-avatar-sizes, $eve-avatar-size) / 4;
                    border-radius: $eve-avatar-state-border-radius;
                    position: absolute;
                    bottom: 0;
                    right: 0;

                    @if $eve-avatar-size == 'x-tiny' or $eve-avatar-size == 'tiny' {
                        border: 1px solid $eve-color-white;
                    } @else {
                        border: 2px solid $eve-color-white;
                    }
                }
            }

            &.eve-avatar-online {
                &::after {
                    background: $eve-color-green;
                }
            }

            &.eve-avatar-busy {
                &::after {
                    background: $eve-color-red;
                }
            }

            &.eve-avatar-away {
                &::after {
                    background: $eve-color-orange;
                }
            }

            &.eve-avatar-offline {
                &::after {
                    background: $eve-color-dark-silver;
                }
            }
        }
    }
}
