$eve-badge-size: 1.125rem;

.eve-badge {
    position: relative;

    &::after {
        content: attr(data-badge);
        background: $eve-color-danger;
        border-radius: $eve-badge-size / 2;
        box-shadow: 0 0 0 .125rem $eve-color-light;
        height: $eve-badge-size;
        line-height: $eve-badge-size;
        text-align: center;
        padding: 0 .25rem;
        min-width: $eve-badge-size;
        color: $eve-color-light;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        font-weight: normal;
        font-size: $eve-font-small;
        box-sizing: border-box;
    }

    &:not([data-badge]) {
        &::after {
            width: $eve-badge-size / 2;
            height: $eve-badge-size / 2;
            min-width: $eve-badge-size / 2;
            padding: 0;
            transform: none;
        }
    }
}
