.eve-board {
    width: 100%;
    height: 100%;
    border-spacing: $eve-spacing-8;

    thead {
        .eve-board-sections {
            height: .25rem;

            .eve-board-section {
                border-radius: .25rem;

                &.is-backlog {
                    background: $eve-color-bright-silver;
                }

                &.is-requested {
                    background: $eve-color-blue;
                }

                &.is-progress {
                    background: $eve-color-orange;
                }

                &.is-done {
                    background: $eve-color-green;
                }

                &.is-archive {
                    background: $eve-color-purple;
                }
            }
        }

        .eve-board-columns {
            .eve-board-column {
                box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
                font-weight: normal;
                height: 2rem;
                padding: 0 $eve-spacing-16;
                min-width: 10rem;
                cursor: pointer;
                background: $eve-color-white;
                border-radius: .25rem;
                overflow: hidden;

                .eve-board-column-label {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .eve-board-column-name {
                        font-size: $eve-font-12;
                        text-transform: uppercase;
                        font-weight: bold;
                    }

                    .eve-board-column-capacity {
                        margin-left: $eve-spacing-8;
                        height: 1.5rem;
                        min-width: 1.5rem;
                        background-color: $eve-color-bright-silver;
                        border-radius: 999px;
                        padding: 0 $eve-spacing-8;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: $eve-font-12;
                        flex-shrink: 0;

                        .eve-board-column-size {
                            font-weight: bold;
                        }

                        .eve-board-column-limit {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &::before {
                                content: '/';
                                display: block;
                                margin: 0 $eve-spacing-4;
                            }
                        }
                    }

                    .eve-board-column-policy {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: $eve-spacing-8;
                        flex-shrink: 0;

                        svg {
                            width: 1.125rem;
                            height: 1.125rem;
                            fill: $eve-color-black;
                        }
                    }
                }

                &.is-collapsed {
                    width: 2rem;
                    min-width: 2rem;
                    max-width: 2rem;

                    .eve-board-column-label {
                        .eve-board-column-name {
                            display: none;
                        }

                        .eve-board-column-capacity {
                            margin: 0;

                            .eve-board-column-limit {
                                display: none;
                            }
                        }
                    }
                }

                &.is-limit-reached {
                    background: $eve-color-bright-orange;

                    .eve-board-column-label {
                        .eve-board-column-capacity {
                            background: $eve-color-orange;
                            color: $eve-color-white;
                        }
                    }
                }

                &.is-limit-exceeded {
                    background: $eve-color-bright-red;

                    .eve-board-column-label {
                        .eve-board-column-capacity {
                            background: $eve-color-red;
                            color: $eve-color-white;
                        }
                    }
                }
            }
        }
    }

    tbody {
        .eve-board-columns {
            .eve-board-column {
                background: $eve-color-bright-silver;
                border-radius: .25rem;
                overflow: hidden;
                padding: $eve-spacing-8;
                vertical-align: top;

                .eve-board-cell {
                    border-radius: .25rem;
                    overflow: hidden;
                    padding: 0 $eve-spacing-16;
                    background: $eve-color-white;

                    .eve-board-cell-label {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 2rem;

                        .eve-board-cell-name {
                            font-size: $eve-font-12;
                            text-transform: uppercase;
                            font-weight: bold;
                        }

                        .eve-board-cell-capacity {
                            margin-left: $eve-spacing-8;
                            height: 1.5rem;
                            min-width: 1.5rem;
                            background-color: $eve-color-bright-silver;
                            border-radius: 999px;
                            padding: 0 $eve-spacing-8;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: $eve-font-12;
                            flex-shrink: 0;

                            .eve-board-cell-size {
                                font-weight: bold;
                            }

                            .eve-board-cell-limit {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                &::before {
                                    content: '/';
                                    display: block;
                                    margin: 0 $eve-spacing-4;
                                }
                            }
                        }
                    }

                    &.is-limit-reached {
                        background: $eve-color-bright-orange;

                        .eve-board-cell-label {
                            .eve-board-cell-capacity {
                                background: $eve-color-orange;
                                color: $eve-color-white;
                            }
                        }
                    }

                    &.is-limit-exceeded {
                        background: $eve-color-bright-red;

                        .eve-board-cell-label {
                            .eve-board-cell-capacity {
                                background: $eve-color-red;
                                color: $eve-color-white;
                            }
                        }
                    }
                }

                &.is-collapsed {
                    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
                    background: $eve-color-white;
                    position: relative;
                    cursor: pointer;

                    .eve-board-column-label {
                        position: absolute;
                        top: 50%;
                        left: 1rem;
                        background: none;
                        transform-origin: 0 0;
                        transform: rotate(90deg) translate(-50%, -50%);
                        white-space: nowrap;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .eve-board-column-name {
                            font-size: $eve-font-12;
                            text-transform: uppercase;
                            font-weight: bold;
                        }

                        .eve-board-column-capacity {
                            margin-left: $eve-spacing-8;
                            height: 1.5rem;
                            min-width: 1.5rem;
                            background-color: $eve-color-bright-silver;
                            border-radius: 999px;
                            padding: 0 $eve-spacing-8;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: $eve-font-12;
                            flex-shrink: 0;

                            .eve-board-column-size {
                                font-weight: bold;
                            }

                            .eve-board-column-limit {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                &::before {
                                    content: '/';
                                    display: block;
                                    margin: 0 $eve-spacing-4;
                                }
                            }
                        }
                    }

                    &.is-limit-reached {
                        background: $eve-color-bright-orange;

                        .eve-board-column-label {
                            .eve-board-column-capacity {
                                background: $eve-color-orange;
                                color: $eve-color-white;
                            }
                        }
                    }

                    &.is-limit-exceeded {
                        background: $eve-color-bright-red;

                        .eve-board-column-label {
                            .eve-board-column-capacity {
                                background: $eve-color-red;
                                color: $eve-color-white;
                            }
                        }
                    }
                }
            }

            &.is-collapsed {
                display: none;
            }
        }

        .eve-board-lane {
            height: 2rem;
            cursor: pointer;

            td {
                border-radius: .25rem;

                .eve-board-lane-label {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .eve-board-lane-name {
                        font-size: $eve-font-12;
                        text-transform: uppercase;
                        font-weight: bold;
                    }

                    .eve-board-lane-capacity,
                    .eve-board-lane-summary {
                        margin-left: $eve-spacing-8;
                        height: 1.5rem;
                        min-width: 1.5rem;
                        background-color: $eve-color-bright-silver;
                        border-radius: 999px;
                        padding: 0 $eve-spacing-8;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $eve-color-black;
                        font-size: $eve-font-12;
                        text-transform: uppercase;
                        flex-shrink: 0;
                    }
                }
            }

            &.is-collapsed {
                td {
                    .eve-board-lane-label {
                        .eve-board-lane-capacity {
                            display: none;
                        }

                        .eve-board-lane-summary {
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}
