$eve-breadcrumb-font-size: $eve-font-normal !default;
$eve-breadcrumb-separator-padding: 0 $eve-spacing-tiny $eve-spacing-x-tiny !default;
$eve-breadcrumb-item-color: $eve-color-dark !default;
$eve-breadcrumb-item-hover-color: $eve-color-primary !default;
$eve-breadcrumb-item-active-color: $eve-color-primary !default;

.eve-breadcrumb {
    display: flex;
    font-size: $eve-breadcrumb-font-size;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        &:not(:last-child) {
            &::after {
                content: '/';
                padding: $eve-breadcrumb-separator-padding;
            }
        }

        a {
            color: $eve-breadcrumb-item-color;
            text-decoration: none;

            &:hover {
                color: $eve-breadcrumb-item-hover-color;
                text-decoration: underline;
            }
        }

        &.is-active {
            a {
                color: $eve-breadcrumb-item-active-color;
            }
        }

        &.is-disabled {
            cursor: default;

            a {
                color: $eve-color-dark-silver;
                cursor: inherit;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
