.eve-breadcrumb {
    font-size: $eve-font-small;

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            &:not(:last-child) {
                &::after {
                    content: '/';
                    padding: 0 $eve-spacing-tiny 0 $eve-spacing-x-tiny;
                }
            }

            a {
                text-decoration: none;
                color: $eve-color-dark;

                &:hover {
                    text-decoration: underline;
                    color: $eve-color-primary;
                }
            }

            &.is-active {
                a {
                    color: $eve-color-primary;
                    pointer-events: none;
                }
            }
        }
    }
}
