.eve-breadcrumb {
    display: flex;
    font-size: $eve-font-14;
    line-height: 1.25rem;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        cursor: pointer;
        display: flex;

        &:not(:last-child) {
            &::after {
                color: $eve-color-black;
                content: '/';
                padding: 0 $eve-spacing-16;
            }
        }

        &:hover,
        &.is-active {
            color: $eve-color-blue;
        }

        &.is-disabled {
            opacity: .5;
            pointer-events: none;
        }
    }
}
