$eve-button-colors: (
    primary: $eve-color-blue,
    success: $eve-color-green,
    warning: $eve-color-orange,
    danger: $eve-color-red
) !default;
$eve-button-hover-colors: (
    primary: #1976d2,
    success: #388e3c,
    warning: #f57c00,
    danger: #d32f2f
) !default;
$eve-button-active-colors: (
    primary: #1565c0,
    success: #2e7d32,
    warning: #ef6c00,
    danger: #c62828
) !default;
$eve-button-height: 36px !default;
$eve-button-border-radius: $eve-button-height / 2 !default;

.eve-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: $eve-button-height;
    padding: 0 $eve-spacing-small;
    border: 0;
    text-decoration: none;
    color: $eve-color-white;
    cursor: pointer;
    border-radius: $eve-button-border-radius;
    font-size: $eve-font-normal;
    outline: none;
    user-select: none;
    box-sizing: border-box;
    vertical-align: top;

    i {
        font-size: 18px;
        margin-right: $eve-spacing-x-tiny;
    }

    @each $eve-button-color in map-keys($eve-button-colors) {
        &.eve-button-#{$eve-button-color} {
            background: map-get($eve-button-colors, $eve-button-color);

            &:hover {
                background: map-get($eve-button-hover-colors, $eve-button-color);
            }

            &:active {
                background: map-get($eve-button-active-colors, $eve-button-color);
            }

            &.eve-button-outline {
                color: map-get($eve-button-colors, $eve-button-color);
                border: 1px solid map-get($eve-button-colors, $eve-button-color);
                background: transparent;

                &:hover {
                    background: rgba(map-get($eve-button-colors, $eve-button-color), .1); // sass-lint:disable-line no-color-literals
                }

                &:active {
                    background: rgba(map-get($eve-button-colors, $eve-button-color), .2); // sass-lint:disable-line no-color-literals
                }
            }

            &.eve-button-invert {
                text-transform: uppercase;
                background: transparent;
                border: 0;
                color: map-get($eve-button-colors, $eve-button-color);
                font-weight: bold;

                &:hover {
                    background: rgba(map-get($eve-button-colors, $eve-button-color), .1); // sass-lint:disable-line no-color-literals
                }

                &:active {
                    background: rgba(map-get($eve-button-colors, $eve-button-color), .2); // sass-lint:disable-line no-color-literals
                }
            }

            &.eve-button-text {
                text-transform: uppercase;
                background: transparent;
                border: 0;
                color: map-get($eve-button-colors, $eve-button-color);
                font-weight: bold;

                &:hover {
                    color: map-get($eve-button-hover-colors, $eve-button-color);
                }

                &:active {
                    color: map-get($eve-button-active-colors, $eve-button-color);
                }
            }

            &.eve-button-icon {
                padding: 0;
                width: $eve-button-height;
                height: $eve-button-height;
                border-radius: 100%;
                color: $eve-color-darker-silver;
                background: transparent;

                i {
                    margin-right: 0;
                }

                &:hover {
                    background: rgba(map-get($eve-button-colors, $eve-button-color), .1); // sass-lint:disable-line no-color-literals
                    color: map-get($eve-button-colors, $eve-button-color);
                }

                &:active {
                    background: rgba(map-get($eve-button-colors, $eve-button-color), .2); // sass-lint:disable-line no-color-literals
                    color: map-get($eve-button-colors, $eve-button-color);
                }
            }
        }
    }

    &.eve-button-disable {
        pointer-events: none;
        background: $eve-color-darker-silver;

        &.eve-button-outline {
            background: $eve-color-darker-silver;
            border-color: $eve-color-darker-silver;
            color: $eve-color-white;
        }

        &.eve-button-invert,
        &.eve-button-text {
            background: transparent;
            color: $eve-color-darker-silver;
        }
    }
}

.eve-button-group {
    display: inline-flex;

    .eve-button {
        i {
            margin: 0;
        }

        &:not(:last-child) {
            border-right: 1px solid $eve-color-white;
        }

        &:not(:first-child) {
            &:not(:last-child) {
                border-radius: 0;
            }
        }

        &:first-child {
            &:not(:last-child) {
                border-radius: $eve-button-border-radius 0 0 $eve-button-border-radius;
            }
        }

        &:last-child {
            &:not(:first-child) {
                border-radius: 0 $eve-button-border-radius $eve-button-border-radius 0;
            }
        }
    }
}
