$eve-button-colors: (
    primary: $eve-color-primary,
    success: $eve-color-success,
    warning: $eve-color-warning,
    danger: $eve-color-danger
);
$eve-button-sizes: (
    small: 28px,
    normal: 36px,
    large: 48px
);
$eve-button-paddings: (
    small: $eve-spacing-tiny,
    normal: $eve-spacing-small,
    large: $eve-spacing-normal
);
$eve-button-font-sizes: (
    small: $eve-font-tiny,
    normal: $eve-font-small,
    large: $eve-font-normal
);

.eve-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    text-decoration: none;
    color: $eve-color-light;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
    font-family: inherit;

    &:hover,
    &:active,
    &:focus {
        color: $eve-color-light;
    }

    &:focus {
        text-decoration: none;
    }

    i {
        margin-right: $eve-spacing-x-tiny;
    }

    svg {
        margin-right: $eve-spacing-x-tiny;
        fill: $eve-color-light;
    }

    @each $eve-button-size in map-keys($eve-button-sizes) {
        $size: map-get($eve-button-sizes, $eve-button-size);
        $padding: map-get($eve-button-paddings, $eve-button-size);
        $font-size: map-get($eve-button-font-sizes, $eve-button-size);

        @if $eve-button-size == 'normal' {
            height: $size;
            line-height: $size;
            padding: 0 $padding;
            font-size: $font-size;

            i {
                font-size: $size / 2;
            }

            svg {
                width: $size / 2;
                height: $size / 2;
            }

            &.is-loading {
                &::after {
                    top: calc(50% - #{$size / 4});
                    left: calc(50% - #{$size / 4});
                    width: $size / 2;
                    height: $size / 2;
                }
            }

            &.is-rounded {
                border-radius: $size / 2;
            }
        } @else {
            &.is-#{$eve-button-size} {
                height: $size;
                line-height: $size;
                padding: 0 $padding;
                font-size: $font-size;

                i {
                    font-size: $size / 2;
                }

                svg {
                    width: $size / 2;
                    height: $size / 2;
                }

                &.is-loading {
                    &::after {
                        top: calc(50% - #{$size / 4});
                        left: calc(50% - #{$size / 4});
                        width: $size / 2;
                        height: $size / 2;
                    }
                }

                &.is-rounded {
                    border-radius: $size / 2;
                }
            }
        }
    }

    @each $eve-button-color in map-keys($eve-button-colors) {
        $color: map-get($eve-button-colors, $eve-button-color);
        $hover-color: darken($color, 5);
        $active-color: darken($color, 10);

        &.is-#{$eve-button-color} {
            background: $color;

            &:hover {
                background: $hover-color;
            }

            &:active {
                background: $active-color;
            }

            &.is-outlined {
                color: $color;
                box-shadow: inset 0 0 0 1px $color;

                svg {
                    fill: $color;
                }

                &:hover {
                    background: rgba($color, .1);
                    box-shadow: none;
                }

                &:active {
                    background: rgba($color, .2);
                    box-shadow: none;
                }
            }

            &.is-inverted {
                color: $color;

                svg {
                    fill: $color;
                }

                &:hover {
                    background: rgba($color, .1);
                }

                &:active {
                    background: rgba($color, .2);
                }
            }
        }
    }

    &.is-outlined {
        background: transparent;
    }

    &.is-inverted {
        text-transform: uppercase;
        box-shadow: none;
        font-weight: 600;
        background: transparent;
    }

    &.is-loading {
        color: transparent;
        position: relative;
        pointer-events: none;

        &::after {
            content: '';
            border-radius: 50%;
            border: 2px solid transparent;
            border-top-color: $eve-color-light;
            border-right-color: $eve-color-light;
            position: absolute;
            transform: translate(-50%, -50%);
            animation-name: eveButtonProgress;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-duration: .5s;
            animation-timing-function: linear;
            box-sizing: border-box;
        }

        @keyframes eveButtonProgress {
            from {
                transform: rotate(0);
            }

            to {
                transform: rotate(360deg);
            }
        }
    }

    &.is-block {
        display: flex;
        width: 100%;
    }

    &.is-file {
        position: relative;
        overflow: hidden;

        input {
            &[type='file'] {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0;
                width: 100%;
                height: 100%;
                cursor: inherit;
                border-radius: inherit;
                display: block;
            }
        }
    }

    &:disabled {
        pointer-events: none;
        background: $eve-color-darker-silver;

        &.is-outlined {
            background: $eve-color-darker-silver;
            color: $eve-color-light;
            box-shadow: none;
        }

        &.is-inverted {
            background: transparent;
            color: $eve-color-darker-silver;
        }
    }
}

.eve-buttons {
    display: flex;

    .eve-button {
        &:not(:first-of-type) {
            margin-left: $eve-spacing-small;
        }
    }

    &.is-center {
        justify-content: center;
    }

    &.is-right {
        justify-content: flex-end;
    }

    &.has-addons {
        .eve-button {
            &.is-rounded {
                &:first-of-type {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                &:last-of-type {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }

            &:not(:first-of-type) {
                margin-left: 1px;
            }

            i,
            svg {
                margin: 0;
            }
        }
    }
}
