$eve-button-size: 2.25rem;

.eve-button {
    align-items: center;
    background: $eve-color-primary;
    border: 0;
    box-sizing: border-box;
    color: $eve-color-light;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-family: inherit;
    font-size: .875rem;
    font-weight: normal;
    height: $eve-button-size;
    justify-content: center;
    line-height: normal;
    min-width: 4rem;
    outline: none;
    padding: 0 1rem;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;

    svg {
        fill: $eve-color-light;
        height: $eve-button-size / 2;
        margin-left: -.25rem;
        margin-right: .5rem;
        width: $eve-button-size / 2;
    }

    &.is-outlined {
        background: $eve-color-light;
        border: 1px solid $eve-color-primary;
        color: $eve-color-primary;

        svg {
            fill: $eve-color-primary;
        }

        &:hover {
            background: lighten($eve-color-primary, 40);
            border-color: lighten($eve-color-primary, 40);
        }
    }

    &.is-inverted {
        background: $eve-color-light;
        color: $eve-color-primary;

        svg {
            fill: $eve-color-primary;
        }

        &:hover {
            background: lighten($eve-color-primary, 40);
        }
    }

    &:hover {
        background: lighten($eve-color-primary, 5);
    }

    &:disabled {
        opacity: .5;
        pointer-events: none;
    }
}
