$eve-checkbox-size: 1.125rem;
$eve-checkbox-mark-border-width: .125rem;

.eve-checkbox {
    align-items: center;
    display: inline-flex;
    flex-shrink: 0;
    height: $eve-checkbox-size;
    justify-content: center;
    position: relative;
    vertical-align: top;
    width: $eve-checkbox-size;

    input {
        &[type='checkbox'] {
            cursor: pointer;
            height: 100%;
            left: 0;
            margin: 0;
            opacity: 0;
            padding: 0;
            position: absolute;
            top: 0;
            width: 100%;

            &:checked ~ i {
                background: $eve-color-success;
                border-color: $eve-color-success;

                &::after {
                    display: block;
                }
            }

            &:disabled {
                cursor: default;

                ~ i {
                    border-color: $eve-color-dark-silver;
                }

                &:checked {
                    ~ i {
                        background: $eve-color-dark-silver;

                        &::after {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    i {
        background: $eve-color-light;
        border: .125rem solid $eve-color-darker-silver;
        box-sizing: border-box;
        height: 100%;
        pointer-events: none;
        position: relative;
        width: 100%;

        &::after {
            border-bottom: $eve-checkbox-mark-border-width solid $eve-color-light;
            border-right: $eve-checkbox-mark-border-width solid $eve-color-light;
            box-sizing: content-box;
            content: '';
            display: none;
            height: calc(100% - #{$eve-checkbox-size / 4});
            left: 50%;
            position: absolute;
            top: calc(50% - #{$eve-checkbox-mark-border-width});
            transform: translate(-50%, -50%) rotate(45deg);
            width: calc(100% - #{$eve-checkbox-size / 2});
        }
    }
}
