$eve-checkbox-size: 18px !default;
$eve-checkbox-border-width: 2px !default;
$eve-checkbox-mark-border-width: 2px !default;

.eve-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: $eve-checkbox-size;
    height: $eve-checkbox-size;
    vertical-align: middle;

    input {
        &[type='checkbox'] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 0;
            opacity: 0;
            cursor: pointer;
            margin: 0;

            &:checked ~ .eve-checkbox-mark {
                background: $eve-color-green;
                border-color: $eve-color-green;

                &::after {
                    display: block;
                }
            }

            &:disabled {
                cursor: default;

                & ~ .eve-checkbox-mark {
                    border-color: $eve-color-dark-silver;
                }

                &:checked {
                    & ~ .eve-checkbox-mark {
                        background: $eve-color-dark-silver;

                        &::after {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .eve-checkbox-mark {
        background: $eve-color-white;
        border: $eve-checkbox-border-width solid $eve-color-darker-silver;
        width: 100%;
        height: 100%;
        pointer-events: none;
        position: relative;
        box-sizing: border-box;

        &::after {
            content: '';
            position: absolute;
            display: none;
            left: 50%;
            top: calc(50% - #{$eve-checkbox-mark-border-width});
            width: calc(100% - #{$eve-checkbox-size / 2});
            height: calc(100% - #{$eve-checkbox-size / 4});
            border-right: $eve-checkbox-mark-border-width solid $eve-color-white;
            border-bottom: $eve-checkbox-mark-border-width solid $eve-color-white;
            transform: translate(-50%, -50%) rotate(45deg);
            box-sizing: content-box;
        }
    }
}

.eve-checkbox-control {
    display: flex;
    align-items: center;
    font-size: $eve-font-normal;

    .eve-checkbox {
        flex-shrink: 0;
        margin-right: $eve-spacing-tiny;
    }
}

.eve-checkbox-group {
    display: flex;
    align-items: center;

    .eve-checkbox-control {
        &:not(:last-child) {
            margin-right: $eve-spacing-normal;
        }
    }
}

.eve-checkbox-list {
    & > .eve-checkbox-list {
        padding-left: $eve-spacing-small;
        margin-bottom: $eve-spacing-tiny;
    }

    .eve-checkbox-control {
        &:not(:last-child) {
            margin-bottom: $eve-spacing-tiny;
        }
    }
}
