$eve-chip-height: 24px !default;
$eve-chip-border-radius: $eve-chip-height / 2 !default;

.eve-chip {
    display: inline-flex;
    align-items: center;
    height: $eve-chip-height;
    line-height: $eve-chip-height;
    border-radius: $eve-chip-border-radius;
    background: $eve-color-bright-silver;

    .eve-avatar {
        border: 1px solid $eve-color-white;
        height: $eve-chip-height;
        width: $eve-chip-height;
    }

    .eve-chip-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        height: $eve-chip-height;
        width: $eve-chip-height;
        border: 1px solid $eve-color-white;
        box-sizing: border-box;
        background: $eve-color-blue;

        i {
            font-size: $eve-font-normal;
            color: $eve-color-white;
        }
    }

    .eve-chip-content {
        padding: 0 $eve-spacing-tiny;
        font-size: $eve-font-small;
    }

    .eve-chip-action {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: $eve-spacing-tiny;
        cursor: pointer;
        border-radius: 100%;

        i {
            color: $eve-color-darkest-silver;
            font-size: $eve-font-normal;
        }
    }
}
