$eve-chip-size: 1.75rem;

.eve-chip {
    display: inline-flex;
    align-items: center;
    height: $eve-chip-size;
    line-height: $eve-chip-size;
    background: $eve-color-bright-silver;
    padding: 0 $eve-spacing-tiny;
    font-size: $eve-font-small;
    vertical-align: top;
    border-radius: $eve-chip-size / 2;

    .eve-avatar,
    .eve-chip-icon {
        height: $eve-chip-size;
        line-height: $eve-chip-size;
        width: $eve-chip-size;
        position: relative;
        left: -#{$eve-spacing-tiny};
        border-radius: 50%;
    }

    .eve-avatar {
        &::before {
            font-size: 1em;
        }
    }

    .eve-chip-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $eve-color-primary;

        i {
            font-size: $eve-chip-size / 2;
            color: $eve-color-light;
        }

        svg {
            width: $eve-chip-size / 2;
            height: $eve-chip-size / 2;
            fill: $eve-color-light;
        }
    }

    .eve-chip-action {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: $eve-spacing-tiny;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background: $eve-color-darker-silver;

            i {
                color: $eve-color-light;
            }

            svg {
                fill: $eve-color-light;
            }
        }

        i {
            font-size: $eve-chip-size / 2;
            color: $eve-color-darker-silver;
        }

        svg {
            width: $eve-chip-size / 2;
            height: $eve-chip-size / 2;
            fill: $eve-color-darker-silver;
        }
    }
}

.eve-chips {
    display: flex;
    flex-wrap: wrap;
    margin: -#{.25rem};

    .eve-chip {
        margin: .25rem;
    }
}
