$eve-chip-size: 2rem;

.eve-chip {
    align-items: center;
    background: $eve-color-bright-silver;
    border-radius: $eve-chip-size / 2;
    color: $eve-color-black;
    display: inline-flex;
    font-size: .875rem;
    height: $eve-chip-size;
    line-height: $eve-chip-size;
    padding: 0 .75rem;
    vertical-align: top;

    .eve-avatar {
        font-size: inherit;
        height: 1.5rem;
        line-height: 1.5rem;
        margin-left: -.5rem;
        margin-right: .5rem;
        width: 1.5rem;
    }

    .eve-chip-action {
        align-items: center;
        background: $eve-color-darker-silver;
        border-radius: 50%;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        height: 1.125rem;
        justify-content: center;
        margin: 0 -.25rem 0 .5rem;
        padding: .125rem;
        width: 1.125rem;

        svg {
            fill: $eve-color-white;
            height: 100%;
            width: 100%;
        }
    }

    &.is-disabled {
        opacity: .5;
        pointer-events: none;
    }
}

.eve-chips {
    display: flex;
    flex-wrap: wrap;
    margin: -.25rem;

    .eve-chip {
        margin: .25rem;
    }
}
