$eve-chip-size: 1.75rem;

.eve-chip {
    align-items: center;
    background: $eve-color-bright-silver;
    border-radius: $eve-chip-size / 2;
    color: $eve-color-dark;
    display: inline-flex;
    font-size: $eve-font-small;
    height: $eve-chip-size;
    line-height: $eve-chip-size;
    padding: 0 $eve-spacing-tiny;
    vertical-align: top;

    .eve-avatar,
    .eve-chip-icon {
        border-radius: 50%;
        height: $eve-chip-size;
        left: -#{$eve-spacing-tiny};
        line-height: $eve-chip-size;
        position: relative;
        width: $eve-chip-size;
    }

    .eve-avatar {
        font-size: 1em;
    }

    .eve-chip-icon {
        align-items: center;
        background: $eve-color-primary;
        display: flex;
        justify-content: center;

        svg {
            fill: $eve-color-light;
            height: $eve-chip-size / 2;
            width: $eve-chip-size / 2;
        }
    }

    .eve-chip-action {
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-left: $eve-spacing-tiny;

        &:hover {
            background: $eve-color-darker-silver;

            svg {
                fill: $eve-color-light;
            }
        }

        svg {
            fill: $eve-color-darker-silver;
            height: $eve-chip-size / 2;
            width: $eve-chip-size / 2;
        }
    }
}

.eve-chips {
    display: flex;
    flex-wrap: wrap;
    margin: -#{$eve-spacing-x-tiny};

    .eve-chip {
        margin: $eve-spacing-x-tiny;
    }
}
