$eve-color-picker-color-size: 2rem !default;
$eve-color-picker-input-size: 2rem !default;

.eve-color-picker {
    background: $eve-color-light;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1); // sass-lint:disable-line no-color-literals
    display: inline-flex;
    flex-direction: column;

    > input {
        display: none;

        &:checked {
            ~ .eve-color-picker-control {
                .eve-color-picker-dropdown {
                    &::after {
                        border: 0;
                        border-left: 1px solid $eve-color-dark;
                        border-top: 1px solid $eve-color-dark;
                        top: .125rem;
                    }
                }
            }

            ~ .eve-color-picker-palette {
                ul {
                    display: flex;
                }
            }
        }
    }

    .eve-color-picker-control {
        border-bottom: 1px solid $eve-color-dark-silver;
        display: flex;
        padding: .5rem;

        .eve-input {
            height: $eve-color-picker-input-size;
            line-height: $eve-color-picker-input-size;
            padding: 0 .5rem;
        }

        .eve-color-picker-dropdown {
            align-items: center;
            border: 1px solid $eve-color-dark-silver;
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            flex-shrink: 0;
            height: $eve-color-picker-input-size;
            justify-content: center;
            margin-left: .5rem;
            width: $eve-color-picker-input-size;

            svg {
                fill: $eve-color-dark;
                height: $eve-color-picker-color-size / 2;
                width: $eve-color-picker-color-size / 2;
            }
        }
    }

    .eve-color-picker-palette {
        display: flex;
        flex-direction: column;
        padding: .25rem;

        ul {
            display: none;
            list-style: none;
            margin: 0;
            padding: 0;

            &:first-child {
                display: flex;
            }

            li {
                align-items: center;
                background: $eve-color-primary;
                box-sizing: border-box;
                cursor: pointer;
                display: flex;
                height: $eve-color-picker-color-size;
                justify-content: center;
                margin: .25rem;
                position: relative;
                transition: border-radius 150ms ease;
                width: $eve-color-picker-color-size;

                &:hover,
                &.is-selected {
                    border-radius: 100%;
                }
            }
        }
    }
}
