.eve-dialog {
    background: $eve-color-white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1); // sass-lint:disable-line no-color-literals
    padding: $eve-spacing-24;
    width: 25rem;

    h2 {
        color: $eve-color-blue;
        margin-bottom: $eve-spacing-16;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
    }

    .eve-dialog-footer {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        margin-top: $eve-spacing-16;

        .eve-button {
            margin-left: $eve-spacing-16;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
