$eve-dialog-width: 25rem;
$eve-dialog-close-size: 2.25rem;

.eve-dialog {
    background: $eve-color-light;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1); // sass-lint:disable-line no-color-literals
    padding: $eve-spacing-normal;
    position: relative;
    width: $eve-dialog-width;

    .eve-dialog-header {
        color: $eve-color-primary;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.75rem;
        margin-bottom: $eve-spacing-small;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
    }

    .eve-dialog-content {
        color: $eve-color-dark;
        font-size: .875rem;
        line-height: 1.25rem;
    }

    .eve-dialog-footer {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        margin-top: $eve-spacing-small;

        .eve-button {
            &:not(:last-child) {
                margin-right: $eve-spacing-small;
            }
        }
    }
}
