.eve-divider {
    width: 100%;
    margin: $eve-spacing-normal 0;
    height: 1px;
    background: $eve-color-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $eve-font-small;

    &::after {
        content: attr(data-content);
        padding: 0 $eve-spacing-tiny;
        background: $eve-color-white;
    }
}
