$eve-divider-height: 1px !default;

.eve-divider {
    width: 100%;
    margin: $eve-spacing-normal 0;
    height: $eve-divider-height;
    background: $eve-color-blue;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: attr(data-content);
        padding: 0 $eve-spacing-tiny;
        background: $eve-color-white;
    }
}
