.eve-dropdown {
    background: $eve-color-white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1); // sass-lint:disable-line no-color-literals
    display: inline-block;
    max-width: 20rem;
    min-width: 10rem;
    color: $eve-color-black;
    font-size: $eve-font-14;
    z-index: 2147483648;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        max-height: 20rem;
        overflow: auto;

        li {
            cursor: pointer;
            height: 2.25rem;
            padding: 0 $eve-spacing-16;
            display: flex;
            align-items: center;

            .eve-checkbox,
            .eve-radio,
            .eve-switch,
            .eve-priority {
                margin-right: $eve-spacing-8;
            }

            svg {
                width: 1.125rem;
                height: 1.125rem;
                fill: $eve-color-darker-silver;
                margin-right: $eve-spacing-8;
            }

            .eve-avatar {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: $eve-spacing-8;
            }

            &:hover,
            &.is-active {
                background: $eve-color-bright-silver;
            }

            &.is-disabled {
                opacity: .5;
                pointer-events: none;
            }
        }
    }
}
