$eve-dropdown-list-item-height: 32px !default;

.eve-dropdown {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    display: inline-flex;
    flex-direction: column;
    min-width: 150px;
    background: $eve-color-light;
    font-size: $eve-font-small;

    .eve-dropdown-filter {
        border-bottom: 1px solid $eve-color-bright-silver;

        .eve-input {
            border: 0;
        }
    }

    .eve-dropdown-list {
        width: 100%;
        padding: $eve-spacing-tiny 0;
        margin: 0;
        list-style: none;

        &:not(:last-child) {
            padding-bottom: 0;
        }

        .eve-dropdown-list-header {
            font-weight: 600;
            height: $eve-dropdown-list-item-height;
            display: flex;
            align-items: center;
            padding: 0 $eve-spacing-small;
            text-transform: uppercase;
            font-size: $eve-font-tiny;
        }

        .eve-dropdown-list-item {
            height: $eve-dropdown-list-item-height;
            padding: 0 $eve-spacing-small;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover {
                background: rgba($eve-color-bright-silver, .5);
            }

            .eve-dropdown-list-item-icon {
                margin-right: $eve-spacing-tiny;
                display: flex;
                align-items: center;

                i {
                    font-size: $eve-dropdown-list-item-height / 2;
                    color: $eve-color-darker-silver;
                }

                svg {
                    width: $eve-dropdown-list-item-height / 2;
                    height: $eve-dropdown-list-item-height / 2;
                    fill: $eve-color-darker-silver;
                }
            }

            .eve-avatar {
                margin-right: $eve-spacing-tiny;
            }

            &.is-active {
                background: $eve-color-bright-silver;
            }

            &.is-disabled {
                color: $eve-color-darker-silver;
                pointer-events: none;
            }
        }

        .eve-dropdown-list-divider {
            background: $eve-color-bright-silver;
            height: 1px;
            margin: $eve-spacing-tiny 0;
        }
    }

    &.eve-dropdown-strip {
        .eve-dropdown-list {
            .eve-dropdown-list-item {
                &:nth-child(even) {
                    background: rgba($eve-color-bright-silver, .5);
                }
            }
        }
    }
}
