$eve-dropdown-list-item-size: 2rem;

.eve-dropdown {
    background: $eve-color-light;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1); // sass-lint:disable-line no-color-literals
    display: inline-flex;
    flex-direction: column;
    font-size: $eve-font-normal;
    min-width: 10rem;

    ul {
        list-style: none;
        margin: 0;
        padding: $eve-spacing-tiny 0;
        width: 100%;

        li {
            align-items: center;
            cursor: pointer;
            display: flex;
            height: $eve-dropdown-list-item-size;
            padding: 0 $eve-spacing-small;

            &:hover,
            &.is-active {
                background: $eve-color-bright-silver;
            }

            svg {
                fill: $eve-color-darker-silver;
                height: $eve-dropdown-list-item-size / 2;
                margin-right: $eve-spacing-tiny;
                width: $eve-dropdown-list-item-size / 2;
            }

            &.is-header {
                font-size: $eve-font-small;
                font-weight: bold;
                height: $eve-dropdown-list-item-size;
                pointer-events: none;
                text-transform: uppercase;
            }

            &.is-disabled {
                color: $eve-color-dark-silver;
                cursor: default;

                svg {
                    fill: $eve-color-dark-silver;
                }

                &:hover,
                &.is-active {
                    background: transparent;
                }
            }
        }

        hr {
            border: 0;
            border-top: 1px solid $eve-color-bright-silver;
            margin: $eve-spacing-tiny 0;
        }
    }

    &.is-stripped {
        ul {
            li {
                &:nth-child(even) {
                    background: $eve-color-bright-silver;
                }
            }
        }
    }
}
