$eve-feedback-colors: (
    success: $eve-color-green,
    warning: $eve-color-orange,
    danger: $eve-color-red,
) !default;

.eve-feedback {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: $eve-spacing-tiny;
    color: $eve-color-grey-black;
    box-sizing: border-box;
    font-size: $eve-font-small;

    @each $eve-feedback-color in map-keys($eve-feedback-colors) {
        &.eve-feedback-#{$eve-feedback-color} {
            $eve-feedback-color-rgb: rgba(map-get($eve-feedback-colors, $eve-feedback-color), .2);

            background: $eve-feedback-color-rgb;

            // i {
            //     color: map-get($eve-icons-types, $eve-feedback-type);
            // }
        }
    }

    // i {
    //     margin-right: $eve-spacing-tiny;
    //     font-size: 18px;
    //     vertical-align: middle;
    // }

    .eve-feedback-content {
        display: flex;
        align-items: center;
    }

    .eve-feedback-action {
        display: flex;
        align-items: center;
        margin-left: $eve-spacing-tiny;

        .eve-button {
            font-size: $eve-font-small;
            padding: 0;
            height: initial;

            &:not(:first-child) {
                margin-left: $eve-spacing-tiny;
            }
        }
    }
}
