.eve-feedback {
    box-sizing: border-box;
    color: $eve-color-black;
    font-size: $eve-font-14;
    line-height: 1.25rem;
    padding: $eve-spacing-8 $eve-spacing-16;

    &.is-success {
        background: $eve-color-green-100;
    }

    &.is-warning {
        background: $eve-color-orange-100;
    }

    &.is-danger {
        background: $eve-color-red-100;
    }
}
