.eve-form-group {
    margin-bottom: $eve-spacing-small;

    .eve-form-label {
        display: inline-block;
        margin-bottom: $eve-spacing-tiny;
        font-size: $eve-font-small;
    }

    .eve-textarea {
        resize: none;
    }
}

.eve-form-control {
    display: flex;
}
