$eve-icon-size: 2.25rem;

@mixin icon-color($color) {
    &:hover {
        background: lighten($color, 40);

        svg {
            fill: $color;
        }
    }
}

.eve-icon {
    @include icon-color($eve-color-blue);

    align-items: center;
    background: $eve-color-white;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    height: $eve-icon-size;
    justify-content: center;
    line-height: normal;
    outline: none;
    padding: 0;
    vertical-align: top;
    width: $eve-icon-size;

    &.is-success {
        @include icon-color($eve-color-blue);
    }

    &.is-danger {
        @include icon-color($eve-color-red);
    }

    svg {
        fill: $eve-color-blacker-silver;
        height: 1.125rem;
        width: 1.125rem;
    }
}
