$eve-input-size: 2.25rem;

.eve-input {
    appearance: none;
    background: $eve-color-white;
    border: 1px solid $eve-color-dark-silver;
    font-family: inherit;
    font-size: $eve-font-14;
    height: $eve-input-size;
    max-width: 100%;
    min-width: 0; // Fix: https://bugzilla.mozilla.org/show_bug.cgi?id=1114904
    outline: none;
    padding: 0 $eve-spacing-16;
    width: 100%;
    font-weight: normal;

    &::placeholder {
        color: $eve-color-darker-silver;
        font-family: inherit;
        font-size: inherit;
    }

    &:disabled {
        opacity: .5;
        pointer-events: none;
    }
}

.eve-input-field {
    position: relative;
    display: flex;
    align-items: center;

    svg {
        position: absolute;
        width: $eve-input-size / 2;
        height: $eve-input-size / 2;
        fill: $eve-color-darker-silver;
    }

    &.has-icon-left {
        .eve-input {
            padding-left: ($eve-input-size / 2) + $eve-spacing-24;
        }

        svg:first-of-type {
            left: $eve-spacing-12;
        }
    }

    &.has-icon-right {
        .eve-input {
            padding-right: ($eve-input-size / 2) + $eve-spacing-24;
        }

        svg:last-of-type {
            right: $eve-spacing-12;
        }
    }
}
