$eve-input-height: 36px !default;
$eve-input-icon-size: 18px !default;
$eve-input-border-radius: $eve-input-height / 2 !default;
$eve-input-border-width: 1px !default;
$eve-input-width: 100% !default;
$eve-input-max-width: 100% !default;
$eve-input-disable-color: #607d8b !default;

.eve-input {
    height: $eve-input-height;
    line-height: $eve-input-height;
    background: $eve-color-white;
    border: $eve-input-border-width solid $eve-color-dark-silver;
    outline: none;
    padding: 0 $eve-spacing-small;
    font-size: $eve-font-normal;
    color: $eve-color-grey-black;
    box-sizing: border-box;
    width: $eve-input-width;
    max-width: $eve-input-max-width;
    vertical-align: top;
    -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
    font-family: inherit;

    &::placeholder {
        font-family: inherit;
        color: $eve-color-darker-silver;
    }

    &:focus {
        border-color: $eve-color-blue;
    }


    &.eve-input-disable {
        background: $eve-color-dark-silver;
        border-color: $eve-color-dark-silver;
        color: $eve-input-disable-color;
        pointer-events: none;
    }
}

.eve-input-control {
    display: flex;

    &:not(.eve-input-control-round) {
        .eve-button {
            border-radius: 0;
        }
    }

    &.eve-input-control-round {
        .eve-input {
            margin-right: $eve-spacing-tiny;
            border-radius: $eve-input-border-radius;
        }
    }

    &.eve-input-control-icon {
        position: relative;
        align-items: center;

        .eve-input {
            padding-left: $eve-input-icon-size + $eve-spacing-normal;

            &:focus {
                & ~ .eve-input-icon {
                    i {
                        color: $eve-color-blue;
                    }
                }
            }
        }

        .eve-input-icon {
            display: flex;
            align-items: center;
            position: absolute;
            left: $eve-spacing-small;

            i {
                font-size: $eve-input-icon-size;
                color: $eve-color-dark-silver;
            }
        }
    }
}

.eve-input-group {
    display: flex;

    .eve-input {
        &:not(:last-child) {
            margin-right: $eve-spacing-tiny;
        }
    }

    &.eve-input-group-round {
        .eve-input {
            border-radius: $eve-input-border-radius;
        }
    }
}

.eve-input-form {
    .eve-input-label {
        display: block;
        margin-bottom: $eve-spacing-tiny;
    }

    .eve-input-hint {
        display: block;
        margin-top: $eve-spacing-x-tiny;
    }

    &.eve-input-form-success {
        .eve-input {
            border-color: $eve-color-green;
        }

        .eve-input-hint {
            color: $eve-color-green;
        }
    }

    &.eve-input-form-danger {
        .eve-input {
            border-color: $eve-color-red;
        }

        .eve-input-hint {
            color: $eve-color-red;
        }
    }
}
