$eve-input-height: 32px !default;
$eve-input-border-radius: $eve-input-height / 2 !default;
$eve-input-group-height: 36px !default;
$eve-input-group-border-radius: $eve-input-group-height / 2 !default;
$eve-textarea-min-height: 108px !default;
$eve-input-placeholder-color: #607d8b !default;

.eve-input {
    height: $eve-input-height;
    border-radius: $eve-input-border-radius;
    background: $eve-color-bright-silver;
    border: 0;
    outline: none;
    padding: 0 $eve-spacing-small;
    font-size: $eve-font-normal;
    color: $eve-color-grey-black;
    box-sizing: border-box;
    width: 100%;
    vertical-align: top;

    &::placeholder {
        color: $eve-input-placeholder-color;
    }

    &:focus {
        box-shadow: inset 0 0 0 1px $eve-color-blue;
    }

    &.eve-input-success {
        box-shadow: inset 0 0 0 1px $eve-color-green;
    }

    &.eve-input-danger {
        box-shadow: inset 0 0 0 1px $eve-color-red;
    }

    &.eve-input-disable {
        background: $eve-color-darkest-silver;
        color: $eve-color-white;
        pointer-events: none;

        &:focus {
            box-shadow: none;
        }
    }
}

.eve-input-control {
    display: flex;
    width: 100%;

    .eve-input {
        height: $eve-input-group-height;
        border-radius: $eve-input-group-border-radius;
        margin-right: $eve-spacing-tiny;
    }

    .eve-button {
        &::before {
            content: ' ';
            display: block;
        }
    }
}

.eve-input-group {
    display: flex;
    width: 100%;

    .eve-input {
        &:not(:last-child) {
            margin-right: $eve-spacing-tiny;
        }
    }
}

.eve-textarea {
    resize: none;
    background: $eve-color-bright-silver;
    padding: $eve-spacing-small;
    vertical-align: top;
    border: 0;
    outline: none;
    box-sizing: border-box;
    min-height: $eve-textarea-min-height;
    width: 100%;
    font-size: $eve-font-normal;
    color: $eve-color-grey-black;

    &::placeholder {
        color: $eve-input-placeholder-color;
    }
}
