$eve-key-size: 2rem;

.eve-key {
    background: $eve-color-bright-silver;
    border: 1px solid $eve-color-dark-silver;
    border-bottom-width: .125rem;
    border-radius: .25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: $eve-key-size;
    min-width: $eve-key-size;
    padding: 0 $eve-spacing-8;
    font-size: $eve-font-14;
    color: $eve-color-black;
}
