$eve-label-colors: (
    primary: $eve-color-blue,
    success: $eve-color-green,
    warning: $eve-color-orange,
    danger: $eve-color-red
);
$eve-label-size: 28px;

.eve-label {
    display: inline-flex;
    align-items: center;
    height: $eve-label-size;
    line-height: $eve-label-size;
    padding: 0 $eve-spacing-tiny;
    font-size: $eve-font-tiny;
    color: $eve-color-white;

    @each $eve-label-color in map-keys($eve-label-colors) {
        $color: map-get($eve-label-colors, $eve-label-color);
        $hover-color: rgba($color, .2);

        &.is-#{$eve-label-color} {
            background: $color;

            &:hover {
                background: $hover-color;
                color: $color;

                .eve-label-action {
                    background: $color;

                    i {
                        color: $eve-color-white;
                    }

                    svg {
                        fill: $eve-color-white;
                    }
                }
            }

            &.is-outlined {
                box-shadow: inset 0 0 0 1px $color;
                color: $color;

                .eve-label-icon {
                    i {
                        color: $color;
                    }

                    svg {
                        fill: $color;
                    }
                }
            }
        }
    }

    &.is-outlined {
        background: transparent;

        &:hover {
            box-shadow: none;
        }
    }

    &.is-rounded {
        border-radius: $eve-label-size / 2;
    }

    .eve-label-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: $eve-spacing-x-tiny;

        i {
            font-size: $eve-label-size / 2;
        }

        svg {
            width: $eve-label-size / 2;
            height: $eve-label-size / 2;
        }
    }

    .eve-label-action {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: $eve-spacing-x-tiny;
        cursor: pointer;
        border-radius: 50%;

        i {
            font-size: $eve-label-size / 2;
        }

        svg {
            width: $eve-label-size / 2;
            height: $eve-label-size / 2;
        }
    }
}
