$eve-loader-size: 3rem;

.eve-loader {
    align-items: center;
    background: rgba(255, 255, 255, .5); // sass-lint:disable-line no-color-literals
    bottom: 0;
    content: '';
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2147483648;

    &::before {
        animation-duration: .5s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: eveProgressCircle;
        animation-timing-function: linear;
        background: transparent;
        border: 1px solid transparent;
        border-radius: 50%;
        border-right-color: $eve-color-blue;
        border-top-color: $eve-color-blue;
        box-sizing: border-box;
        content: '';
        display: inline-block;
        height: $eve-loader-size;
        width: $eve-loader-size;
        z-index: 2;
    }

    &[data-label] {
        &::after {
            color: $eve-color-black;
            content: attr(data-label);
            display: block;
            font-size: $eve-font-14;
            line-height: 1.25rem;
            margin-top: $eve-spacing-8;
            max-width: 50%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    @keyframes eveProgressCircle {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }
}
