$eve-tab-size: 36px;

.eve-navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: $eve-font-small;
    background: $eve-color-light;

    li {
        height: $eve-tab-size;
        line-height: $eve-tab-size;
        color: $eve-color-dark;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 $eve-spacing-normal;

        a {
            text-decoration: none;
            color: inherit;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &:hover,
        &.is-active {
            background: $eve-color-bright-silver;
            color: inherit;
        }

        &.is-active {
            position: relative;

            &::after {
                content: '';
                width: 4px;
                background: $eve-color-primary;
                position: absolute;
                left: 0;
                bottom: 0;
                top: 0;
            }
        }

        &.is-disabled {
            color: $eve-color-darker-silver;
            pointer-events: none;

            &::after {
                background: $eve-color-darker-silver;
                top: 0;
                bottom: 0;
                left: 0;
                width: 4px;
                height: auto;
                right: auto;
            }
        }
    }
}

