$eve-navigation-tab-color: #607d8b;

.eve-navigation {
    display: flex;
    border-bottom: 1px solid $eve-color-dark-silver;

    .eve-navigation-tab {
        padding: $eve-spacing-tiny $eve-spacing-tiny 12px;
        margin: 0 $eve-spacing-small;
        color: $eve-navigation-tab-color;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            color: $eve-color-blue;
        }

        &.eve-navigation-tab-active {
            color: $eve-color-blue;
            font-weight: bold;
            position: relative;

            &::after {
                content: '';
                height: 4px;
                background: $eve-color-blue;
                position: absolute;
                left: 0;
                bottom: -1px;
                right: 0;
            }
        }
    }
}
