$eve-tab-size: 2.25rem;

.eve-navigation {
    display: flex;
    flex-direction: column;
    font-size: $eve-font-14;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        color: $eve-color-black;
        cursor: pointer;
        height: $eve-tab-size;
        line-height: $eve-tab-size;
        overflow: hidden;
        padding: 0 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
            color: $eve-color-blue;
        }

        &.is-active {
            border-left: 1px solid $eve-color-blue;
            color: $eve-color-blue;
            padding-left: calc(1rem - .125rem);
        }

        &.is-disabled {
            opacity: .5;
            pointer-events: none;
        }
    }
}

