$eve-pagination-item-size: 36px;

.eve-pagination {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: $eve-font-small;

    .eve-pagination-item {
        box-shadow: inset 0 0 0 1px $eve-color-blue;
        background: $eve-color-white;
        height: $eve-pagination-item-size;
        line-height: $eve-pagination-item-size;
        min-width: $eve-pagination-item-size;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        cursor: pointer;
        padding: 0 $eve-spacing-tiny;
        color: $eve-color-blue;

        &:not(:last-child) {
            margin-right: -1px;
        }

        &:first-child,
        &:last-child {
            width: 96px;
        }

        &:hover,
        &.is-active {
            background: $eve-color-blue;
            color: $eve-color-white;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    &.is-rounded {
        .eve-pagination-item {
            $radius: $eve-pagination-item-size / 2;

            &:first-child {
                border-radius: $radius 0 0 $radius;
            }

            &:last-child {
                border-radius: 0 $radius $radius 0;
            }
        }
    }
}
