$eve-pagination-item-size: 2.25rem;

.eve-pagination {
    display: flex;
    font-size: $eve-font-normal;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        align-items: center;
        background: $eve-color-light;
        border: 1px solid $eve-color-primary;
        box-sizing: border-box;
        color: $eve-color-primary;
        cursor: pointer;
        display: flex;
        height: $eve-pagination-item-size;
        justify-content: center;
        line-height: $eve-pagination-item-size;
        min-width: $eve-pagination-item-size;
        padding: 0 $eve-spacing-tiny;

        &:not(:last-child) {
            margin-right: -1px;
        }

        &:first-child,
        &:last-child {
            min-width: 6rem;
        }

        &:hover,
        &.is-active {
            background: $eve-color-primary;
            color: $eve-color-light;
        }

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    &.is-rounded {
        li {
            $radius: $eve-pagination-item-size / 2;

            &:first-child {
                border-radius: $radius 0 0 $radius;
            }

            &:last-child {
                border-radius: 0 $radius $radius 0;
            }
        }
    }
}
