$eve-pagination-item-size: 2.25rem;

.eve-pagination {
    display: flex;
    font-size: $eve-font-normal;
    list-style: none;
    margin: 0 -#{$eve-spacing-xx-tiny};
    padding: 0;

    li {
        align-items: center;
        background: $eve-color-light;
        border: 1px solid $eve-color-dark-silver;
        box-sizing: border-box;
        color: $eve-color-dark;
        cursor: pointer;
        display: flex;
        height: $eve-pagination-item-size;
        justify-content: center;
        line-height: $eve-pagination-item-size;
        margin: 0 $eve-spacing-xx-tiny;
        min-width: $eve-pagination-item-size;
        padding: 0 $eve-spacing-tiny;

        &.is-prev,
        &.is-next {
            min-width: 6rem;
        }

        &.is-prev {
            margin-right: $eve-spacing-tiny;
        }

        &.is-next {
            margin-left: $eve-spacing-tiny;
        }

        &:hover {
            border-color: $eve-color-primary;
            color: $eve-color-primary;
        }

        &.is-active {
            background: $eve-color-primary;
            border-color: $eve-color-primary;
            color: $eve-color-light;
        }

        &.is-disabled {
            border-color: $eve-color-dark-silver;
            color: $eve-color-dark-silver;
            cursor: default;

            &.is-active {
                background: $eve-color-dark-silver;
                color: $eve-color-light;
            }
        }

        a {
            color: inherit;
            cursor: inherit;
            text-decoration: none;
        }
    }

    &.is-rounded {
        li {
            border-radius: $eve-pagination-item-size / 2;
        }
    }

    &.is-left {
        justify-content: flex-start;
    }

    &.is-centered {
        justify-content: center;
    }

    &.is-right {
        justify-content: flex-end;
    }
}
