$eve-priority-size: 1.125rem;

.eve-priority {
    display: inline-block;
    height: $eve-priority-size;
    vertical-align: top;
    width: $eve-priority-size;
    flex-shrink: 0;

    &.is-low {
        background: $eve-color-blue;

        &.is-figure {
            background: transparent;
            border-bottom: 0;
            border-left: $eve-priority-size / 2 solid transparent;
            border-right: $eve-priority-size / 2 solid transparent;
            border-top: $eve-priority-size solid $eve-color-blue;
            height: 0;
            width: 0;
        }
    }

    &.is-average {
        background: $eve-color-green;

        &.is-figure {
            background: transparent;
            border: .125rem solid $eve-color-green;
        }
    }

    &.is-high {
        background: $eve-color-orange;

        &.is-figure {
            border-radius: 50%;
        }
    }

    &.is-critical {
        background: $eve-color-red;

        &.is-figure {
            background: transparent;
            border-bottom: $eve-priority-size solid $eve-color-red;
            border-left: $eve-priority-size / 2 solid transparent;
            border-right: $eve-priority-size / 2 solid transparent;
            border-top: 0;
            height: 0;
            width: 0;
        }
    }
}
