.eve-progress-line {
    background: $eve-color-bright-silver;
    height: 1px;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::after {
        animation-duration: .75s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: eveProgressLine;
        animation-timing-function: linear;
        background: $eve-color-primary;
        bottom: 0;
        content: '';
        position: absolute;
        top: 0;
        width: 20%;
    }

    @keyframes eveProgressLine {
        from {
            left: -20%;
        }

        to {
            left: 100%;
        }
    }
}

.eve-progress-oval {
    align-items: center;
    display: flex;
    justify-content: center;

    &::before {
        animation-duration: .5s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: eveProgressOval;
        animation-timing-function: linear;
        background: transparent;
        border: 1px solid $eve-color-bright-silver;
        border-radius: 50%;
        border-right-color: $eve-color-primary;
        border-top-color: $eve-color-primary;
        box-sizing: border-box;
        content: '';
        display: inline-block;
        height: 2rem;
        width: 2rem;
    }

    &::after {
        color: $eve-color-dark;
        content: attr(data-label);
        font-size: $eve-font-normal;
        line-height: $eve-line-height-normal;
        margin-left: $eve-spacing-small;
    }

    @keyframes eveProgressOval {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }
}
