$eve-radio-size: 1.125rem;

.eve-radio {
    align-items: center;
    display: inline-flex;
    height: $eve-radio-size;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    width: $eve-radio-size;

    input {
        &[type='radio'] {
            cursor: pointer;
            height: 100%;
            left: 0;
            margin: 0;
            opacity: 0;
            padding: 0;
            position: absolute;
            top: 0;
            width: 100%;

            &:checked ~ .eve-radio-mark {
                background: $eve-color-success;
                border-color: $eve-color-success;

                &::after {
                    display: block;
                }
            }

            &:disabled {
                cursor: default;

                ~ .eve-radio-mark {
                    border-color: $eve-color-dark-silver;
                }

                &:checked {
                    ~ .eve-radio-mark {
                        background: $eve-color-dark-silver;

                        &::after {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .eve-radio-mark {
        background: $eve-color-light;
        border: .125rem solid $eve-color-darker-silver;
        border-radius: 50%;
        box-sizing: border-box;
        height: 100%;
        pointer-events: none;
        width: 100%;

        &::after {
            border: .1875rem solid $eve-color-light;
            border-radius: inherit;
            box-sizing: inherit;
            content: '';
            display: none;
            height: 100%;
        }
    }
}

.eve-radio-control {
    align-items: center;
    display: flex;
    font-size: $eve-font-normal;
    word-break: break-word;

    .eve-radio {
        flex-shrink: 0;
        margin-right: $eve-spacing-tiny;
    }
}

.eve-radios {
    .eve-radio-control {
        &:not(:last-child) {
            margin: 0 0 $eve-spacing-tiny;
        }
    }

    &.is-inline {
        display: flex;

        .eve-radio-control {
            &:not(:last-child) {
                margin: 0 $eve-spacing-normal 0 0;
            }
        }
    }
}
