$eve-radio-size: 18px !default;
$eve-radio-mark-border-width: 2px !default;
$eve-radio-mark-border-radius: 50% !default;

.eve-radio {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    width: $eve-radio-size;
    height: $eve-radio-size;
    vertical-align: top;

    input {
        &[type='radio'] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 0;
            opacity: 0;
            cursor: inherit;

            &:checked ~ .eve-radio-mark {
                background: $eve-color-green;
                border-color: $eve-color-green;

                &::after {
                    display: block;
                }
            }
        }
    }

    .eve-radio-mark {
        background: $eve-color-white;
        border: $eve-radio-mark-border-width solid $eve-color-darker-silver;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-radius: $eve-radio-mark-border-radius;

        &::after {
            content: '';
            display: none;
            height: 100%;
            border-radius: $eve-radio-mark-border-radius;
            border: 3px solid $eve-color-white;
        }
    }

    &.eve-radio-disable {
        pointer-events: none;


        input {
            &[type='radio'] {
                &:checked ~ .eve-radio-mark {
                    background: $eve-color-darker-silver;
                }
            }
        }

        .eve-radio-mark {
            background: $eve-color-darker-silver;

            &::after {
                display: block;
            }
        }
    }
}

.eve-radio-control {
    display: flex;
    align-items: center;

    .eve-radio {
        flex-shrink: 0;
        margin-right: $eve-spacing-tiny;
    }
}

.eve-radio-group {
    display: flex;
    align-items: center;

    .eve-radio-control {
        &:not(:last-child) {
            margin-right: $eve-spacing-normal;
        }
    }
}

.eve-radio-list {
    & > .eve-radio-list {
        padding-left: $eve-spacing-small;
        margin-bottom: $eve-spacing-tiny;
    }

    .eve-radio-control {
        &:not(:last-child) {
            margin-bottom: $eve-spacing-tiny;
        }
    }
}
