$eve-select-height: 36px;
$eve-select-arrow-size: 6px;
$eve-select-arrow-border-width: 1px;
$eve-select-sizes: (
    small: 28px,
    normal: 36px,
    large: 48px
) !default;
$eve-select-paddings: (
    small: $eve-spacing-tiny,
    normal: $eve-spacing-small,
    large: $eve-spacing-normal
) !default;
$eve-select-font-sizes: (
    small: $eve-font-tiny,
    normal: $eve-font-small,
    large: $eve-font-normal
) !default;

.eve-select {
    display: block;
    position: relative;
    max-width: 100%;
    width: 100%;
    -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
    -moz-appearance: none; // sass-lint:disable-line no-vendor-prefixes
    outline: none;
    font-family: inherit;
    border-radius: 0;
    color: $eve-color-grey-black;
    cursor: pointer;
    border: 1px solid $eve-color-dark-silver;

    &:focus {
        border-color: $eve-color-blue;
    }

    @each $eve-select-size in map-keys($eve-select-sizes) {
        $size: map-get($eve-select-sizes, $eve-select-size);
        $padding: map-get($eve-select-paddings, $eve-select-size);
        $font-size: map-get($eve-select-font-sizes, $eve-select-size);

        @if $eve-select-size == 'normal' {
            height: $size;
            line-height: $size;
            padding: 0 ($padding * 2) 0 $padding;
            font-size: $font-size;
            background: $eve-color-white url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23333333'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right $padding center / ($size / 4) ($size / 4); // sass-lint:disable-line quotes

            &:disabled {
                background: $eve-color-dark-silver url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23607d8b'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right $padding center / ($size / 4) ($size / 4); // sass-lint:disable-line quotes
            }
        } @else {
            &.is-#{$eve-select-size} {
                height: $size;
                line-height: $size;
                padding: 0 ($padding * 2) 0 $padding;
                font-size: $font-size;
                background: $eve-color-white url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23333333'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right $padding center / ($size / 4) ($size / 4); // sass-lint:disable-line quotes

                &.disabled {
                    background: $eve-color-dark-silver url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23607d8b'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right $padding center / ($size / 4) ($size / 4); // sass-lint:disable-line quotes
                }
            }
        }

        &.is-rounded {
            border-radius: $size / 2;
        }

        &:disabled {
            border-color: $eve-color-dark-silver;
            color: $eve-color-darkest-silver;
            pointer-events: none;
        }
    }
}

.eve-select-field {
    position: relative;
    display: flex;
    align-items: center;

    @each $eve-select-size in map-keys($eve-select-sizes) {
        $size: map-get($eve-select-sizes, $eve-select-size);
        $padding: map-get($eve-select-paddings, $eve-select-size);

        @if $eve-select-size == 'normal' {
            &.has-icon {
                i,
                svg {
                    left: $padding;
                }

                i {
                    font-size: $size / 2;
                }

                svg {
                    width: $size / 2;
                    height: $size / 2;
                }

                .eve-select {
                    padding-left: ($size / 2) + ($padding * 2) - ($padding / 2);
                }
            }
        } @else {
            &.is-#{$eve-select-size} {
                &.has-icon {
                    i,
                    svg {
                        left: $padding;
                    }

                    i {
                        font-size: $size / 2;
                    }

                    svg {
                        width: $size / 2;
                        height: $size / 2;
                    }

                    .eve-select {
                        padding-left: ($size / 2) + ($padding * 2) - ($padding / 2);
                    }
                }
            }
        }
    }

    &.has-icon {
        i,
        svg {
            position: absolute;
        }

        i {
            color: $eve-color-darker-silver;
        }

        svg {
            fill: $eve-color-darker-silver;
        }
    }
}
