$eve-select-height: 36px !default;
$eve-select-border-width: 1px !default;
$eve-select-max-width: 100% !default;
$eve-select-disable-color: #607d8b !default;
$eve-select-arrow-size: 6px !default;
$eve-select-arrow-border-width: 1px !default;

.eve-select {
    display: inline-block;
    position: relative;
    max-width: $eve-select-max-width;
    vertical-align: top;

    &::after {
        content: '';
        position: absolute;
        border: $eve-select-arrow-border-width solid $eve-color-grey-black;
        border-right: 0;
        border-top: 0;
        transform: rotate(-45deg);
        width: $eve-select-arrow-size;
        height: $eve-select-arrow-size;
        right: $eve-spacing-small;
        top: calc(50% - #{$eve-select-arrow-size / 2 + $eve-select-arrow-border-width});
        box-sizing: border-box;
        pointer-events: none;
    }

    select {
        -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
        outline: none;
        font-family: inherit;
        font-size: $eve-font-normal;
        border-radius: 0;
        background: transparent;
        width: inherit;
        color: $eve-color-grey-black;
        cursor: pointer;
        border: $eve-select-border-width solid $eve-color-dark-silver;
        box-sizing: border-box;
        height: $eve-select-height;
        line-height: $eve-select-height;
        padding: 0 ($eve-spacing-small * 2) 0 $eve-spacing-small;
    }

    &:focus {
        border-color: $eve-color-blue;
    }

    &.eve-select-disable {
        &::after {
            border-color: $eve-select-disable-color;
        }

        select {
            background: $eve-color-dark-silver;
            border-color: $eve-color-dark-silver;
            color: $eve-select-disable-color;
            pointer-events: none;
        }
    }
}

.eve-select-control {
    display: flex;

    &:not(.eve-select-control-round) {
        .eve-button {
            border-radius: 0;
        }
    }

    &.eve-select-control-round {
        .eve-select {
            margin-right: $eve-spacing-tiny;

            select {
                border-radius: $eve-select-height / 2;
            }
        }
    }
}

.eve-select-group {
    display: flex;

    .eve-select {
        width: 100%;

        &:not(:last-child) {
            margin-right: $eve-spacing-tiny;
        }
    }

    &.eve-select-group-round {
        .eve-select {
            select {
                border-radius: $eve-select-height / 2;
            }
        }
    }
}
