$eve-select-height: 36px !default;
$eve-select-border-width: 1px !default;
$eve-select-max-width: 100% !default;
$eve-select-width: 100% !default;
$eve-select-arrow-size: 6px !default;
$eve-select-arrow-border-width: 1px !default;

.eve-select {
    display: block;
    position: relative;
    max-width: $eve-select-max-width;
    width: $eve-select-width;
    background: $eve-color-white;

    &::after {
        content: '';
        position: absolute;
        border: $eve-select-arrow-border-width solid $eve-color-grey-black;
        border-right: 0;
        border-top: 0;
        transform: rotate(-45deg);
        width: $eve-select-arrow-size;
        height: $eve-select-arrow-size;
        right: $eve-spacing-small;
        top: calc(50% - #{$eve-select-arrow-size / 2 + $eve-select-arrow-border-width});
        pointer-events: none;
        box-sizing: border-box;
    }

    select {
        -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
        -moz-appearance: none; // sass-lint:disable-line no-vendor-prefixes
        outline: none;
        font-family: inherit;
        font-size: $eve-font-normal;
        border-radius: 0;
        background: transparent;
        width: 100%;
        color: $eve-color-grey-black;
        cursor: pointer;
        border: $eve-select-border-width solid $eve-color-dark-silver;
        height: $eve-select-height;
        line-height: $eve-select-height;
        padding: 0 ($eve-spacing-small * 2) 0 $eve-spacing-small;

        &:focus {
            border-color: $eve-color-blue;
        }
    }

    &.eve-select-disable {
        &::after {
            border-color: $eve-color-darkest-silver;
        }

        select {
            background: $eve-color-dark-silver;
            border-color: $eve-color-dark-silver;
            color: $eve-color-darkest-silver;
            pointer-events: none;
        }
    }
}

.eve-select-control {
    display: flex;

    .eve-button {
        border-radius: 0;
    }
}

.eve-select-group {
    display: flex;

    .eve-select {
        &:not(:last-child) {
            margin-right: $eve-spacing-tiny;
        }
    }
}
