$eve-switch-width: 32px;
$eve-switch-height: 18px;

.eve-switch {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: $eve-switch-width;
    height: $eve-switch-height;
    vertical-align: middle;

    input {
        &[type='checkbox'] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 0;
            opacity: 0;
            cursor: pointer;
            margin: 0;

            &:checked ~ .eve-switch-mark {
                &::after {
                    background: $eve-color-green;
                    left: $eve-switch-width / 2;
                }
            }

            &:disabled {
                cursor: default;

                & ~ .eve-switch-mark {
                    background: $eve-color-dark-silver;

                    &::after {
                        background: $eve-color-white;
                    }
                }
            }
        }
    }

    .eve-switch-mark {
        background: $eve-color-bright-silver;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-radius: $eve-switch-height / 2;
        padding: 2px;
        box-sizing: border-box;

        &::after {
            content: '';
            width: $eve-switch-height - 4;
            height: $eve-switch-height - 4;
            background: $eve-color-darker-silver;
            border-radius: 50%;
            position: absolute;
            left: 2px;
            transition: left 150ms ease, background 150ms ease;
        }
    }
}

.eve-switch-control {
    display: flex;
    font-size: $eve-font-small;

    .eve-switch {
        flex-shrink: 0;
        margin-right: $eve-spacing-tiny;
    }
}

.eve-switches {
    .eve-switch-control {
        &:not(:last-child) {
            margin: 0 0 $eve-spacing-tiny;
        }
    }

    &.is-inline {
        display: flex;

        .eve-switch-control {
            &:not(:last-child) {
                margin: 0 $eve-spacing-normal 0 0;
            }
        }
    }
}
