$eve-switch-width: 2rem;
$eve-switch-height: 1.125rem;

.eve-switch {
    align-items: center;
    display: inline-flex;
    flex-shrink: 0;
    height: $eve-switch-height;
    justify-content: center;
    position: relative;
    vertical-align: top;
    width: $eve-switch-width;

    input {
        &[type='checkbox'] {
            cursor: pointer;
            height: 100%;
            left: 0;
            margin: 0;
            opacity: 0;
            padding: 0;
            position: absolute;
            top: 0;
            width: 100%;

            &:checked ~ i {
                background: $eve-color-success;
                justify-content: flex-end;
            }

            &:disabled {
                pointer-events: none;

                ~ i {
                    opacity: .5;
                }
            }
        }
    }

    i {
        align-items: center;
        background: $eve-color-darker-silver;
        border-radius: $eve-switch-height / 2;
        box-sizing: border-box;
        display: flex;
        height: 100%;
        justify-content: flex-start;
        padding: .125rem;
        pointer-events: none;
        width: 100%;

        &::after {
            background: $eve-color-light;
            border-radius: 50%;
            content: '';
            height: 100%;
            width: $eve-switch-height - .25rem;
        }
    }
}
