$eve-table-th-height: 56px !default;
$eve-table-tr-height: 48px !default;
$eve-table-filter-height: 56px !default;

.eve-table {
    border-spacing: 0;
    border: 1px solid $eve-color-dark-silver;
    border-collapse: collapse;
    width: 100%;
    font-size: $eve-font-small;

    thead {
        text-align: left;

        tr {
            border-bottom: 1px solid $eve-color-dark-silver;

            th {
                height: $eve-table-th-height;
                font-weight: normal;
                background: $eve-color-bright-silver;
                color: $eve-color-darkest-silver;
                padding: 0 $eve-spacing-normal;
            }
        }
    }

    tbody {
        tr {
            height: $eve-table-tr-height;

            &:not(:last-child) {
                border-bottom: 1px solid $eve-color-dark-silver;
            }

            td {
                padding: 0 $eve-spacing-normal;

                .eve-checkbox {
                    display: flex;
                }
            }
        }
    }

    &.eve-table-strip {
        tbody {
            tr {
                &:nth-child(even) {
                    background: rgba($eve-color-bright-silver, .5); // sass-lint:disable-line no-color-literals
                }
            }
        }
    }

    &.eve-table-select {
        tbody {
            tr {
                &:hover {
                    background: rgba($eve-color-blue, .1); // sass-lint:disable-line no-color-literals
                }
            }
        }
    }
}

.eve-table-filter {
    .eve-input-control {
        height: $eve-table-filter-height;
        line-height: $eve-table-filter-height;
        border-left: 1px solid $eve-color-dark-silver;
        border-top: 1px solid $eve-color-dark-silver;
        border-right: 1px solid $eve-color-dark-silver;
        padding: 0 $eve-spacing-tiny;

        .eve-input {
            border: 0;
        }

        .eve-input-icon {
            left: 24px;
        }
    }
}
