$eve-tab-size: 3rem;

.eve-tabs {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        box-sizing: border-box;
        color: $eve-color-black;
        cursor: pointer;
        flex: 1;
        height: $eve-tab-size;
        line-height: $eve-tab-size;
        overflow: hidden;
        padding: 0 $eve-spacing-16;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
            color: $eve-color-blue;
        }

        &.is-active {
            border-bottom: 1px solid $eve-color-blue;
            color: $eve-color-blue;
        }

        &.is-disabled {
            opacity: .5;
            pointer-events: none;
        }
    }
}
