.eve-table {
    border: 1px solid $eve-color-dark-silver;
    border-collapse: collapse;
    border-spacing: 0;
    color: $eve-color-dark;
    font-size: .875rem;
    line-height: 1.25rem;
    table-layout: fixed;
    width: 100%;

    thead {
        tr {
            border-bottom: 1px solid $eve-color-dark-silver;

            th {
                box-sizing: border-box;
                color: $eve-color-darkest-silver;
                font-weight: normal;
                height: 3rem;
                padding: $eve-spacing-tiny $eve-spacing-normal;
                text-align: left;
                word-break: break-word;
            }
        }
    }

    tbody {
        tr {
            background: $eve-color-light;
            height: 3rem;

            &:not(:last-child) {
                border-bottom: 1px solid $eve-color-dark-silver;
            }

            td {
                padding: $eve-spacing-tiny $eve-spacing-normal;
                text-align: left;
                word-wrap: break-word;
            }
        }
    }
}
