$eve-tab-size: 3rem;

.eve-tab {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $eve-color-dark-silver;

    li {
        cursor: pointer;
        height: $eve-tab-size;
        line-height: $eve-tab-size;
        overflow: hidden;
        padding: 0 $eve-spacing-16;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
            color: $eve-color-blue;
        }

        &.is-active {
            color: $eve-color-blue;
            position: relative;

            &::after {
                content: '';
                display: block;
                height: 1px;
                background: $eve-color-blue;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }

        &.is-disabled {
            opacity: .5;
            pointer-events: none;
        }
    }
}
