$eve-table-filter-height: 56px;

.eve-table {
    border-spacing: 0;
    border: 1px solid $eve-color-dark-silver;
    border-collapse: collapse;
    width: 100%;
    font-size: $eve-font-small;

    thead {
        text-align: left;

        tr {
            border-bottom: 1px solid $eve-color-dark-silver;

            th {
                height: 56px;
                font-weight: normal;
                background: $eve-color-bright-silver;
                color: $eve-color-darkest-silver;
                padding: 0 $eve-spacing-normal;
            }
        }
    }

    tbody {
        tr {
            height: 48px;

            &:not(:last-child) {
                border-bottom: 1px solid $eve-color-dark-silver;
            }

            // &:hover {
            //     background: rgba($eve-color-primary, .1);
            // }

            td {
                padding: 0 $eve-spacing-normal;

                .eve-checkbox {
                    display: flex;
                }
            }
        }
    }

    &.is-stripped {
        tbody {
            tr {
                &:nth-child(even) {
                    background: rgba($eve-color-bright-silver, .5);
                }
            }
        }
    }
}

.eve-table-filter {
    .eve-input-field {
        height: $eve-table-filter-height;
        line-height: $eve-table-filter-height;

        .eve-input {
            height: inherit;
            line-height: inherit;
            border-bottom: 0;

            &:focus {
                border-color: $eve-color-dark-silver;
            }
        }

        .i,
        svg {
            left: 24px;
        }
    }
}
