$eve-tabs-size: 3rem;

.eve-tabs {
    display: flex;
    border-bottom: 1px solid $eve-color-dark-silver;
    list-style: none;
    padding: 0 $eve-spacing-tiny;
    margin: 0;
    font-size: $eve-font-normal;
    height: $eve-tabs-size;
    line-height: $eve-tabs-size;
    box-sizing: border-box;

    li {
        margin: 0 $eve-spacing-tiny;
        color: $eve-color-dark;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 $eve-spacing-tiny;

        a {
            text-decoration: none;
            color: inherit;
            display: block;
        }

        &:hover {
            color: $eve-color-primary;
        }

        &.is-active {
            color: $eve-color-primary;
            position: relative;

            &::after {
                content: '';
                height: .25rem;
                background: $eve-color-primary;
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }

        &.is-disabled {
            color: $eve-color-darker-silver;
            pointer-events: none;

            &::after {
                background: $eve-color-darker-silver;
            }
        }
    }
}
