$eve-tag-colors: (
    primary: $eve-color-primary,
    success: $eve-color-success,
    warning: $eve-color-warning,
    danger: $eve-color-danger
);
$eve-tag-size: 1.75rem;

.eve-tag {
    display: inline-flex;
    align-items: center;
    height: $eve-tag-size;
    line-height: $eve-tag-size;
    padding: 0 $eve-spacing-tiny;
    font-size: $eve-font-small;
    color: $eve-color-light;

    @each $eve-tag-color in map-keys($eve-tag-colors) {
        $color: map-get($eve-tag-colors, $eve-tag-color);

        &.is-#{$eve-tag-color} {
            background: $color;

            &:hover {
                background: lighten($color, 40);
                color: $color;

                .eve-tag-icon {
                    i {
                        color: $color;
                    }

                    svg {
                        fill: $color;
                    }
                }

                .eve-tag-action {
                    background: $color;

                    i {
                        color: $eve-color-light;
                    }

                    svg {
                        fill: $eve-color-light;
                    }
                }
            }

            &.is-outlined {
                box-shadow: inset 0 0 0 1px $color;
                color: $color;

                .eve-tag-icon {
                    i {
                        color: $color;
                    }

                    svg {
                        fill: $color;
                    }
                }
            }
        }
    }

    &.is-outlined {
        background: transparent;

        &:hover {
            box-shadow: none;
        }
    }

    .eve-tag-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: $eve-spacing-tiny;

        i {
            font-size: $eve-tag-size / 2;
            color: $eve-color-light;
        }

        svg {
            width: $eve-tag-size / 2;
            height: $eve-tag-size / 2;
            fill: $eve-color-light;
        }
    }

    .eve-tag-action {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: $eve-spacing-tiny;
        border-radius: 50%;
        cursor: pointer;

        i {
            font-size: $eve-tag-size / 2;
            color: $eve-color-light;
        }

        svg {
            width: $eve-tag-size / 2;
            height: $eve-tag-size / 2;
            fill: $eve-color-light;
        }
    }
}

.eve-tags {
    display: flex;
    flex-wrap: wrap;
    margin: -#{.25rem};

    .eve-tag {
        margin: .25rem;
    }
}
