.eve-textarea {
    appearance: none;
    background: $eve-color-white;
    border: 1px solid $eve-color-dark-silver;
    font-family: inherit;
    font-size: $eve-font-14;
    max-width: 100%;
    min-height: 2.25rem;
    min-width: 100%;
    outline: none;
    padding: $eve-spacing-12 $eve-spacing-16;
    width: 100%;
    color: $eve-color-black;

    &::placeholder {
        color: $eve-color-darker-silver;
        font-family: inherit;
        font-size: inherit;
    }

    &:read-only {
        resize: none;
    }

    &:disabled {
        opacity: .5;
        pointer-events: none;
        resize: none;
    }
}
