$eve-textarea-min-height: 100px !default;
$eve-textarea-line-height: 20px !default;
$eve-textarea-width: 100% !default;
$eve-textarea-min-width: 100% !default;
$eve-textarea-max-width: 100% !default;
$eve-textarea-border-width: 1px !default;
$eve-textarea-disable-color: #607d8b !default;

.eve-textarea {
    background: $eve-color-white;
    padding: $eve-spacing-tiny $eve-spacing-small;
    vertical-align: top;
    border: $eve-textarea-border-width solid $eve-color-dark-silver;
    outline: none;
    box-sizing: border-box;
    min-height: $eve-textarea-min-height;
    width: $eve-textarea-width;
    max-width: $eve-textarea-min-width;
    min-width: $eve-textarea-max-width;
    font-size: $eve-font-normal;
    color: $eve-color-grey-black;
    -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
    font-family: inherit;
    line-height: $eve-textarea-line-height;

    &::placeholder {
        font-family: inherit;
        color: $eve-color-darker-silver;
    }

    &:focus {
        border-color: $eve-color-blue;
    }

    &.eve-textarea-disable {
        background: $eve-color-dark-silver;
        border-color: $eve-color-dark-silver;
        color: $eve-textarea-disable-color;
        pointer-events: none;
        resize: none;
    }
}

.eve-textarea-form {
    .eve-textarea-label {
        display: block;
        margin-bottom: $eve-spacing-tiny;
    }

    .eve-textarea-hint {
        display: block;
        margin-top: $eve-spacing-x-tiny;
    }

    &.eve-textarea-form-success {
        .eve-textarea {
            border-color: $eve-color-green;
        }

        .eve-textarea-hint {
            color: $eve-color-green;
        }
    }

    &.eve-textarea-form-danger {
        .eve-textarea {
            border-color: $eve-color-red;
        }

        .eve-textarea-hint {
            color: $eve-color-red;
        }
    }
}
