.eve-tile {
    display: flex;

    .eve-avatar {
        margin-right: $eve-spacing-normal;
    }

    .eve-tile-content {
        font-size: .875rem;
        line-height: 1.25rem;

        .eve-tile-title {
            color: $eve-color-dark;
            margin-bottom: $eve-spacing-x-tiny;
        }

        .eve-tile-description {
            color: $eve-color-darkest-silver;
        }
    }

    .eve-switch {
        margin-left: $eve-spacing-normal;
    }
}

.eve-tiles {
    .eve-tile {
        &:not(:last-child) {
            margin-bottom: $eve-spacing-small;
        }
    }
}
