$eve-tooltip-height: 24px !default;
$eve-tooltip-border-radius: $eve-tooltip-height / 2 !default;
$eve-tooltip-background-color: #263238 !default;

.eve-tooltip {
    position: relative;

    &::after {
        content: attr(data-tooltip);
        opacity: 0;
        visibility: hidden;
        background: $eve-tooltip-background-color;
        color: $eve-color-white;
        font-size: $eve-font-tiny;
        padding: 0 $eve-spacing-tiny;
        border-radius: $eve-tooltip-border-radius;
        pointer-events: none;
        position: absolute;
        text-transform: none;
        transition: opacity 150ms ease, visibility 150ms ease;
        white-space: pre;
        height: $eve-tooltip-height;
        line-height: $eve-tooltip-height;
        font-family: inherit;
        font-weight: normal;
    }

    &.eve-tooltip-top {
        &::after {
            bottom: calc(100% + #{$eve-spacing-tiny});
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &.eve-tooltip-left {
        &::after {
            bottom: calc(50% - #{$eve-tooltip-height / 2});
            right: calc(100% + #{$eve-spacing-tiny});
        }
    }

    &.eve-tooltip-bottom {
        &::after {
            top: calc(100% + #{$eve-spacing-tiny});
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &.eve-tooltip-right {
        &::after {
            bottom: calc(50% - #{$eve-tooltip-height / 2});
            left: calc(100% + #{$eve-spacing-tiny});
        }
    }

    &:hover {
        &::after {
            opacity: 1;
            visibility: visible;
        }
    }
}
