$eve-tooltip-size: 1.75rem !default;
$eve-tooltip-color: #263238 !default;
$eve-tooltip-max-width: 20rem !default;

.eve-tooltip {
    position: relative;

    &::after {
        background: $eve-tooltip-color;
        color: $eve-color-light;
        font-size: $eve-font-small;
        padding: 0 $eve-spacing-small;
        height: $eve-tooltip-size;
        line-height: $eve-tooltip-size;
        border-radius: $eve-tooltip-size / 2;
        max-width: $eve-tooltip-max-width;
        transition: all .2s ease; // sass-lint:disable-line no-transition-all
        content: attr(data-tooltip);
        pointer-events: none;
        position: absolute;
        text-transform: none;
        font-family: inherit;
        font-weight: normal;
        opacity: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-wrap: normal;
        z-index: 2147483648;
    }

    &.is-left {
        &::after {
            bottom: 50%;
            right: 100%;
            transform: translate($eve-spacing-tiny, 50%);
        }

        &:hover {
            &::after {
                transform: translate(-$eve-spacing-tiny, 50%);
            }
        }
    }

    &.is-top {
        &::after {
            bottom: 100%;
            left: 50%;
            transform: translate(-50%, $eve-spacing-tiny);
        }

        &:hover {
            &::after {
                transform: translate(-50%, -$eve-spacing-tiny);
            }
        }
    }

    &.is-right {
        &::after {
            left: 100%;
            bottom: 50%;
            transform: translate(-$eve-spacing-tiny, 50%);
        }

        &:hover {
            &::after {
                transform: translate($eve-spacing-tiny, 50%);
            }
        }
    }

    &.is-bottom {
        &::after {
            top: 100%;
            left: 50%;
            transform: translate(-50%, -$eve-spacing-tiny);
        }

        &:hover {
            &::after {
                transform: translate(-50%, $eve-spacing-tiny);
            }
        }
    }

    &:hover {
        &.has-delay {
            &::after {
                transition-delay: .3s;
            }
        }

        &::after {
            opacity: 1;
        }
    }
}
