<div id="installation" class="component">
    <div class="component-title">Installation</div>
    <p>There are 3 ways to install Eve. You can either install it via package managers, CDN, or manually.</p>
    <div class="component-content">
        <h3>NPM</h3>
        <pre class="snippet">npm install evecss</pre>
    </div>
    <div class="component-content">
        <h3>Yarn</h3>
        <pre class="snippet">yarn add evecss</pre>
    </div>
    <div class="component-content">
        <h3>Unpkg</h3>
        <pre class="snippet">&lt;<span class="snippet-tag">link</span> <span class="snippet-attr">rel=</span><span class="snippet-val">"stylesheet"</span> <span class="snippet-attr">href=</span><span class="snippet-val">"https://unpkg.com/evecss/dist/eve.min.css"</span>&gt;</pre>
    </div>
    <div class="component-content">
        <h3>Manually</h3>
        <p>Download the compiled and minified Eve.</p>
        <p>
            <a href="https://github.com/hpivanov/eve/releases" target="_blank" class="eve-button eve-button-success">Download Eve</a>
        </p>
        <p>Include <strong>eve.css</strong> or <strong>eve.min.css</strong> located in <strong>/dist</strong> inside your <strong>&lt;head&gt;</strong> tag.</p>
        <pre class="snippet">&lt;<span class="snippet-tag">link</span> <span class="snippet-attr">rel=</span><span class="snippet-val">"stylesheet"</span> <span class="snippet-attr">href=</span><span class="snippet-val">"eve.min.css"</span>&gt;</pre>
    </div>
</div>
<div id="code-requirements" class="component">
    <div class="component-title">Code Requirements</div>
    <div class="component-content">
        <p>Use HTML5 DOCTYPE</p>
        <pre class="snippet">&lt;!DOCTYPE html&gt;</pre>
    </div>
    <div class="component-content">
        <p>Add responsive viewport meta tag</p>
        <pre class="snippet">&lt;<span class="snippet-tag">meta</span> <span class="snippet-attr">name=</span><span class="snippet-val">"viewport"</span> <span class="snippet-attr">content=</span><span class="snippet-val">"width=device-width, initial-scale=1.0"</span>&gt;</pre>
    </div>
</div>
<div id="icons" class="component">
    <div class="component-title">Icons</div>
    <p>Eve is compatible with <a href="https://material.io/icons/" target="_blank">Material Icons</a>, <a href="https://fontawesome.com/" target="_blank">Font Awesome</a> and <a href="http://ionicons.com/" target="_blank">Ionicons</a>.</p>
    <div class="component-content">
        <pre class="snippet">{{!-- Material Icons --}}<br>&lt;<span class="snippet-tag">link</span> <span class="snippet-attr">rel=</span><span class="snippet-val">"stylesheet"</span> <span class="snippet-attr">href=</span><span class="snippet-val">"https://fonts.googleapis.com/icon?family=Material+Icons"</span>&gt;</pre>
        <br>
        <pre class="snippet">{{!-- Font Awesome --}}<br>&lt;<span class="snippet-tag">link</span> <span class="snippet-attr">rel=</span><span class="snippet-val">"stylesheet"</span> <span class="snippet-attr">href=</span><span class="snippet-val">"https://use.fontawesome.com/releases/v5.0.9/css/all.css"</span> <span class="snippet-attr">integrity=</span><span class="snippet-val">"sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"</span> <span class="snippet-attr">crossorigin=</span><span class="snippet-val">"anonymous"</span>></pre>
    </div>
</div>
<div id="starter-template" class="component">
    <div class="component-title">Starter Template</div>
    <div class="component-content">
    <p>If you want to get started right away, you can use this starter template.</p>
<pre class="snippet">
&lt;!DOCTYPE html&gt;
&lt;<span class="snippet-tag">html</span> <span class="snippet-attr">lang=</span><span class="snippet-val">"en"</span>&gt;
&lt;<span class="snippet-tag">head</span>&gt;
    &lt;<span class="snippet-tag">meta</span> <span class="snippet-attr">charset=</span><span class="snippet-val">"UTF-8"</span>&gt;
    &lt;<span class="snippet-tag">meta</span> <span class="snippet-attr">name=</span><span class="snippet-val">"viewport"</span> <span class="snippet-attr">content=</span><span class="snippet-val">"width=device-width, initial-scale=1.0"</span>&gt;
    &lt;<span class="snippet-tag">meta</span> <span class="snippet-attr">http-equiv=</span><span class="snippet-val">"X-UA-Compatible"</span> <span class="snippet-attr">content=</span><span class="snippet-val">"ie=edge"</span>&gt;
    &lt;<span class="snippet-tag">title</span>&gt;Hello World!&lt;/<span class="snippet-tag">title</span>&gt;
    &lt;<span class="snippet-tag">link</span> <span class="snippet-attr">rel=</span><span class="snippet-val">"stylesheet"</span> <span class="snippet-attr">href=</span><span class="snippet-val">"https://unpkg.com/evecss/dist/eve.min.css"</span>&gt;
&lt;/<span class="snippet-tag">head</span>&gt;
&lt;<span class="snippet-tag">body</span>&gt;
    &lt;<span class="snippet-tag">h1</span>&gt;
        Hello World!
    &lt;/<span class="snippet-tag">h1</span>&gt;
    &lt;<span class="snippet-tag">h2</span>&gt;
        This is my first project with &lt;<span class="snippet-tag">strong</span>&gt;Eve CSS&lt;/<span class="snippet-tag">strong</span>&gt;
    &lt;/<span class="snippet-tag">h2</span>&gt;
&lt;/<span class="snippet-tag">body</span>&gt;
&lt;/<span class="snippet-tag">html</span>&gt;
</pre>
    </div>
</div>
<div id="browser-support" class="component">
    <div class="component-title">Browser Support</div>
    <div class="component-content">
        <p>Eve uses <a href="https://github.com/postcss/autoprefixer" target="_blank">Autoprefixer</a> to make most css styles compatible with earlier browsers. Eve is compatible with recent versions of:</p>
        <ul class="component-list">
            <li>Chrome</li>
            <li>Firefox</li>
            <li>Safari</li>
            <li>Opera</li>
            <li>Edge</li>
        </ul>
        <p>Internet Explorer (10+) is partially supported.</p>
    </div>
</div>
