<div id="introduction" class="component">
    <div class="component-title">Typography</div>
    <div class="component-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat sit doloremque voluptate. Accusamus, sequi beatae quod dignissimos ratione ex nostrum officiis aliquam iure recusandae, soluta veritatis at animi porro rerum.</div>
    <div class="component-content">

    </div>
</div>
<div id="installation" class="component">
    <div class="component-title">Colors</div>
    <div class="component-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, eaque. Debitis corporis, illum explicabo vitae laboriosam neque non repellendus beatae aut facere reiciendis mollitia ullam esse quaerat? Quis, iusto sunt?</div>
    <div class="component-content">

    </div>
</div>
