<div id="getting-started/installation" class="component">
    <div class="component-title">Quick Install</div>
    <div class="component-content">
        <h3>NPM</h3>
        <pre class="snippet">npm install evecss</pre>
    </div>
    <div class="component-content">
        <h3>Yarn</h3>
        <pre class="snippet">yarn add evecss</pre>
    </div>
    <div class="component-content">
        <h3>jsDelivr</h3>
        <pre class="snippet">&lt;<span class="snippet-tag">link</span> <span class="snippet-attr">rel=</span><span class="snippet-val">"stylesheet"</span> <span class="snippet-attr">href=</span><span class="snippet-val">"https://cdn.jsdelivr.net/npm/evecss/dist/eve.min.css"</span>&gt;</pre>
    </div>
    <div class="component-content">
        <h3>Manually</h3>
        <p>
            <a href="https://github.com/kanbanize/eve/releases" target="_blank" class="eve-button is-success is-outlined">Download the compiled and minified Eve</a>
        </p>
        <p>Include <strong>eve.css</strong> or <strong>eve.min.css</strong> located in <strong>/dist</strong> inside your <strong>&lt;head&gt;</strong> tag.</p>
        <pre class="snippet">&lt;<span class="snippet-tag">link</span> <span class="snippet-attr">rel=</span><span class="snippet-val">"stylesheet"</span> <span class="snippet-attr">href=</span><span class="snippet-val">"eve.min.css"</span>&gt;</pre>
    </div>
</div>
<div id="getting-started/compatibility" class="component">
    <div class="component-title">Compatibility</div>
    <div class="component-content">
        <p>Eve uses <a href="https://github.com/postcss/autoprefixer" target="_blank">Autoprefixer</a> to make most css styles compatible with latest versions of:</p>
        <ul class="component-list">
            <li>Chrome</li>
            <li>Firefox</li>
            <li>Safari</li>
            <li>Opera</li>
            <li>Edge</li>
        </ul>
        <p>Internet Explorer (10+) is partially supported.</p>
    </div>
</div>
