<div id="installation" class="component">
    <div class="component-title">Installation</div>
    <div class="component-description">There are 3 ways to install Eve CSS. You can either install it via package managers, CDN, or manually.</div>
    <div class="component-content">
        <h3>NPM</h3>
        <pre class="snippet">npm install evecss</pre>
    </div>
    <div class="component-content">
        <h3>Yarn</h3>
        <pre class="snippet">yarn add evecss</pre>
    </div>
    <div class="component-content">
        <h3>Unpkg</h3>
        <pre class="snippet">&lt;<span class="snippet-tag">link</span> <span class="snippet-attr">rel=</span><span class="snippet-val">"stylesheet"</span> <span class="snippet-attr">href=</span><span class="snippet-val">"https://unpkg.com/evecss/dist/eve.min.css"</span>&gt;</pre>
    </div>
    <div class="component-content">
        <h3>Manually</h3>
        <p>Download the compiled and minified Eve CSS.</p>
        <p>
            <a href="https://github.com/hpivanov/eve/releases" target="_blank" class="eve-button eve-button-success">Download Eve CSS</a>
        </p>
        <p>Include <strong>eve.css</strong> or <strong>eve.min.css</strong> located in <strong>/dist</strong>.</p>
        <pre class="snippet">&lt;<span class="snippet-tag">link</span> <span class="snippet-attr">rel=</span><span class="snippet-val">"stylesheet"</span> <span class="snippet-attr">href=</span><span class="snippet-val">"eve.min.css"</span>&gt;</pre>
    </div>
    <div class="component-content">
        <h3>Icons</h3>
        <p>If you want to use icons with Eve, don't forget to include <a href="https://material.io/icons/" target="_blank">Material Icons</a>.</p>
        <pre class="snippet">&lt;<span class="snippet-tag">link</span> <span class="snippet-attr">rel=</span><span class="snippet-val">"stylesheet"</span> <span class="snippet-attr">href=</span><span class="snippet-val">"https://fonts.googleapis.com/icon?family=Material+Icons"</span>&gt;</pre>
    </div>
</div>
<div id="starter-template" class="component">
    <div class="component-title">Starter Template</div>
    <div class="component-description">If you want to get started right away, you can use this starter template.</div>
    <div class="component-content">
<pre class="snippet">
&lt;!<span class="snippet-tag">DOCTYPE</span> html&gt;
&lt;<span class="snippet-tag">html</span> <span class="snippet-attr">lang=</span><span class="snippet-val">"en"</span>&gt;
&lt;<span class="snippet-tag">head</span>&gt;
    &lt;<span class="snippet-tag">meta</span> <span class="snippet-attr">charset=</span><span class="snippet-val">"UTF-8"</span>&gt;
    &lt;<span class="snippet-tag">meta</span> <span class="snippet-attr">name=</span><span class="snippet-val">"viewport"</span> <span class="snippet-attr">content=</span><span class="snippet-val">"width=device-width, initial-scale=1.0"</span>&gt;
    &lt;<span class="snippet-tag">meta</span> <span class="snippet-attr">http-equiv=</span><span class="snippet-val">"X-UA-Compatible"</span> <span class="snippet-attr">content=</span><span class="snippet-val">"ie=edge"</span>&gt;
    &lt;<span class="snippet-tag">title</span>&gt;Hello World!&lt;/<span class="snippet-tag">title</span>&gt;
    &lt;<span class="snippet-tag">link</span> <span class="snippet-attr">rel=</span><span class="snippet-val">"stylesheet"</span> <span class="snippet-attr">href=</span><span class="snippet-val">"https://unpkg.com/evecss/dist/eve.min.css"</span>&gt;
    &lt;<span class="snippet-tag">link</span> <span class="snippet-attr">rel=</span><span class="snippet-val">"stylesheet"</span> <span class="snippet-attr">href=</span><span class="snippet-val">"https://fonts.googleapis.com/icon?family=Material+Icons"</span>>
&lt;/<span class="snippet-tag">head</span>&gt;
&lt;<span class="snippet-tag">body</span>&gt;
    &lt;<span class="snippet-tag">h1</span>&gt;
        Hello World!
    &lt;/<span class="snippet-tag">h1</span>&gt;
    &lt;<span class="snippet-tag">h2</span>&gt;
        My first website with &lt;<span class="snippet-tag">strong</span>&gt;Eve CSS&lt;/<span class="snippet-tag">strong</span>&gt;
    &lt;/<span class="snippet-tag">h2</span>&gt;
&lt;/<span class="snippet-tag">body</span>&gt;
&lt;/<span class="snippet-tag">html</span>&gt;
</pre>
    </div>
</div>
