.component {
    &:not(:last-child) {
        margin-bottom: 3.5rem;
    }

    .component-title {
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: #2196f3;
        text-transform: uppercase;
    }

    .component-description {
        margin-bottom: 3.5rem;
    }

    .component-content {
        &:not(:last-child) {
            margin-bottom: 3.5rem;
        }

        .component-header {
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 1.5rem;
        }

        .component-example {
            margin-bottom: 1.5rem;
        }

        .snippet {
            &:not(:last-child) {
                margin-bottom: 3.5rem;
            }
        }
    }
}
