.snippet {
    white-space: pre-wrap;
    padding: 16px 24px;
    background: #eceff1;
    line-height: 20px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    color: #333;
    font-size: 12px;
    margin: 0;
    position: relative;

    .snippet-tag {
        color: #3f51b5;
    }

    .snippet-attr {
        color: #455a64;
    }

    .snippet-val {
        color: #c2185B;
    }

    // .snippet-sign {
    //     color: #fff;
    // }
}
