$snippet-background-color: #eceff1;
$snippet-color: #37474f;
$snippet-tag-color: #3f51b5;
$snippet-attribute-color: #37474f;
$snippet-value-color: #c2185b;
$snippet-sign-color: #3f51b5;

.snippet {
    background: $snippet-background-color;
    color: $snippet-color;
    font-family: monospace;
    font-size: .75rem;
    line-height: 1.125rem;
    margin: 0;
    padding: 1rem 1.5rem;
    position: relative;
    white-space: pre-wrap;

    .snippet-tag {
        color: $snippet-tag-color;
    }

    .snippet-attr {
        color: $snippet-attribute-color;
    }

    .snippet-val {
        color: $snippet-value-color;
    }

    .snippet-sign {
        color: $snippet-sign-color;
    }
}
