@charset 'utf-8';

::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #cfd8dc;
}

html,
body {
    height: 100%;
}

html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #333;
    margin: 0;
    font-size: .875rem;
    line-height: 1.25rem;
}

a {
    color: #2196f3;
}

.container {
    display: flex;
    height: 100%;

    .sidebar {
        background: #2196F3;
        width: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        box-sizing: border-box;
        flex-shrink: 0;

        .sidebar-eve-link {
            padding: .5rem;

            svg {
                width: 1.5rem;
                height: 1.6875rem;
                fill: #fff;
            }
        }

        .sidebar-github-link {
            display: flex;
            padding: .5rem;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0);

            &:hover {
                background: rgba(255, 255, 255, .1);
            }

            svg {
                width: 1.5rem;
                height: 1.5rem;
                fill: #fff;
            }
        }
    }

    .navigation {
        width: 15rem;
        background: #eceff1;
        padding: 3rem 0 1.5rem;
        overflow: auto;
        box-sizing: border-box;
        flex-shrink: 0;

        .navigation-header {
            padding: 0 3rem;
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-size: .75rem;
            font-weight: bold;
        }

        .navigation-list {
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }

        .navigation-list-item {
            padding-left: 4rem;
            cursor: pointer;
            text-decoration: none;
            display: block;
            color: #333;
            margin-bottom: 1rem;
            font-size: .875rem;

            &:hover,
            &.is-active {
                color: #2196f3;
            }
        }
    }

    .content {
        flex: 1;
        overflow: auto;
        height: 100%;
        padding: 3rem 6rem;
        box-sizing: border-box;
    }
}

@import 'foundation-color';
@import 'snippet';
@import 'component';
