$eve-avatar-sizes: (
    x-tiny: 16px,
    tiny: 24px,
    small: 28px,
    normal: 32px,
    large: 40px,
    x-large: 96px
) !default;

@mixin getEveAvatarSize($size) {
    width: $size;
    height: $size;
    line-height: $size;
}

.eve-avatar {
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    vertical-align: middle;
    color: $eve-primary-color-white;

    @each $eveAvatarSize in map-keys($eve-avatar-sizes) {
        &.eve-avatar-#{$eveAvatarSize} {
            @include getEveAvatarSize(map-get($eve-avatar-sizes, $eveAvatarSize));

            @if $eveAvatarSize == 'x-tiny' {
                font-size: $eve-font-size-tiny;
            } @else if $eveAvatarSize == 'large' {
                font-size: $eve-font-size-large;
            } @else if $eveAvatarSize == 'x-large' {
                font-size: $eve-font-size-huge;
            } @else {
                font-size: $eve-font-size-small;
            }
        }
    }
}
