$eve-input-height: 32px !default;
$eve-input-border-radius: $eve-input-height / 2 !default;

@mixin getEveInput() {
    height: $eve-input-height;
    border-radius: $eve-input-border-radius;
    background: $eve-neutral-color-50;
    border: 0;
    outline: none;
    padding: 0 $eve-spacing-small;
    font-size: $eve-font-size-normal;
    color: $eve-primary-color-grey;
    box-sizing: border-box;
    width: 100%;
    vertical-align: top;
}

.eve-input {
    @include getEveInput();

    &::placeholder {
        color: $eve-neutral-color-200;
    }

    &:focus {
        box-shadow: inset 0 0 0 1px $eve-neutral-color-100;
    }
}
