$eve-input-height: 32px !default;
$eve-input-border-radius: $eve-input-height / 2 !default;

.eve-input {
    height: $eve-input-height;
    border-radius: $eve-input-border-radius;
    background: $eve-neutral-color-50;
    border: 0;
    outline: none;
    padding: 0 $eve-spacing-small;
    font-size: $eve-font-size-normal;
    color: $eve-primary-color-grey;
    box-sizing: border-box;
    width: 100%;
    vertical-align: top;

    &::placeholder {
        color: $eve-neutral-color-500;
    }

    &:focus {
        box-shadow: inset 0 0 0 1px $eve-primary-color-blue;
    }

    &.eve-input-disable {
        background: $eve-neutral-color-200;
        color: $eve-primary-color-white;
        pointer-events: none;

        &:focus {
            box-shadow: none;
        }
    }
}

.eve-input-control {
    display: flex;

    .eve-input {
        height: 36px;
        margin-right: $eve-spacing-tiny;
    }

    .eve-button {
        &::before {
            content: ' ';
            display: block;
        }
    }
}

.eve-input-group {
    display: flex;

    .eve-input:not(:last-child) {
        margin-right: $eve-spacing-tiny;
    }
}
