.eve-progress-line {
    width: 100%;
    background: $eve-neutral-color-50;
    height: 4px;
    position: relative;
    overflow: hidden;

    &::after {
        content: ' ';
        width: 20%;
        position: absolute;
        top: 0;
        bottom: 0;
        background: $eve-primary-color-blue;
        animation-name: eveProgressLine;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;

    }

    @keyframes eveProgressLine {
        from {
            left: -20%;
        }

        to {
            left: 100%;
        }
    }
}

.eve-progress-oval {
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: ' ';
        background: transparent;
        border-radius: 100%;
        border: 4px solid $eve-neutral-color-50;
        border-top-color: $eve-primary-color-blue;
        padding: 20px;
        display: inline-block;
        animation-name: eveProgressOval;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-timing-function: linear;
    }

    &::after {
        content: attr(data-label);
        margin-left: $eve-spacing-normal;
    }

    @keyframes eveProgressOval {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }
}
