<div class="component">
    <div class="component-title">Avatar</div>
    <div class="component-content">
        <div class="component-header">Avatar with picture</div>
        <div class="component-example">
            <div class="eve-avatar eve-avatar-x-large">
                <img src="images/avatar.jpg">
            </div>
            <div class="eve-avatar eve-avatar-large">
                <img src="images/avatar.jpg">
            </div>
            <div class="eve-avatar eve-avatar-normal">
                <img src="images/avatar.jpg">
            </div>
            <div class="eve-avatar eve-avatar-small">
                <img src="images/avatar.jpg">
            </div>
            <div class="eve-avatar eve-avatar-tiny">
                <img src="images/avatar.jpg">
            </div>
            <div class="eve-avatar eve-avatar-x-tiny">
                <img src="images/avatar.jpg">
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Avatar with state</div>
        <div class="component-example">
            <div class="eve-avatar eve-avatar-x-large eve-avatar-online">
                <img src="images/avatar.jpg">
            </div>
            <div class="eve-avatar eve-avatar-large eve-avatar-busy">
                <img src="images/avatar.jpg">
            </div>
            <div class="eve-avatar eve-avatar-normal eve-avatar-away">
                <img src="images/avatar.jpg">
            </div>
            <div class="eve-avatar eve-avatar-small eve-avatar-offline">
                <img src="images/avatar.jpg">
            </div>
            <div class="eve-avatar eve-avatar-tiny eve-avatar-online">
                <img src="images/avatar.jpg">
            </div>
            <div class="eve-avatar eve-avatar-x-tiny eve-avatar-busy">
                <img src="images/avatar.jpg">
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Avatar with initials</div>
        <div class="component-example">
            <div class="eve-avatar eve-avatar-x-large" data-initial="XL"></div>
            <div class="eve-avatar eve-avatar-large" data-initial="L"></div>
            <div class="eve-avatar eve-avatar-normal" data-initial="N"></div>
            <div class="eve-avatar eve-avatar-small" data-initial="S"></div>
            <div class="eve-avatar eve-avatar-tiny" data-initial="T"></div>
            <div class="eve-avatar eve-avatar-x-tiny" data-initial="X"></div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Grouped avatars</div>
        <div class="component-example">
            <div class="eve-avatar-group">
                <div class="eve-avatar eve-avatar-small" data-initial="XL"></div>
                <div class="eve-avatar eve-avatar-small" data-initial="L"></div>
                <div class="eve-avatar eve-avatar-small" data-initial="N"></div>
                <div class="eve-avatar eve-avatar-small" data-initial="S"></div>
                <div class="eve-avatar eve-avatar-small" data-initial="T"></div>
                <div class="eve-avatar eve-avatar-small" data-initial="X"></div>
            </div>
        </div>
    </div>
</div>
