<div class="component">
    <div class="component-title">Badge</div>
    <div class="component-content">
        <div class="component-header">Button with badge</div>
        <div class="component-example">
            <div class="eve-buttons">
                <button class="eve-button is-primary eve-badge">Notifications</button>
                <button class="eve-button is-primary eve-badge" data-badge="2">Notifications</button>
                <button class="eve-button is-primary eve-badge" data-badge="222">Notifications</button>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Outlined button with badge</div>
        <div class="component-example">
            <div class="eve-buttons">
                <button class="eve-button is-primary is-outlined eve-badge">Notifications</button>
                <button class="eve-button is-primary is-outlined eve-badge" data-badge="2">Notifications</button>
                <button class="eve-button is-primary is-outlined eve-badge" data-badge="222">Notifications</button>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Avatar with badge</div>
        <div class="component-example">
            <div class="eve-avatar is-large eve-badge" data-initial="N"></div>
            <div class="eve-avatar is-large eve-badge" data-badge="2" data-initial="N"></div>
            <div class="eve-avatar is-large eve-badge" data-badge="222" data-initial="N"></div>
        </div>
    </div>
</div>
