<div class="component">
    <div class="component-title">Breadcrumb</div>
    <div class="component-content">
        <div class="component-header">Default breadcrumb</div>
        <div class="component-example">
            <nav class="eve-breadcrumb">
                <ul>
                    <li>
                        <a href="#">Eve</a>
                    </li>
                    <li>
                        <a href="#">Documentation</a>
                    </li>
                    <li>
                        <a href="#">Components</a>
                    </li>
                    <li class="is-active">
                        <a href="#">Breadcrumb</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
