<div id="breadcrumb" class="component">
    <div class="component-title">Breadcrumb</div>
    <div class="component-content">
        <div class="component-header">Breadcrumb default</div>
        <div class="component-example">
            <ul class="eve-breadcrumb">
                <li class="eve-breadcrumb-item">
                    <a href="#">Eve</a>
                </li>
                <li class="eve-breadcrumb-item">
                    <a href="#">Documentation</a>
                </li>
                <li class="eve-breadcrumb-item">
                    <a href="#">Components</a>
                </li>
                <li class="eve-breadcrumb-item">
                    <a href="#">Breadcrumb</a>
                </li>
            </ul>
        </div>
    </div>
</div>
