<style>
    .eve-buttons:not(:last-child) {
        margin-bottom: 8px;
    }
</style>
<div class="component">
    <div class="component-title">Button</div>
    <div class="component-content">
        <div class="component-header">Button colors</div>
        <div class="component-example">
            <button class="eve-button is-primary">Primary</button>
            <button class="eve-button is-success">Success</button>
            <button class="eve-button is-warning">Warning</button>
            <button class="eve-button is-danger">Danger</button>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Button with icon</div>
        <div class="component-example">
            <button class="eve-button is-primary">
                <i class="material-icons">favorite</i>Primary
            </button>
            <button class="eve-button is-success">
                <i class="material-icons">favorite</i>Success
            </button>
            <button class="eve-button is-warning">
                <i class="material-icons">favorite</i>Warning
            </button>
            <button class="eve-button is-danger">
                <i class="material-icons">favorite</i>Danger
            </button>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Outlined button</div>
        <div class="component-example">
            <button class="eve-button is-primary is-outlined">Primary</button>
            <button class="eve-button is-success is-outlined">Success</button>
            <button class="eve-button is-warning is-outlined">Warning</button>
            <button class="eve-button is-danger is-outlined">Danger</button>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Outlined button with icon</div>
        <div class="component-example">
            <button class="eve-button is-primary is-outlined">
                <i class="material-icons">favorite</i>Primary
            </button>
            <button class="eve-button is-success is-outlined">
                <i class="material-icons">favorite</i>Success
            </button>
            <button class="eve-button is-warning is-outlined">
                <i class="material-icons">favorite</i>Warning
            </button>
            <button class="eve-button is-danger is-outlined">
                <i class="material-icons">favorite</i>Danger
            </button>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Inverted button</div>
        <div class="component-example">
            <button class="eve-button is-primary is-inverted">Primary</button>
            <button class="eve-button is-success is-inverted">Success</button>
            <button class="eve-button is-warning is-inverted">Warning</button>
            <button class="eve-button is-danger is-inverted">Danger</button>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Inverted button with icon</div>
        <div class="component-example">
            <button class="eve-button is-primary is-inverted">
                <i class="material-icons">favorite</i>Primary
            </button>
            <button class="eve-button is-success is-inverted">
                <i class="material-icons">favorite</i>Success
            </button>
            <button class="eve-button is-warning is-inverted">
                <i class="material-icons">favorite</i>Warning
            </button>
            <button class="eve-button is-danger is-inverted">
                <i class="material-icons">favorite</i>Danger
            </button>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Loading button</div>
        <div class="component-example">
            <button class="eve-button is-primary is-loading">Primary</button>
            <button class="eve-button is-success is-loading">Success</button>
            <button class="eve-button is-warning is-loading">Warning</button>
            <button class="eve-button is-danger is-loading">Danger</button>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Rounded button</div>
        <div class="component-example">
            <button class="eve-button is-primary is-rounded">Rounded</button>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Grouped buttons</div>
        <div class="component-example">
            <div class="eve-buttons">
                <button class="eve-button is-primary is-outlined">Button 1</button>
                <button class="eve-button is-primary">Button 2</button>
            </div>
            <div class="eve-buttons is-center">
                <button class="eve-button is-primary is-outlined">Button 1</button>
                <button class="eve-button is-primary">Button 2</button>
            </div>
            <div class="eve-buttons is-right">
                <button class="eve-button is-primary is-outlined">Button 1</button>
                <button class="eve-button is-primary">Button 2</button>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Block button</div>
        <div class="component-example">
            <button class="eve-button is-primary is-block">Button Block</button>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Button sizes</div>
        <div class="component-example">
            <div class="eve-buttons">
                <button class="eve-button is-primary is-large">Large size - 48px</button>
                <button class="eve-button is-primary">Normal size - 36px</button>
                <button class="eve-button is-primary is-small">Small size - 28px</button>
            </div>
            <div class="eve-buttons">
                <button class="eve-button is-primary is-large">
                    <i class="material-icons">favorite</i>Large size - 48px
                </button>
                <button class="eve-button is-primary">
                    <i class="material-icons">favorite</i>Normal size - 36px
                </button>
                <button class="eve-button is-primary is-small">
                    <i class="material-icons">favorite</i>Small size - 28px
                </button>
            </div>
            <div class="eve-buttons">
                <button class="eve-button is-primary is-large is-loading">Large size - 48px</button>
                <button class="eve-button is-primary is-loading">Normal size - 36px</button>
                <button class="eve-button is-primary is-small is-loading">Small size - 28px</button>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">File button</div>
        <div class="component-example">
            <button class="eve-button is-primary is-file">
                Upload file
                <input type="file">
            </button>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Disabled button</div>
        <div class="component-example">
            <button class="eve-button is-primary" disabled="disabled">Disabled</button>
        </div>
    </div>
</div>
