<div class="component">
    <div class="component-title">Checkbox</div>
    <div class="component-content">
        <div class="component-header">Default checkbox</div>
        <div class="component-example">
            <div class="eve-checkbox">
                <input type="checkbox">
                <div class="eve-checkbox-mark"></div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Checkbox with label</div>
        <div class="component-example">
            <label class="eve-checkbox-control">
                <div class="eve-checkbox">
                    <input type="checkbox">
                    <div class="eve-checkbox-mark"></div>
                </div>
                Checkbox control #1
            </label>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Grouped checkboxes</div>
        <div class="component-example">
            <div class="eve-checkboxes is-inline">
                <label class="eve-checkbox-control">
                    <div class="eve-checkbox">
                        <input type="checkbox">
                        <div class="eve-checkbox-mark"></div>
                    </div>
                    Checkbox control #1
                </label>
                <label class="eve-checkbox-control">
                    <div class="eve-checkbox">
                        <input type="checkbox">
                        <div class="eve-checkbox-mark"></div>
                    </div>
                    Checkbox control #2
                </label>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">List of checkboxes</div>
        <div class="component-example">
            <div class="eve-checkboxes">
                <label class="eve-checkbox-control">
                    <div class="eve-checkbox">
                        <input type="checkbox">
                        <div class="eve-checkbox-mark"></div>
                    </div>
                    Checkbox control #1
                </label>
                <label class="eve-checkbox-control">
                    <div class="eve-checkbox">
                        <input type="checkbox">
                        <div class="eve-checkbox-mark"></div>
                    </div>
                    Checkbox control #2
                </label>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Tree list of checkboxes</div>
        <div class="component-example">
            <div class="eve-checkboxes">
                <label class="eve-checkbox-control">
                    <div class="eve-checkbox">
                        <input type="checkbox">
                        <div class="eve-checkbox-mark"></div>
                    </div>
                    Checkbox control #1
                </label>
                <label class="eve-checkbox-control">
                    <div class="eve-checkbox">
                        <input type="checkbox">
                        <div class="eve-checkbox-mark"></div>
                    </div>
                    Checkbox control #2
                </label>
                <div class="eve-checkboxes">
                    <label class="eve-checkbox-control">
                        <div class="eve-checkbox">
                            <input type="checkbox">
                            <div class="eve-checkbox-mark"></div>
                        </div>
                        Checkbox control #1
                    </label>
                    <label class="eve-checkbox-control">
                        <div class="eve-checkbox">
                            <input type="checkbox">
                            <div class="eve-checkbox-mark"></div>
                        </div>
                        Checkbox control #2
                    </label>
                    <div class="eve-checkboxes">
                        <label class="eve-checkbox-control">
                            <div class="eve-checkbox">
                                <input type="checkbox">
                                <div class="eve-checkbox-mark"></div>
                            </div>
                            Checkbox control #1
                        </label>
                        <label class="eve-checkbox-control">
                            <div class="eve-checkbox">
                                <input type="checkbox">
                                <div class="eve-checkbox-mark"></div>
                            </div>
                            Checkbox control #2
                        </label>
                    </div>
                </div>
                <label class="eve-checkbox-control">
                    <div class="eve-checkbox">
                        <input type="checkbox">
                        <div class="eve-checkbox-mark"></div>
                    </div>
                    Checkbox control #1
                </label>
                <label class="eve-checkbox-control">
                    <div class="eve-checkbox">
                        <input type="checkbox">
                        <div class="eve-checkbox-mark"></div>
                    </div>
                    Checkbox control #2
                </label>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Disabled checkbox</div>
        <div class="component-example">
            <div class="eve-checkbox">
                <input type="checkbox" disabled="disabled">
                <div class="eve-checkbox-mark"></div>
            </div>
            <div class="eve-checkbox">
                <input type="checkbox" disabled="disabled" checked="checked">
                <div class="eve-checkbox-mark"></div>
            </div>
        </div>
    </div>
</div>
