<div class="component">
    <div class="component-title">Chip</div>
    <div class="component-content">
        <div class="component-header">Default chip</div>
        <div class="component-example">
            <div class="eve-chip">thisisachip.png</div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Chip with icon</div>
        <div class="component-example">
            <div class="eve-chip">
                <div class="eve-chip-icon">
                    <i class="material-icons">person</i>
                </div>
                thisisachip.png
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Chip with action</div>
        <div class="component-example">
            <div class="eve-chip">
                thisisachip.png
                <div class="eve-chip-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Chip with icon and action</div>
        <div class="component-example">
            <div class="eve-chip">
                <div class="eve-chip-icon">
                    <i class="material-icons">person</i>
                </div>
                thisisachip.png
                <div class="eve-chip-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Chip with avatar</div>
        <div class="component-example">
            <div class="eve-chip">
                <div class="eve-avatar is-tiny">
                    <img src="images/avatar-1.jpg">
                </div>
                John Doe
            </div>
        </div>
    </div>
</div>
