<div id="chip" class="component">
    <div class="component-title">Chip</div>
    <div class="component-content">
        <div class="component-header">Chip default</div>
        <div class="component-example">
            <div class="eve-chip">thisisachip.png</div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Chip with action</div>
        <div class="component-example">
            <div class="eve-chip">
                <div class="eve-chip-icon">
                    <i class="material-icons">star</i>
                </div>
                thisisachip.png
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Chip with icon and action</div>
        <div class="component-example">
            <div class="eve-chip">
                <div class="eve-chip-icon">
                    <i class="material-icons">star</i>
                </div>
                thisisachip.png
                <div class="eve-chip-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Chip with avatar</div>
        <div class="component-example">
            <div class="eve-chip">
                <div class="eve-avatar eve-avatar-tiny">
                    <img src="docs/images/avatar.jpg">
                </div>
                John Doe
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Chip with avatar and action</div>
        <div class="component-example">
            <div class="eve-chip">
                <div class="eve-avatar eve-avatar-tiny">
                    <img src="docs/images/avatar.jpg">
                </div>
                John Doe
                <div class="eve-chip-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
        </div>
    </div>
</div>
