<div class="component">
    <div class="component-title">Chip</div>
    <div class="component-content">
        <div class="component-header">Default chip</div>
        <div class="component-example">
            <div class="eve-chip">thisisachip.png</div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Chip with icon</div>
        <div class="component-example">
            <div class="eve-chip">
                <div class="eve-chip-icon">
                    <i class="material-icons">person</i>
                </div>
                thisisachip.png
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Chip with action</div>
        <div class="component-example">
            <div class="eve-chip">
                thisisachip.png
                <div class="eve-chip-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Chip with icon and action</div>
        <div class="component-example">
            <div class="eve-chip">
                <div class="eve-chip-icon">
                    <i class="material-icons">person</i>
                </div>
                thisisachip.png
                <div class="eve-chip-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Chip with avatar</div>
        <div class="component-example">
            <div class="eve-chip">
                <div class="eve-avatar is-tiny">
                    <img src="images/avatar-1.jpg">
                </div>
                John Doe
                <div class="eve-chip-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-chip">
                <div class="eve-avatar is-tiny" data-initial="A"></div>
                John Doe
                <div class="eve-chip-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Rounded chip</div>
        <div class="component-example">
            <div class="eve-chip is-rounded">
                <div class="eve-chip-icon">
                    <i class="material-icons">person</i>
                </div>
                thisisachip.png
                <div class="eve-chip-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-chip is-rounded">
                <div class="eve-avatar is-tiny">
                    <img src="images/avatar-1.jpg">
                </div>
                John Doe
                <div class="eve-chip-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-chip is-rounded">
                <div class="eve-avatar is-tiny" data-initial="A"></div>
                John Doe
                <div class="eve-chip-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Grouped chips</div>
        <div class="component-example">
            <div class="eve-chips">
                <div class="eve-chip is-rounded">
                    <div class="eve-avatar is-tiny">
                        <img src="images/avatar-1.jpg">
                    </div>
                    Cristopher Ivanov
                    <div class="eve-chip-action">
                        <i class="material-icons">clear</i>
                    </div>
                </div>
                <div class="eve-chip is-rounded">
                    <div class="eve-avatar is-tiny" data-initial="J"></div>
                    John Doe
                    <div class="eve-chip-action">
                        <i class="material-icons">clear</i>
                    </div>
                </div>
                <div class="eve-chip is-rounded">
                    <div class="eve-avatar is-tiny" data-initial="A"></div>
                    Adam Spencer
                    <div class="eve-chip-action">
                        <i class="material-icons">clear</i>
                    </div>
                </div>
                <div class="eve-chip is-rounded">
                    <div class="eve-avatar is-tiny">
                        <img src="images/avatar-2.jpg">
                    </div>
                    Miyah Myles
                    <div class="eve-chip-action">
                        <i class="material-icons">clear</i>
                    </div>
                </div>
                <div class="eve-chip is-rounded">
                    <div class="eve-avatar is-tiny" data-initial="P"></div>
                    Patrick Johnson
                    <div class="eve-chip-action">
                        <i class="material-icons">clear</i>
                    </div>
                </div>
                <div class="eve-chip is-rounded">
                    <div class="eve-avatar is-tiny">
                        <img src="images/avatar-3.jpg">
                    </div>
                    Brantlee Adair
                    <div class="eve-chip-action">
                        <i class="material-icons">clear</i>
                    </div>
                </div>
                <div class="eve-chip is-rounded">
                    <div class="eve-avatar is-tiny" data-initial="J"></div>
                    Jesiah Neely
                    <div class="eve-chip-action">
                        <i class="material-icons">clear</i>
                    </div>
                </div>
                <div class="eve-chip is-rounded">
                    <div class="eve-avatar is-tiny">
                        <img src="images/avatar-4.jpg">
                    </div>
                    Vivianna Kiser
                    <div class="eve-chip-action">
                        <i class="material-icons">clear</i>
                    </div>
                </div>
                <div class="eve-chip is-rounded">
                    <div class="eve-avatar is-tiny" data-initial="L"></div>
                    Lorenz Vercauteren-Seghers
                    <div class="eve-chip-action">
                        <i class="material-icons">clear</i>
                    </div>
                </div>
                <div class="eve-chip is-rounded">
                    <div class="eve-avatar is-tiny" data-initial="R"></div>
                    Renee Sims
                    <div class="eve-chip-action">
                        <i class="material-icons">clear</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
