<div class="component">
    <div class="component-title">Dialog</div>
    <div class="component-content">
        <div class="component-header">Primary dialog</div>
        <div class="component-example">
            <div class="eve-dialog eve-dialog-primary">
                <div class="eve-dialog-close">
                    <i class="material-icons">close</i>
                </div>
                <div class="eve-dialog-header">Header</div>
                <div class="eve-dialog-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, mollitia quis expedita explicabo iure eaque in labore minima quaerat quae voluptate vitae, aliquam possimus, quos quibusdam? Sit ea eius explicabo.</div>
                <div class="eve-dialog-footer">
                    <button class="eve-button eve-button-primary eve-button-outline">Secondary</button>
                    <button class="eve-button eve-button-primary">Primary</button>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Success dialog</div>
        <div class="component-example">
            <div class="eve-dialog eve-dialog-success">
                <div class="eve-dialog-close">
                    <i class="material-icons">close</i>
                </div>
                <div class="eve-dialog-header">Header</div>
                <div class="eve-dialog-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, mollitia quis expedita explicabo iure eaque in labore minima quaerat quae voluptate vitae, aliquam possimus, quos quibusdam? Sit ea eius explicabo.</div>
                <div class="eve-dialog-footer">
                    <button class="eve-button eve-button-success eve-button-outline">Secondary</button>
                    <button class="eve-button eve-button-success">Primary</button>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Warning dialog</div>
        <div class="component-example">
            <div class="eve-dialog eve-dialog-warning">
                <div class="eve-dialog-close">
                    <i class="material-icons">close</i>
                </div>
                <div class="eve-dialog-header">Header</div>
                <div class="eve-dialog-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, mollitia quis expedita explicabo iure eaque in labore minima quaerat quae voluptate vitae, aliquam possimus, quos quibusdam? Sit ea eius explicabo.</div>
                <div class="eve-dialog-footer">
                    <button class="eve-button eve-button-warning eve-button-outline">Secondary</button>
                    <button class="eve-button eve-button-warning">Primary</button>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Danger dialog</div>
        <div class="component-example">
            <div class="eve-dialog eve-dialog-danger">
                <div class="eve-dialog-close">
                    <i class="material-icons">close</i>
                </div>
                <div class="eve-dialog-header">Header</div>
                <div class="eve-dialog-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, mollitia quis expedita explicabo iure eaque in labore minima quaerat quae voluptate vitae, aliquam possimus, quos quibusdam? Sit ea eius explicabo.</div>
                <div class="eve-dialog-footer">
                    <button class="eve-button eve-button-danger eve-button-outline">Secondary</button>
                    <button class="eve-button eve-button-danger">Primary</button>
                </div>
            </div>
        </div>
    </div>
</div>
