<div id="divider" class="component">
    <div class="component-title">Divider</div>
    <div class="component-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore quaerat, culpa incidunt aspernatur autem sed aliquam temporibus officia a in impedit modi ullam doloremque eaque odio nisi dolore natus nihil!</div>
    <div class="component-content">
        <div class="component-header">Divider default</div>
        <div class="component-example">
            <div class="eve-divider"></div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Divider with content</div>
        <div class="component-example">
            <div class="eve-divider" data-content="Sign Up"></div>
        </div>
    </div>
</div>