<div class="component">
    <div class="component-title">Dropdown</div>
    <div class="component-content">
        <div class="component-header">Default dropdown</div>
        <div class="component-example">
            <div class="eve-dropdown">
                <ul class="eve-dropdown-list">
                    <li class="eve-dropdown-list-item">Item 01</li>
                    <li class="eve-dropdown-list-item">Item 02</li>
                    <li class="eve-dropdown-list-item">Item 03</li>
                    <li class="eve-dropdown-list-item">Item 04</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Dropdown with active item</div>
        <div class="component-example">
            <div class="eve-dropdown">
                <ul class="eve-dropdown-list">
                    <li class="eve-dropdown-list-item">Item 01</li>
                    <li class="eve-dropdown-list-item is-active">Item 02</li>
                    <li class="eve-dropdown-list-item">Item 03</li>
                    <li class="eve-dropdown-list-item">Item 04</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Dropdown with disabled item</div>
        <div class="component-example">
            <div class="eve-dropdown">
                <ul class="eve-dropdown-list">
                    <li class="eve-dropdown-list-item">Item 01</li>
                    <li class="eve-dropdown-list-item is-disabled">Item 02</li>
                    <li class="eve-dropdown-list-item">Item 03</li>
                    <li class="eve-dropdown-list-item">Item 04</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Dropdown with icons</div>
        <div class="component-example">
            <div class="eve-dropdown">
                <ul class="eve-dropdown-list">
                    <li class="eve-dropdown-list-item">
                        <div class="eve-dropdown-list-item-icon">
                            <i class="material-icons">settings</i>
                        </div>
                        Item 01
                    </li>
                    <li class="eve-dropdown-list-item">
                        <div class="eve-dropdown-list-item-icon">
                            <i class="material-icons">settings</i>
                        </div>
                        Item 02
                    </li>
                    <li class="eve-dropdown-list-item">
                        <div class="eve-dropdown-list-item-icon">
                            <i class="material-icons">settings</i>
                        </div>
                        Item 03
                    </li>
                    <li class="eve-dropdown-list-item">
                        <div class="eve-dropdown-list-item-icon">
                            <i class="material-icons">settings</i>
                        </div>
                        Item 04
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Dropdown with avatars</div>
        <div class="component-example">
            <div class="eve-dropdown">
                <ul class="eve-dropdown-list">
                    <li class="eve-dropdown-list-item">
                        <div class="eve-avatar is-tiny">
                            <img src="images/avatar-1.jpg">
                        </div>
                        Item 01
                    </li>
                    <li class="eve-dropdown-list-item">
                        <div class="eve-avatar is-tiny">
                            <img src="images/avatar-1.jpg">
                        </div>
                        Item 02
                    </li>
                    <li class="eve-dropdown-list-item">
                        <div class="eve-avatar is-tiny">
                            <img src="images/avatar-1.jpg">
                        </div>
                        Item 03
                    </li>
                    <li class="eve-dropdown-list-item">
                        <div class="eve-avatar is-tiny">
                            <img src="images/avatar-1.jpg">
                        </div>
                        Item 04
                    </li>
                </li>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Dropdown with filter</div>
        <div class="component-example">
            <div class="eve-dropdown">
                <div class="eve-dropdown-filter">
                    <div class="eve-input-field has-icon">
                        <input type="text" class="eve-input" placeholder="Filter">
                        <i class="material-icons">filter_list</i>
                    </div>
                </div>
                <ul class="eve-dropdown-list">
                    <li class="eve-dropdown-list-item">Item 01</li>
                    <li class="eve-dropdown-list-item">Item 02</li>
                    <li class="eve-dropdown-list-item">Item 03</li>
                    <li class="eve-dropdown-list-item">Item 04</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Stripped dropdown</div>
        <div class="component-example">
            <div class="eve-dropdown eve-dropdown-strip">
                <ul class="eve-dropdown-list">
                    <li class="eve-dropdown-list-item">Welcome</li>
                    <li class="eve-dropdown-list-item">Inbox</li>
                    <li class="eve-dropdown-list-item">Workflow</li>
                    <li class="eve-dropdown-list-item">Timeline</li>
                    <li class="eve-dropdown-list-item">Power-ups</li>
                    <li class="eve-dropdown-list-item">Setup</li>
                    <li class="eve-dropdown-list-item">Done</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Dropdown with headers</div>
        <div class="component-example">
            <div class="eve-dropdown">
                <ul class="eve-dropdown-list">
                    <li class="eve-dropdown-list-header">Header 01</li>
                    <li class="eve-dropdown-list-item">Item 01</li>
                    <li class="eve-dropdown-list-item">Item 02</li>
                    <li class="eve-dropdown-list-item">Item 03</li>
                    <li class="eve-dropdown-list-item">Item 04</li>
                </ul>
                <ul class="eve-dropdown-list">
                    <li class="eve-dropdown-list-header">Header 02</li>
                    <li class="eve-dropdown-list-item">Item 01</li>
                    <li class="eve-dropdown-list-item">Item 02</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Dropdown with divider</div>
        <div class="component-example">
            <div class="eve-dropdown">
                <ul class="eve-dropdown-list">
                    <li class="eve-dropdown-list-item">Welcome</li>
                    <li class="eve-dropdown-list-divider"></li>
                    <li class="eve-dropdown-list-item">Inbox</li>
                    <li class="eve-dropdown-list-item">Workflow</li>
                    <li class="eve-dropdown-list-item">Timeline</li>
                    <li class="eve-dropdown-list-divider"></li>
                    <li class="eve-dropdown-list-item">Power-ups</li>
                    <li class="eve-dropdown-list-item">Setup</li>
                    <li class="eve-dropdown-list-item">Done</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Dropdown with checkboxes</div>
        <div class="component-example">
            <div class="eve-dropdown">
                <div class="eve-dropdown-list">
                    <label class="eve-dropdown-list-item eve-checkbox-control">
                        <div class="eve-checkbox">
                            <input class="eve-checkbox-native" type="checkbox">
                            <div class="eve-checkbox-mark"></div>
                        </div>
                        Item 01
                    </label>
                    <label class="eve-dropdown-list-item eve-checkbox-control">
                        <div class="eve-checkbox">
                            <input class="eve-checkbox-native" type="checkbox">
                            <div class="eve-checkbox-mark"></div>
                        </div>
                        Item 02
                    </label>
                    <label class="eve-dropdown-list-item eve-checkbox-control">
                        <div class="eve-checkbox">
                            <input class="eve-checkbox-native" type="checkbox">
                            <div class="eve-checkbox-mark"></div>
                        </div>
                        Item 03
                    </label>
                    <label class="eve-dropdown-list-item eve-checkbox-control">
                        <div class="eve-checkbox">
                            <input class="eve-checkbox-native" type="checkbox">
                            <div class="eve-checkbox-mark"></div>
                        </div>
                        Item 04
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
