<style>
    .eve-feedback:not(:last-child) {
        margin-bottom: 8px;
    }
</style>
<div class="component">
    <div class="component-title">Feedback</div>
    <div class="component-content">
        <div class="component-header">Default feedback</div>
        <div class="component-example">
            <div class="eve-feedback is-success">All messages were moved successfully</div>
            <div class="eve-feedback is-warning">Darth Vader is coming after you</div>
            <div class="eve-feedback is-danger">Darth Vader is behind you</div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Feedback with icon</div>
        <div class="component-example">
            <div class="eve-feedback is-success">
                <i class="material-icons">check</i>
                All messages were moved successfully
            </div>
            <div class="eve-feedback is-warning">
                <i class="material-icons">warning</i>
                Darth Vader is coming after you
            </div>
            <div class="eve-feedback is-danger">
                <i class="material-icons">error</i>
                Darth Vader is behind you
            </div>
        </div>
    </div>
</div>
