<div class="component">
    <div class="component-title">Feedback</div>
    <div class="component-content">
        <div class="component-header">Default feedback</div>
        <div class="component-example">
            <div class="eve-feedback eve-feedback-success">Feedback success</div>
            <div class="eve-feedback eve-feedback-warning">Feedback warning</div>
            <div class="eve-feedback eve-feedback-danger">Feedback danger</div>
        </div>
    </div>
</div>
