<div id="breadcrumb" class="component">
    <div class="component-title">Form</div>
    <div class="component-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quos, provident autem quia porro, inventore reiciendis animi sit magni quas voluptas optio iusto doloremque vitae! Voluptatibus consequatur quia sequi aut.</div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-form" style="width: 400px; margin: 0 auto;">
                <div class="eve-form-group">
                    <label class="eve-form-label">Name</label>
                    <input type="text" class="eve-input">
                </div>
                <div class="eve-form-group">
                    <label class="eve-form-label">Email</label>
                    <input type="email" class="eve-input">
                </div>
                <div class="eve-form-group">
                    <div class="eve-radio-group">
                        <label class="eve-radio-control">
                            <div class="eve-radio">
                                <input class="eve-radio-native" type="radio" name="gender">
                                <div class="eve-radio-mark"></div>
                            </div>
                            Male
                        </label>
                        <label class="eve-radio-control">
                            <div class="eve-radio">
                                <input class="eve-radio-native" type="radio" name="gender">
                                <div class="eve-radio-mark"></div>
                            </div>
                            Female
                        </label>
                    </div>
                </div>
                <div class="eve-form-group">
                    <label class="eve-form-label">Bio</label>
                    <textarea class="eve-textarea"></textarea>
                </div>
                <div class="eve-form-group">
                    <label class="eve-switch-control">
                        <div class="eve-switch">
                            <input class="eve-switch-native" type="checkbox" checked="checked">
                            <div class="eve-switch-mark"></div>
                        </div>
                        Sign up to the weekly newsletter
                    </label>
                </div>
                <div class="eve-form-group">
                    <label class="eve-form-label">Message</label>
                    <textarea class="eve-textarea"></textarea>
                </div>
                <div class="eve-form-group">
                    <label class="eve-checkbox-control">
                        <div class="eve-checkbox">
                            <input class="eve-checkbox-native" type="checkbox">
                            <div class="eve-checkbox-mark"></div>
                        </div>
                        Remember me
                    </label>
                </div>
                <div class="eve-form-group">
                    <div class="eve-button-group eve-button-group-round">
                        <button class="eve-button eve-button-primary">Send</button>
                        <button class="eve-button eve-button-primary eve-button-outline">Discard</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-form" style="width: 400px; margin: 0 auto;">
                <button class="eve-button eve-button-primary eve-button-block">Sign up with Google</button>
                <div class="eve-divider" data-content="or"></div>
                <div class="eve-form-group">
                    <input type="email" class="eve-input" placeholder="Email">
                </div>
                <div class="eve-form-group">
                    <input type="password" class="eve-input" placeholder="Password">
                </div>
                <div class="eve-form-group">
                    <input type="password" class="eve-input" placeholder="Confirm Password">
                </div>
                <div class="eve-form-group">
                    <input type="text" class="eve-input" placeholder="Job Title">
                </div>
                <div class="eve-form-group">
                    <label class="eve-form-label">Date of Birth</label>
                    <div class="eve-input-group">
                        <input type="text" class="eve-input" placeholder="Date">
                        <input type="text" class="eve-input" placeholder="Month">
                        <input type="text" class="eve-input" placeholder="Year">
                    </div>
                </div>
                <div class="eve-form-group">
                    <div class="eve-radio-group">
                        <label class="eve-radio-control">
                            <div class="eve-radio">
                                <input class="eve-radio-native" type="radio" name="gender">
                                <div class="eve-radio-mark"></div>
                            </div>
                            Male
                        </label>
                        <label class="eve-radio-control">
                            <div class="eve-radio">
                                <input class="eve-radio-native" type="radio" name="gender">
                                <div class="eve-radio-mark"></div>
                            </div>
                            Female
                        </label>
                        <label class="eve-radio-control">
                            <div class="eve-radio">
                                <input class="eve-radio-native" type="radio" name="gender">
                                <div class="eve-radio-mark"></div>
                            </div>
                            Non-binary
                        </label>
                    </div>
                </div>
                <div class="eve-form-group">
                    <label class="eve-checkbox-control">
                        <div class="eve-checkbox">
                            <input class="eve-checkbox-native" type="checkbox">
                            <div class="eve-checkbox-mark"></div>
                        </div>
                        I agree to Eve terms & conditions and Privacy Policy
                    </label>
                </div>
                <div class="eve-form-group">
                    <button class="eve-button eve-button-primary eve-button-block">Sign Up</button>
                </div>
                <div class="eve-form-group eve-form-group-center">
                    Already have an account? <a href="#">Sign In</a>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-form" style="width: 400px; margin: 0 auto;">
                <button class="eve-button eve-button-primary eve-button-block">Sign up with Google</button>
                <div class="eve-divider" data-content="or"></div>
                <div class="eve-form-group">
                    <input type="email" class="eve-input" placeholder="Email">
                </div>
                <div class="eve-form-group">
                    <input type="password" class="eve-input" placeholder="Password">
                </div>
                <div class="eve-form-group eve-form-group-right">
                    <button class="eve-button eve-button-primary">Sign In</button>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-form" style="width: 400px; margin: 0 auto;">
                <h5>Forgot you password?</h5>
                <p>Enter your email address to reset your password. You may need to check your spam folder.</p>
                <div class="eve-form-group">
                    <input type="email" class="eve-input" placeholder="Email">
                </div>
                <div class="eve-form-group eve-form-group-right">
                    <button class="eve-button eve-button-primary">Reset Email</button>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-form" style="width: 450px; margin: 0 auto;">
                <div class="eve-form-group">
                    <label class="eve-form-label">First Name</label>
                    <input type="text" class="eve-input" placeholder="Add your first name">
                </div>
                <div class="eve-form-group">
                    <label class="eve-form-label">Last Name</label>
                    <input type="text" class="eve-input" placeholder="Add your last name name">
                </div>
                <div class="eve-form-group">
                    <label class="eve-form-label">Email</label>
                    <input type="email" class="eve-input" placeholder="Add your email address">
                </div>
                <div class="eve-form-group">
                    <label class="eve-form-label">Mobile</label>
                    <input type="text" class="eve-input" placeholder="Add your mobile number">
                </div>
                <div class="eve-form-group">
                    <label class="eve-form-label">Country</label>
                    <div class="eve-select-group">
                        <select class="eve-select">
                            <option>Germany</option>
                            <option>France</option>
                            <option>Italy</option>
                            <option>Bulgaria</option>
                        </select>
                        <select class="eve-select">
                            <option>IT</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div>
                <div class="eve-form-group">
                    <label class="eve-form-label">Bio</label>
                    <textarea class="eve-textarea"></textarea>
                </div>
                <div class="eve-form-group">
                    <label class="eve-checkbox-control">
                        <div class="eve-checkbox">
                            <input class="eve-checkbox-native" type="checkbox">
                            <div class="eve-checkbox-mark"></div>
                        </div>
                        I want to recieve the weekly neswletter from eve and all the news that are releated to it.
                    </label>
                </div>
                <div class="eve-form-group eve-form-group-right">
                    <div class="eve-button-group eve-button-group-round">
                        <button class="eve-button eve-button-primary eve-button-outline">Discard</button>
                        <button class="eve-button eve-button-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>