<div id="form" class="component">
    <div class="component-title">Form</div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-form" style="width: 400px;">
                <div class="eve-form-group">
                    <label class="eve-form-label">Name</label>
                    <input type="text" class="eve-input">
                </div>
                <div class="eve-form-group">
                    <label class="eve-form-label">Email</label>
                    <input type="email" class="eve-input">
                </div>
                <div class="eve-form-group">
                    <div class="eve-radio-group">
                        <label class="eve-radio-control">
                            <div class="eve-radio">
                                <input class="eve-radio-native" type="radio" name="eve-radio">
                                <div class="eve-radio-mark"></div>
                            </div>
                            Male
                        </label>
                        <label class="eve-radio-control">
                            <div class="eve-radio">
                                <input class="eve-radio-native" type="radio" name="eve-radio" checked="checked">
                                <div class="eve-radio-mark"></div>
                            </div>
                            Female
                        </label>
                    </div>
                </div>
                <div class="eve-form-group">
                    <label class="eve-form-label">Bio</label>
                    <textarea class="eve-textarea"></textarea>
                </div>
                <div class="eve-form-group">
                    <label class="eve-switch-control">
                        <div class="eve-switch">
                            <input class="eve-switch-native" type="checkbox">
                            <div class="eve-switch-mark"></div>
                        </div>
                        Sign up to the weekly newsletter
                    </label>
                </div>
                <div class="eve-form-group">
                    <label class="eve-form-label">Message</label>
                    <textarea class="eve-textarea"></textarea>
                </div>
                <div class="eve-form-group">
                    <label class="eve-checkbox-control">
                        <div class="eve-checkbox">
                            <input class="eve-checkbox-native" type="checkbox">
                            <div class="eve-checkbox-mark"></div>
                        </div>
                        Remember Me
                    </label>
                </div>
                <div class="eve-form-group">
                    <div class="eve-button-group">
                        <button class="eve-button eve-button-primary">Send</button>
                        <button class="eve-button eve-button-primary eve-button-outline">Discard</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-form" style="width: 400px;">
                <button class="eve-button eve-button-primary eve-button-block">Sign up with Google</button>
                <div class="eve-divider" data-content="or"></div>
                <div class="eve-form-group">
                    <input type="email" class="eve-input" placeholder="Email">
                </div>
                <div class="eve-form-group">
                    <input type="password" class="eve-input" placeholder="Password">
                </div>
                <div class="eve-form-group">
                    <input type="password" class="eve-input" placeholder="Confirm Password">
                </div>
                <div class="eve-form-group">
                    <input type="text" class="eve-input" placeholder="Job Title">
                </div>
                <div class="eve-form-group">
                    <label class="eve-form-label">Date of Birth</label>
                    <div class="eve-input-group">
                        <input type="text" class="eve-input" placeholder="Date">
                        <input type="text" class="eve-input" placeholder="Month">
                        <input type="text" class="eve-input" placeholder="Year">
                    </div>
                </div>
                <div class="eve-form-group">
                    <div class="eve-radio-group">
                        <label class="eve-radio-control">
                            <div class="eve-radio">
                                <input class="eve-radio-native" type="radio" name="eve-radio">
                                <div class="eve-radio-mark"></div>
                            </div>
                            Male
                        </label>
                        <label class="eve-radio-control">
                            <div class="eve-radio">
                                <input class="eve-radio-native" type="radio" name="eve-radio">
                                <div class="eve-radio-mark"></div>
                            </div>
                            Female
                        </label>
                        <label class="eve-radio-control">
                            <div class="eve-radio">
                                <input class="eve-radio-native" type="radio" name="eve-radio">
                                <div class="eve-radio-mark"></div>
                            </div>
                            Non-Binary
                        </label>
                    </div>
                </div>
                <div class="eve-form-group">
                    <label class="eve-checkbox-control">
                        <div class="eve-checkbox">
                            <input class="eve-checkbox-native" type="checkbox">
                            <div class="eve-checkbox-mark"></div>
                        </div>
                        I agree to <a href="#">Eve terms & conditions</a> and <a href="#">Privacy Policy</a>.
                    </label>
                </div>
                <div class="eve-form-group">
                    <button class="eve-button eve-button-primary eve-button-block">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>
