<div id="input" class="component">
    <div class="component-title">Input</div>
    <div class="component-content">
        <div class="component-header">Input default</div>
        <div class="component-example">
            <input type="text" class="eve-input">
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Input default with placeholder</div>
        <div class="component-example">
            <input type="text" placeholder="Placeholder" class="eve-input">
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Input disabled</div>
        <div class="component-example">
            <input type="text" value="Disabled" class="eve-input eve-input-disable" disabled="true">
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Input control</div>
        <div class="component-example">
            <div class="eve-input-control">
                <input type="text" class="eve-input">
                <button class="eve-button eve-button-primary">Search</button>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Input control rounded</div>
        <div class="component-example">
            <div class="eve-input-control eve-input-control-round">
                <input type="text" class="eve-input">
                <button class="eve-button eve-button-primary">Search</button>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Input control with icon</div>
        <div class="component-example">
            <div class="eve-input-control eve-input-control-icon">
                <input type="text" class="eve-input">
                <div class="eve-input-icon">
                    <i class="material-icons">search</i>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Inputs group</div>
        <div class="component-example">
            <div class="eve-input-group">
                <input type="text" class="eve-input" value="input1">
                <input type="text" class="eve-input" value="input2">
                <input type="text" class="eve-input" value="input3">
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Inputs group rounded</div>
        <div class="component-example">
            <div class="eve-input-group eve-input-group-round">
                <input type="text" class="eve-input" value="input1">
                <input type="text" class="eve-input" value="input2">
                <input type="text" class="eve-input" value="input3">
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Input form</div>
        <div class="component-example">
            <div class="eve-input-form">
                <label class="eve-input-label">Username</label>
                <input type="text" class="eve-input">
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Input form with control</div>
        <div class="component-example">
            <div class="eve-input-form">
                <label class="eve-input-label">Username</label>
                <div class="eve-input-control eve-input-control-icon">
                    <input type="text" class="eve-input">
                    <button class="eve-button eve-button-primary">Update</button>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Input form with group</div>
        <div class="component-example">
            <div class="eve-input-form">
                <label class="eve-input-label">Address</label>
                <div class="eve-input-group">
                    <input type="text" class="eve-input">
                    <input type="text" class="eve-input">
                    <input type="text" class="eve-input">
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Input form with hint</div>
        <div class="component-example">
            <div class="eve-input-form">
                <label class="eve-input-label">Username</label>
                <input type="text" class="eve-input">
                <div class="eve-input-hint">Username must contains only letters.</div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Input form success</div>
        <div class="component-example">
            <div class="eve-input-form eve-input-form-success">
                <label class="eve-input-label">Username</label>
                <input type="text" class="eve-input">
                <div class="eve-input-hint">Username must contains only letters.</div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Input form danger</div>
        <div class="component-example">
            <div class="eve-input-form eve-input-form-danger">
                <label class="eve-input-label">Username</label>
                <input type="text" class="eve-input">
                <div class="eve-input-hint">Username must contains only letters.</div>
            </div>
        </div>
    </div>
</div>
