<div class="component">
    <div class="component-title">Input</div>
    <div class="component-content">
        <div class="component-header">Input default</div>
        <div class="component-example">
            <input type="text" class="eve-input">
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Input default with placeholder</div>
        <div class="component-example">
            <input type="text" placeholder="Placeholder" class="eve-input">
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Input disabled</div>
        <div class="component-example">
            <input type="text" value="Disabled" class="eve-input" disabled="disabled">
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Input control</div>
        <div class="component-example">
            <div class="eve-input-control">
                <input type="text" class="eve-input">
                <button class="eve-button eve-button-primary">Search</button>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Inputs group</div>
        <div class="component-example">
            <div class="eve-input-group">
                <input type="text" class="eve-input">
                <input type="text" class="eve-input">
                <input type="text" class="eve-input">
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Input sizes</div>
        <div class="component-example">
            <div class="eve-input-group">
                <input type="text" class="eve-input eve-input-small" placeholder="Small size - 28px">
                <input type="text" class="eve-input" placeholder="Normal size - 36px">
                <input type="text" class="eve-input eve-input-large" placeholder="Large size - 48px">
            </div>
        </div>
    </div>
</div>
