<div class="component">
    <div class="component-title">Label</div>
    <div class="component-content">
        <div class="component-header">Label default</div>
        <div class="component-example">
            <div class="eve-label eve-label-primary">Primary</div>
            <div class="eve-label eve-label-success">Success</div>
            <div class="eve-label eve-label-warning">Warning</div>
            <div class="eve-label eve-label-danger">Danger</div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Label with icon</div>
        <div class="component-example">
            <div class="eve-label eve-label-primary">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Primary
            </div>
            <div class="eve-label eve-label-success">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Success
            </div>
            <div class="eve-label eve-label-warning">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Warning
            </div>
            <div class="eve-label eve-label-danger">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Danger
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Label with action</div>
        <div class="component-example">
            <div class="eve-label eve-label-primary">
                Primary
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label eve-label-success">
                Success
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label eve-label-warning">
                Warning
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label eve-label-danger">
                Danger
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Label with icon and action</div>
        <div class="component-example">
            <div class="eve-label eve-label-primary">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Primary
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label eve-label-success">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Success
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label eve-label-warning">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Warning
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label eve-label-danger">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Danger
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Label outline</div>
        <div class="component-example">
            <div class="eve-label eve-label-primary eve-label-outline">Primary</div>
            <div class="eve-label eve-label-success eve-label-outline">Success</div>
            <div class="eve-label eve-label-warning eve-label-outline">Warning</div>
            <div class="eve-label eve-label-danger eve-label-outline">Danger</div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Label outline with icon</div>
        <div class="component-example">
            <div class="eve-label eve-label-primary eve-label-outline">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Primary
            </div>
            <div class="eve-label eve-label-success eve-label-outline">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Success
            </div>
            <div class="eve-label eve-label-warning eve-label-outline">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Warning
            </div>
            <div class="eve-label eve-label-danger eve-label-outline">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Danger
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Label outline with action</div>
        <div class="component-example">
            <div class="eve-label eve-label-primary eve-label-outline">
                Primary
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label eve-label-success eve-label-outline">
                Success
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label eve-label-warning eve-label-outline">
                Warning
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label eve-label-danger eve-label-outline">
                Danger
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Label outline with icon and action</div>
        <div class="component-example">
            <div class="eve-label eve-label-primary eve-label-outline">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Primary
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label eve-label-success eve-label-outline">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Success
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label eve-label-warning eve-label-outline">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Warning
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label eve-label-danger eve-label-outline">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Danger
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
        </div>
    </div>
</div>
