<div class="component">
    <div class="component-title">Label</div>
    <div class="component-content">
        <div class="component-header">Default label</div>
        <div class="component-example">
            <div class="eve-label is-primary">Primary</div>
            <div class="eve-label is-success">Success</div>
            <div class="eve-label is-warning">Warning</div>
            <div class="eve-label is-danger">Danger</div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Label with icon</div>
        <div class="component-example">
            <div class="eve-label is-primary">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Primary
            </div>
            <div class="eve-label is-success">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Success
            </div>
            <div class="eve-label is-warning">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Warning
            </div>
            <div class="eve-label is-danger">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Danger
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Label with action</div>
        <div class="component-example">
            <div class="eve-label is-primary">
                Primary
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label is-success">
                Success
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label is-warning">
                Warning
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label is-danger">
                Danger
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Label with icon and action</div>
        <div class="component-example">
            <div class="eve-label is-primary">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Primary
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label is-success">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Success
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label is-warning">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Warning
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label is-danger">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Danger
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Outlined label</div>
        <div class="component-example">
            <div class="eve-label is-primary is-outlined">Primary</div>
            <div class="eve-label is-success is-outlined">Success</div>
            <div class="eve-label is-warning is-outlined">Warning</div>
            <div class="eve-label is-danger is-outlined">Danger</div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Outlined label with icon</div>
        <div class="component-example">
            <div class="eve-label is-primary is-outlined">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Primary
            </div>
            <div class="eve-label is-success is-outlined">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Success
            </div>
            <div class="eve-label is-warning is-outlined">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Warning
            </div>
            <div class="eve-label is-danger is-outlined">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Danger
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Outlined label with action</div>
        <div class="component-example">
            <div class="eve-label is-primary is-outlined">
                Primary
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label is-success is-outlined">
                Success
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label is-warning is-outlined">
                Warning
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label is-danger is-outlined">
                Danger
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Outlined label with icon and action</div>
        <div class="component-example">
            <div class="eve-label is-primary is-outlined">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Primary
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label is-success is-outlined">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Success
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label is-warning is-outlined">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Warning
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
            <div class="eve-label is-danger is-outlined">
                <div class="eve-label-icon">
                    <i class="material-icons">favorite</i>
                </div>
                Danger
                <div class="eve-label-action">
                    <i class="material-icons">clear</i>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Rounded label</div>
        <div class="component-example">
            <div class="eve-label is-primary is-rounded">Primary</div>
            <div class="eve-label is-success is-rounded">Success</div>
            <div class="eve-label is-warning is-rounded">Warning</div>
            <div class="eve-label is-danger is-rounded">Danger</div>
        </div>
    </div>
</div>
