<div id="navigation" class="component">
    <div class="component-title">Navigation</div>
    <div class="component-content">
        <div class="component-header">Navigation default</div>
        <div class="component-example">
            <ul class="eve-navigation">
                <li class="eve-navigation-tab">
                    <a href="#">Tab 01</a>
                </li>
                <li class="eve-navigation-tab eve-navigation-tab-active">
                    <a href="#">Tab 02</a>
                </li>
                <li class="eve-navigation-tab">
                    <a href="#">Tab 03</a>
                </li>
                <li class="eve-navigation-tab">
                    <a href="#">Tab 04</a>
                </li>
            </ul>
        </div>
    </div>
</div>
