<div id="navigation" class="component">
    <div class="component-title">Navigation</div>
    <div class="component-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe dicta aliquid quibusdam facilis a quidem laboriosam, provident, fugit expedita veritatis corporis eveniet. Eligendi, consequuntur obcaecati magni hic molestias maiores accusantium!</div>
    <div class="component-content">
        <div class="component-header">Navigation default</div>
        <div class="component-example">
            <div class="eve-navigation">
                <div class="eve-navigation-tab">Tab 01</div>
                <div class="eve-navigation-tab eve-navigation-tab-active">Tab 02</div>
                <div class="eve-navigation-tab">Tab 03</div>
                <div class="eve-navigation-tab">Tab 04</div>
            </div>
        </div>
    </div>
</div>