<style>
    .eve-pagination:not(:last-child) {
        margin-bottom: 8px;
    }
</style>
<div class="component">
    <div class="component-title">Pagination</div>
    <div class="component-content">
        <div class="component-header">Default pagination</div>
        <div class="component-example">
            <ul class="eve-pagination">
                <li>
                    <a href="#">Previous</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li class="is-active">
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Rounded pagination</div>
        <div class="component-example">
            <ul class="eve-pagination is-rounded">
                <li>
                    <a href="#">Previous</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li class="is-active">
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>
