<div id="progress" class="component">
    <div class="component-title">Progress</div>
    <div class="component-content">
        <div class="component-header">Progress line</div>
        <div class="component-example">
            <div class="eve-progress-line"></div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Progress oval</div>
        <div class="component-example">
            <div class="eve-progress-oval"></div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Progress oval with label</div>
        <div class="component-example">
            <div class="eve-progress-oval" data-label="Loading..."></div>
        </div>
    </div>
</div>
