<div id="radio" class="component">
    <div class="component-title">Radio</div>
    <div class="component-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, in voluptas ab ipsam nobis deserunt aliquid ullam dolores! A recusandae dolorem laboriosam, esse magni quam deleniti dolores inventore voluptates debitis.</div>
    <div class="component-content">
        <div class="component-header">Radio default</div>
        <div class="component-example">
            <div class="eve-radio">
                <input class="eve-radio-native" type="radio">
                <div class="eve-radio-mark"></div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Radio disabled</div>
        <div class="component-example">
            <div class="eve-radio eve-radio-disable">
                <input class="eve-radio-native" type="radio">
                <div class="eve-radio-mark"></div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Radio control</div>
        <div class="component-example">
            <label class="eve-radio-control">
                <div class="eve-radio">
                    <input class="eve-radio-native" type="radio" checked="checked">
                    <div class="eve-radio-mark"></div>
                </div>
                Radio control #1
            </label>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Radio controls group</div>
        <div class="component-example">
            <div class="eve-radio-group">
                <label class="eve-radio-control">
                    <div class="eve-radio">
                        <input class="eve-radio-native" type="radio" name="eve-radio" checked="checked">
                        <div class="eve-radio-mark"></div>
                    </div>
                    Radio control #1
                </label>
                <label class="eve-radio-control">
                    <div class="eve-radio">
                        <input class="eve-radio-native" type="radio" name="eve-radio" checked="checked">
                        <div class="eve-radio-mark"></div>
                    </div>
                    Radio control #2
                </label>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Radio controls list</div>
        <div class="component-example">
            <div class="eve-radio-list">
                <label class="eve-radio-control">
                    <div class="eve-radio">
                        <input class="eve-radio-native" type="radio" name="eve-radio2" checked="checked">
                        <div class="eve-radio-mark"></div>
                    </div>
                    Radio control #1
                </label>
                <label class="eve-radio-control">
                    <div class="eve-radio">
                        <input class="eve-radio-native" type="radio" name="eve-radio2">
                        <div class="eve-radio-mark"></div>
                    </div>
                    Radio control #2
                </label>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Radio controls list tree view</div>
        <div class="component-example">
            <div class="eve-radio-list">
                <label class="eve-radio-control">
                    <div class="eve-radio">
                        <input class="eve-radio-native" type="radio" name="eve-radio3">
                        <div class="eve-radio-mark"></div>
                    </div>
                    Parent 01
                </label>
                <label class="eve-radio-control">
                    <div class="eve-radio">
                        <input class="eve-radio-native" type="radio" name="eve-radio3">
                        <div class="eve-radio-mark"></div>
                    </div>
                    Parent 02
                </label>
                <div class="eve-radio-list">
                    <label class="eve-radio-control">
                        <div class="eve-radio">
                            <input class="eve-radio-native" type="radio" name="eve-radio3">
                            <div class="eve-radio-mark"></div>
                        </div>
                        Parent Child 01
                    </label>
                    <label class="eve-radio-control">
                        <div class="eve-radio">
                            <input class="eve-radio-native" type="radio" name="eve-radio3">
                            <div class="eve-radio-mark"></div>
                        </div>
                        Parent Child 02
                    </label>
                    <label class="eve-radio-control">
                        <div class="eve-radio">
                            <input class="eve-radio-native" type="radio" name="eve-radio3">
                            <div class="eve-radio-mark"></div>
                        </div>
                        Parent Child 03
                    </label>
                    <div class="eve-radio-list">
                        <label class="eve-radio-control">
                            <div class="eve-radio">
                                <input class="eve-radio-native" type="radio" name="eve-radio3">
                                <div class="eve-radio-mark"></div>
                            </div>
                            Child 01
                        </label>
                        <label class="eve-radio-control">
                            <div class="eve-radio">
                                <input class="eve-radio-native" type="radio" name="eve-radio3">
                                <div class="eve-radio-mark"></div>
                            </div>
                            Child 02
                        </label>
                    </div>
                </div>
                <label class="eve-radio-control">
                    <div class="eve-radio">
                        <input class="eve-radio-native" type="radio" name="eve-radio3">
                        <div class="eve-radio-mark"></div>
                    </div>
                    Parent 03
                </label>
            </div>
        </div>
    </div>
</div>