<div id="select" class="component">
    <div class="component-title">Select</div>
    <div class="component-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus at nemo sapiente earum neque quo amet? Illum voluptatibus dolor, corporis ullam eligendi error harum magnam, dolorum sint dolorem illo expedita!</div>
    <div class="component-content">
        <div class="component-header">Select default</div>
        <div class="component-example">
            <select class="eve-select">
                <option>Item 01</option>
                <option>Item 02</option>
                <option>Item 03</option>
                <option>Item 04</option>
            </select>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Select disabled</div>
        <div class="component-example">
            <select class="eve-select eve-select-disable">
                <option>Item 01</option>
                <option>Item 02</option>
                <option>Item 03</option>
                <option>Item 04</option>
            </select>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Select control</div>
        <div class="component-example">
            <div class="eve-select-control">
                <select class="eve-select">
                    <option>Item 01</option>
                    <option>Item 02</option>
                    <option>Item 03</option>
                    <option>Item 04</option>
                </select>
                <button class="eve-button eve-button-primary">Save</button>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Selects group</div>
        <div class="component-example">
            <div class="eve-select-group">
                <select class="eve-select">
                    <option>Item 01</option>
                    <option>Item 02</option>
                    <option>Item 03</option>
                    <option>Item 04</option>
                </select>
                <select class="eve-select">
                    <option>Item 01</option>
                    <option>Item 02</option>
                    <option>Item 03</option>
                    <option>Item 04</option>
                </select>
                <select class="eve-select">
                    <option>Item 01</option>
                    <option>Item 02</option>
                    <option>Item 03</option>
                    <option>Item 04</option>
                </select>
            </div>
        </div>
    </div>
</div>