<div id="select" class="component">
    <div class="component-title">Select</div>
    <div class="component-content">
        <div class="component-header">Select default</div>
        <div class="component-example">
            <div class="eve-select">
                <select>
                    <option>Item 01</option>
                    <option>Item 02</option>
                    <option>Item 03</option>
                    <option>Item 04</option>
                </select>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Select disabled</div>
        <div class="component-example">
            <div class="eve-select eve-select-disable">
                <select>
                    <option>Item 01</option>
                    <option>Item 02</option>
                    <option>Item 03</option>
                    <option>Item 04</option>
                </select>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Select control</div>
        <div class="component-example">
            <div class="eve-select-control">
                <div class="eve-select">
                    <select>
                        <option>Item 01</option>
                        <option>Item 02</option>
                        <option>Item 03</option>
                        <option>Item 04</option>
                    </select>
                </div>
                <button class="eve-button eve-button-primary">Save</button>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Select control rounded</div>
        <div class="component-example">
            <div class="eve-select-control eve-select-control-round">
                <div class="eve-select">
                    <select>
                        <option>Item 01</option>
                        <option>Item 02</option>
                        <option>Item 03</option>
                        <option>Item 04</option>
                    </select>
                </div>
                <button class="eve-button eve-button-primary">Save</button>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Selects group</div>
        <div class="component-example">
            <div class="eve-select-group">
                <div class="eve-select">
                    <select>
                        <option>Item 01</option>
                        <option>Item 02</option>
                        <option>Item 03</option>
                        <option>Item 04</option>
                    </select>
                </div>
                <div class="eve-select">
                    <select class="eve-select">
                        <option>Item 01</option>
                        <option>Item 02</option>
                        <option>Item 03</option>
                        <option>Item 04</option>
                    </select>
                </div>
                <div class="eve-select">
                    <select class="eve-select">
                        <option>Item 01</option>
                        <option>Item 02</option>
                        <option>Item 03</option>
                        <option>Item 04</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Selects group rounded</div>
        <div class="component-example">
            <div class="eve-select-group eve-select-group-round">
                <div class="eve-select">
                    <select>
                        <option>Item 01</option>
                        <option>Item 02</option>
                        <option>Item 03</option>
                        <option>Item 04</option>
                    </select>
                </div>
                <div class="eve-select">
                    <select class="eve-select">
                        <option>Item 01</option>
                        <option>Item 02</option>
                        <option>Item 03</option>
                        <option>Item 04</option>
                    </select>
                </div>
                <div class="eve-select">
                    <select class="eve-select">
                        <option>Item 01</option>
                        <option>Item 02</option>
                        <option>Item 03</option>
                        <option>Item 04</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
