<div id="switch" class="component">
    <div class="component-title">Switch</div>
    <div class="component-content">
        <div class="component-header">Switch default</div>
        <div class="component-example">
            <div class="eve-switch">
                <input type="checkbox">
                <div class="eve-switch-mark"></div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Switch disabled</div>
        <div class="component-example">
            <div class="eve-switch">
                <input type="checkbox" disabled="disabled">
                <div class="eve-switch-mark"></div>
            </div>
            <div class="eve-switch">
                <input type="checkbox" disabled="disabled" checked="checked">
                <div class="eve-switch-mark"></div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Switch control</div>
        <div class="component-example">
            <label class="eve-switch-control">
                <div class="eve-switch">
                    <input type="checkbox">
                    <div class="eve-switch-mark"></div>
                </div>
                Switch control #1
            </label>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Switch controls group</div>
        <div class="component-example">
            <div class="eve-switch-group">
                <label class="eve-switch-control">
                    <div class="eve-switch">
                        <input type="checkbox">
                        <div class="eve-switch-mark"></div>
                    </div>
                    Switch control #1
                </label>
                <label class="eve-switch-control">
                    <div class="eve-switch">
                        <input type="checkbox">
                        <div class="eve-switch-mark"></div>
                    </div>
                    Switch control #2
                </label>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Switch controls list</div>
        <div class="component-example">
            <div class="eve-switch-list">
                <label class="eve-switch-control">
                    <div class="eve-switch">
                        <input type="checkbox">
                        <div class="eve-switch-mark"></div>
                    </div>
                    Switch control #1
                </label>
                <label class="eve-switch-control">
                    <div class="eve-switch">
                        <input type="checkbox">
                        <div class="eve-switch-mark"></div>
                    </div>
                    Switch control #2
                </label>
            </div>
        </div>
    </div>
</div>
