<div id="table" class="component">
    <div class="component-title">Table</div>
    <div class="component-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. At in, sed odit quasi unde molestiae ratione nam aliquid doloribus, et mollitia dignissimos perspiciatis architecto non suscipit ut aperiam ex repellendus.</div>
    <div class="component-content">
        <div class="component-header">Table default</div>
        <div class="component-example">
            <table class="eve-table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Protein</th>
                        <th>Sodium</th>
                        <th>Calcium</th>
                        <th>Fibers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fruits</td>
                        <td>36</td>
                        <td>87</td>
                        <td>45</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Veggies</td>
                        <td>36</td>
                        <td>87</td>
                        <td>45</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Rice</td>
                        <td>36</td>
                        <td>87</td>
                        <td>45</td>
                        <td>12</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Table strip</div>
        <div class="component-example">
            <table class="eve-table eve-table-strip">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Protein</th>
                        <th>Sodium</th>
                        <th>Calcium</th>
                        <th>Fibers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fruits</td>
                        <td>36</td>
                        <td>87</td>
                        <td>45</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Veggies</td>
                        <td>36</td>
                        <td>87</td>
                        <td>45</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Rice</td>
                        <td>36</td>
                        <td>87</td>
                        <td>45</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Fruits</td>
                        <td>36</td>
                        <td>87</td>
                        <td>45</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Veggies</td>
                        <td>36</td>
                        <td>87</td>
                        <td>45</td>
                        <td>12</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>