<div id="textarea" class="component">
    <div class="component-title">Textarea</div>
    <div class="component-content">
        <div class="component-header">Textarea default</div>
        <div class="component-example">
            <textarea class="eve-textarea"></textarea>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Textarea disabled</div>
        <div class="component-example">
            <textarea class="eve-textarea eve-textarea-disable" disabled="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, natus nam. Commodi corporis natus quis, dolores sapiente quas modi cupiditate, animi delectus eligendi laudantium, porro ab facilis provident similique quo.</textarea>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Textarea form</div>
        <div class="component-example">
            <div class="eve-textarea-form">
                <label class="eve-textarea-label">Description</label>
                <textarea class="eve-textarea"></textarea>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Textarea form with hint</div>
        <div class="component-example">
            <div class="eve-textarea-form">
                <label class="eve-textarea-label">Description</label>
                <textarea class="eve-textarea"></textarea>
                <div class="eve-textarea-hint">Description must not exceed 150 characters.</div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Textarea form success</div>
        <div class="component-example">
            <div class="eve-textarea-form eve-textarea-form-success">
                <label class="eve-textarea-label">Description</label>
                <textarea class="eve-textarea"></textarea>
                <div class="eve-textarea-hint">Description must not exceed 150 characters.</div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Textarea form danger</div>
        <div class="component-example">
            <div class="eve-textarea-form eve-textarea-form-danger">
                <label class="eve-textarea-label">Description</label>
                <textarea class="eve-textarea"></textarea>
                <div class="eve-textarea-hint">Description must not exceed 150 characters.</div>
            </div>
        </div>
    </div>
</div>
