<div class="component">
    <div class="component-title">Textarea</div>
    <div class="component-content">
        <div class="component-header">Textarea default</div>
        <div class="component-example">
            <textarea class="eve-textarea"></textarea>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Textarea disabled</div>
        <div class="component-example">
            <textarea class="eve-textarea" disabled="disabled"></textarea>
        </div>
    </div>
</div>
