<div class="component">
    <div class="component-title">Tooltip</div>
    <div class="component-content">
        <div class="component-header">Default tooltip</div>
        <div class="component-example" style="text-align: center; margin: 64px; display: flex; justify-content: space-between;">
            <button class="eve-button is-primary eve-tooltip is-left" data-tooltip="Tooltip Left">Tooltip Left</button>
            <button class="eve-button is-primary eve-tooltip is-top" data-tooltip="Tooltip Top">Tooltip Top</button>
            <button class="eve-button is-primary eve-tooltip is-right" data-tooltip="Tooltip Right">Tooltip Right</button>
            <button class="eve-button is-primary eve-tooltip is-bottom" data-tooltip="Tooltip Bottom">Tooltip Bottom</button>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Delayed tooltip</div>
        <div class="component-example" style="text-align: center; margin: 64px; display: flex; justify-content: space-between;">
            <button class="eve-button is-primary eve-tooltip is-left has-delay" data-tooltip="Tooltip Left">Tooltip Left</button>
            <button class="eve-button is-primary eve-tooltip is-top has-delay" data-tooltip="Tooltip Top">Tooltip Top</button>
            <button class="eve-button is-primary eve-tooltip is-right has-delay" data-tooltip="Tooltip Right">Tooltip Right</button>
            <button class="eve-button is-primary eve-tooltip is-bottom has-delay" data-tooltip="Tooltip Bottom">Tooltip Bottom</button>
        </div>
    </div>
</div>
