<div class="component">
    <div class="component-title">Tooltip</div>
    <div class="component-content">
        <div class="component-header">Tooltip top</div>
        <div class="component-example" style="text-align: center; margin: 48px;">
            <span class="eve-tooltip eve-tooltip-top" data-tooltip="Tooltip Top">hover me</span>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Tooltip bottom</div>
        <div class="component-example" style="text-align: center; margin: 48px;">
            <span class="eve-tooltip eve-tooltip-bottom" data-tooltip="Tooltip Bottom">hover me</span>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Tooltip left</div>
        <div class="component-example" style="text-align: center; margin: 48px;">
            <span class="eve-tooltip eve-tooltip-left" data-tooltip="Tooltip Left">hover me</span>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Tooltip right</div>
        <div class="component-example" style="text-align: center; margin: 48px;">
            <span class="eve-tooltip eve-tooltip-right" data-tooltip="Tooltip Right">hover me</span>
        </div>
    </div>
</div>
