<div id="tooltip" class="component">
    <div class="component-title">Tooltip</div>
    <div class="component-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, explicabo? Iusto perferendis mollitia molestiae iure. Rerum ex aliquid ea provident temporibus eos, minima consequatur voluptatem adipisci. Dolores veniam harum nisi!</div>
    <div class="component-content">
        <div class="component-header">Tooltip top</div>
        <div class="component-example is-center">
            <button class="eve-button eve-button-primary eve-button-text eve-tooltip eve-tooltip-top" data-tooltip="Tooltip Top">hover me</button>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Tooltip bottom</div>
        <div class="component-example is-center">
            <button class="eve-button eve-button-primary eve-button-text eve-tooltip eve-tooltip-bottom" data-tooltip="Tooltip Bottom">hover me</button>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Tooltip left</div>
        <div class="component-example is-center">
            <button class="eve-button eve-button-primary eve-button-text eve-tooltip eve-tooltip-left" data-tooltip="Tooltip Left">hover me</button>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Tooltip right</div>
        <div class="component-example is-center">
            <button class="eve-button eve-button-primary eve-button-text eve-tooltip eve-tooltip-right" data-tooltip="Tooltip Right">hover me</button>
        </div>
    </div>
</div>