<div class="component">
    <div class="component-title">Tooltip</div>
    <div class="component-content">
        <div class="component-header">Tooltip default</div>
        <div class="component-example" style="text-align: center; margin: 48px; display: flex; justify-content: space-between;">
            <span class="eve-tooltip eve-tooltip-left" data-tooltip="Tooltip Left">Tooltip Left</span>
            <span class="eve-tooltip eve-tooltip-top" data-tooltip="Tooltip Top">Tooltip Top</span>
            <span class="eve-tooltip eve-tooltip-right" data-tooltip="Tooltip Right">Tooltip Right</span>
            <span class="eve-tooltip eve-tooltip-bottom" data-tooltip="Tooltip Bottom">Tooltip Bottom</span>
        </div>
    </div>
</div>
