<style>
    .eve-cell > p,
    .eve-cell-1 > p,
    .eve-cell-2 > p,
    .eve-cell-3 > p,
    .eve-cell-4 > p,
    .eve-cell-5 > p,
    .eve-cell-6 > p,
    .eve-cell-7 > p,
    .eve-cell-8 > p,
    .eve-cell-9 > p,
    .eve-cell-10 > p,
    .eve-cell-11 > p,
    .eve-cell-12 > p {
        background: #2196f3;
        color: #fff;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .eve-grid > div:not(:last-child) p {
        margin-right: 1px;
    }
</style>
<div class="component">
    <div class="component-title">Grid</div>
    <div class="component-content">
        <div class="eve-grid has-gap-normal">
            <div class="eve-cell">
                <p>1</p>
            </div>
            <div class="eve-cell">
                <p>2</p>
            </div>
            <div class="eve-cell">
                <p>3</p>
            </div>
            <div class="eve-cell">
                <p>4</p>
            </div>
            <div class="eve-cell">
                <p>5</p>
            </div>
            <div class="eve-cell">
                <p>6</p>
            </div>
            <div class="eve-cell">
                <p>7</p>
            </div>
            <div class="eve-cell">
                <p>8</p>
            </div>
            <div class="eve-cell">
                <p>9</p>
            </div>
            <div class="eve-cell">
                <p>10</p>
            </div>
            <div class="eve-cell">
                <p>11</p>
            </div>
            <div class="eve-cell">
                <p>12</p>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-grid">
                <div class="eve-cell">
                    <p>.eve-cell (auto)</p>
                </div>
                <div class="eve-cell">
                    <p>.eve-cell (auto)</p>
                </div>
                <div class="eve-cell">
                    <p>.eve-cell (auto)</p>
                </div>
            </div>
        </div>
        <div class="component-example">
            <div class="eve-grid">
                <div class="eve-cell-4">
                    <p>.eve-cell-4</p>
                </div>
                <div class="eve-cell">
                    <p>.eve-cell (auto)</p>
                </div>
            </div>
        </div>
        <div class="component-example">
            <div class="eve-grid">
                <div class="eve-cell-2">
                    <p>.eve-cell-2</p>
                </div>
                <div class="eve-cell-8">
                    <p>.eve-cell-8</p>
                </div>
                <div class="eve-cell-2">
                    <p>.eve-cell-2</p>
                </div>
            </div>
        </div>
    </div>
</div>
