<style>
    .eve-grid:not(:last-child) {
        margin-bottom: 16px;
    }

    .eve-cell > p,
    .eve-cell-1 > p,
    .eve-cell-2 > p,
    .eve-cell-3 > p,
    .eve-cell-4 > p,
    .eve-cell-5 > p,
    .eve-cell-6 > p,
    .eve-cell-7 > p,
    .eve-cell-8 > p,
    .eve-cell-9 > p,
    .eve-cell-10 > p,
    .eve-cell-11 > p,
    .eve-cell-12 > p {
        background: #2196f3;
        color: #fff;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
</style>
<div class="component">
    <div class="component-title">Grid gaps</div>
    <div class="component-content">
        <div class="component-header">Grid gap large - 48px</div>
        <div class="component-example">
            <div class="eve-grid has-gap-large">
                <div class="eve-cell">
                    <p>1</p>
                </div>
                <div class="eve-cell">
                    <p>2</p>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Grid gap normal - 24px</div>
        <div class="component-example">
            <div class="eve-grid has-gap-normal">
                <div class="eve-cell">
                    <p>1</p>
                </div>
                <div class="eve-cell">
                    <p>2</p>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Grid gap small - 16px</div>
        <div class="component-example">
            <div class="eve-grid has-gap-small">
                <div class="eve-cell">
                    <p>1</p>
                </div>
                <div class="eve-cell">
                    <p>2</p>
                </div>
            </div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Grid gap tiny - 8px</div>
        <div class="component-example">
            <div class="eve-grid has-gap-tiny">
                <div class="eve-cell">
                    <p>1</p>
                </div>
                <div class="eve-cell">
                    <p>2</p>
                </div>
            </div>
        </div>
    </div>
</div>
