<div id="utilities/color" class="component">
    <div class="component-title">Color</div>
    <div class="component-content">
        <div class="component-example">
            <p class="eve-color-primary">Primary Color</p>
            <p class="eve-color-danger">Danger Color</p>
            <p class="eve-color-warning">Warning Color</p>
            <p class="eve-color-success">Success Color</p>
            <p class="eve-color-info">Info Color</p>
            <p class="eve-color-mute">Muted Color</p>
        </div>
    </div>
</div>
