<div id="utilities/cursors" class="component">
    <div class="component-title">Cursors</div>
    <div class="component-content">
        <div class="component-example">
            <p class="eve-cursor-default">cursor default</p>
            <p class="eve-cursor-pointer">cursor pointer</p>
        </div>
    </div>
</div>
