<div id="utilities/display" class="component">
    <div class="component-title">Display</div>
    <div class="component-content">
        <div class="component-example" style="display: none;">
            <div class="eve-display-none">none</div>
            <div class="eve-display-inline-block">inline-block</div>
            <div class="eve-display-block">block</div>
        </div>
    </div>
</div>
