<div id="text-colors" class="component">
    <div class="component-title">Text Colors</div>
    <div class="component-content">
        <div class="component-example">
            <h3 class="eve-color-primary">Blue Color</h3>
            <h3 class="eve-color-danger">Red Color</h3>
            <h3 class="eve-color-warning">Orange Color</h3>
            <h3 class="eve-color-success">Green Color</h3>
            <h3 class="eve-color-info">Indigo Color</h3>
        </div>
    </div>
</div>
