<div class="component">
    <div class="component-title">Text</div>
    <div class="component-content">
        <div class="component-header">Text Transform</div>
        <div class="component-example">
            <p class="eve-text-lowercase">Lowercase text</p>
            <p class="eve-text-uppercase">Uppercase text</p>
            <p class="eve-text-capitalize">Capitalize text</p>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Text Align</div>
        <div class="component-example">
            <p class="eve-text-left">Left text</p>
            <p class="eve-text-center">Center text</p>
            <p class="eve-text-right">Right text</p>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Text Truncate</div>
        <div class="component-example">
            <p class="eve-text-truncate">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque fugiat corporis accusantium similique fuga quae suscipit numquam minus culpa doloremque voluptatum pariatur dolorem ex eligendi nam, dolor deleniti consequuntur atque?</p>
        </div>
    </div>
</div>
