<div class="component">
    <div class="component-title">Text Colors</div>
    <div class="component-content">
        <div class="component-example">
            <p class="eve-color-primary">Primary color</p>
            <p class="eve-color-danger">Danger color</p>
            <p class="eve-color-warning">Warning color</p>
            <p class="eve-color-success">Success color</p>
            <p class="eve-color-mute">Muted color</p>
        </div>
    </div>
</div>
