<div id="text-colors" class="component">
    <div class="component-title">Text Colors</div>
    <div class="component-content">
        <div class="component-example">
            <p class="eve-color-primary">Blue Color</p>
            <p class="eve-color-danger">Red Color</p>
            <p class="eve-color-warning">Orange Color</p>
            <p class="eve-color-success">Green Color</p>
            <p class="eve-color-info">Indigo Color</p>
        </div>
    </div>
</div>
