// sass-lint:disable no-important
$eve-grid-cells-count: 12;

.eve-grid {
    display: flex;
    flex-wrap: wrap;
    margin: -$eve-spacing-8;

    .eve-cell {
        flex: 1;
        margin: $eve-spacing-8;
        max-width: 100%;

        @for $i from 1 through $eve-grid-cells-count {
            &.is-#{$i} {
                $width: calc(#{percentage($i / $eve-grid-cells-count)} - #{$eve-spacing-16});

                flex-basis: $width;
                max-width: $width;
            }
        }
    }
}
