$eve-flex-cells-count: 12 !default;
$eve-flex-margins: (
    x-tiny: $eve-spacing-x-tiny,
    tiny: $eve-spacing-tiny,
    small: $eve-spacing-small,
    normal: $eve-spacing-normal,
    large: $eve-spacing-large,
    x-large: $eve-spacing-x-large
) !default;
$eve-flex-gutters: (
    x-tiny: $eve-spacing-x-tiny,
    tiny: $eve-spacing-tiny,
    small: $eve-spacing-small,
    normal: $eve-spacing-normal,
    large: $eve-spacing-large,
    x-large: $eve-spacing-x-large
) !default;
$eve-flex-aligns: (
    start: flex-start,
    end: flex-end,
    center: center,
    stretch: stretch,
    baseline: baseline
) !default;
$eve-flex-justifies: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
    evenly: space-evenly
) !default;

.eve-flex {
    display: flex;
    flex-wrap: wrap;

    .eve-flex-cell {
        flex: 1;
        max-width: 100%;
    }

    @each $eve-flex-margin in map-keys($eve-flex-margins) {
        &.eve-flex-margin-#{$eve-flex-margin} {
            padding: map-get($eve-flex-margins, $eve-flex-margin);
        }
    }

    @each $eve-flex-gutter in map-keys($eve-flex-gutters) {
        &.eve-flex-gutter-#{$eve-flex-gutter} {
            .eve-flex-cell {
                &:not(:last-child) {
                    margin: 0 map-get($eve-flex-gutters, $eve-flex-gutter) 0 0;
                }
            }
        }
    }

    @each $eve-flex-align in map-keys($eve-flex-aligns) {
        &.eve-flex-align-#{$eve-flex-align} {
            align-items: map-get($eve-flex-aligns, $eve-flex-align);
        }
    }

    @each $eve-flex-justify in map-keys($eve-flex-justifies) {
        &.eve-flex-justify-#{$eve-flex-justify} {
            justify-content: map-get($eve-flex-justifies, $eve-flex-justify);
        }
    }

    @for $i from 1 through $eve-flex-cells-count {
        .eve-flex-cell-#{$i} {
            flex: 1 percentage($i / $eve-flex-cells-count);
        }
    }

    @media (max-width: 480px) {
        & {
            flex-flow: column nowrap;

            .eve-flex-cell {
                flex: 1 100%;
            }

            @each $eve-flex-gutter in map-keys($eve-flex-gutters) {
                &.eve-flex-gutter-#{$eve-flex-gutter} {
                    .eve-flex-cell {
                        &:not(:last-child) {
                            margin: 0 0 map-get($eve-flex-gutters, $eve-flex-gutter);
                        }
                    }
                }
            }
        }
    }
}
