$eve-flex-margins: (
    x-tiny: $eve-spacing-x-tiny,
    tiny: $eve-spacing-tiny,
    small: $eve-spacing-small,
    normal: $eve-spacing-normal,
    large: $eve-spacing-large,
    x-large: $eve-spacing-x-large
) !default;

.eve-flex {
    display: flex;
    flex-wrap: wrap;

    &.eve-flex-vertical-center {
        align-items: center;
    }

    &.eve-flex-horizontal-center {
        justify-content: center;
    }

    @each $eve-flex-margin in map-keys($eve-flex-margins) {
        &.eve-flex-margin-#{$eve-flex-margin} {
            padding: map-get($eve-flex-margins, $eve-flex-margin);
        }
    }

    @for $i from 1 through 12 {
        .eve-flex-cell-#{$i} {
            width: percentage($i / 12);
            max-width: 100%;
            flex-shrink: 0;
        }
    }

    @media (max-width: 480px) {
        & {
            flex-direction: column;
            flex-wrap: nowrap;

            @for $i from 1 through 12 {
                .eve-flex-cell-#{$i} {
                    width: 100%;
                }
            }
        }
    }
}
