$eve-grid-cells-count: 12;
$eve-grid-gaps: (
    tiny: $eve-spacing-tiny,
    small: $eve-spacing-small,
    normal: $eve-spacing-normal,
    large: $eve-spacing-large,
);
$eve-grid-aligns: (
    start: flex-start,
    end: flex-end,
    center: center,
);
$eve-grid-justifies: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
);

.eve-grid {
    display: flex;
    flex-wrap: nowrap;

    .eve-cell {
        flex: 1;
        max-width: 100%;
    }

    @for $i from 1 through $eve-grid-cells-count {
        .eve-cell-#{$i} {
            $width: percentage($i / $eve-grid-cells-count);

            flex: 1 $width;
            max-width: $width;
        }
    }

    @each $eve-grid-gap in map-keys($eve-grid-gaps) {
        $gap: map-get($eve-grid-gaps, $eve-grid-gap) / 2;

        &.has-gap-#{$eve-grid-gap} {
            margin: 0 (-$gap);

            & > .eve-cell {
                padding: 0 $gap;
            }

            @for $i from 1 through $eve-grid-cells-count {
                & > .eve-cell-#{$i} {
                    padding: 0 $gap;
                }
            }
        }
    }

    @each $eve-grid-align in map-keys($eve-grid-aligns) {
        &.is-aligned-#{$eve-grid-align} {
            align-items: map-get($eve-grid-aligns, $eve-grid-align);
        }
    }

    @each $eve-grid-justify in map-keys($eve-grid-justifies) {
        &.is-justified-#{$eve-grid-justify} {
            justify-content: map-get($eve-grid-justifies, $eve-grid-justify);
        }
    }

    @media (max-width: 480px) {
        & {
            flex-direction: column;

            .eve-cell {
                flex: 1 100%;
            }

            @for $i from 1 through $eve-grid-cells-count {
                .eve-cell-#{$i} {
                    flex: 1 100%;
                    max-width: 100%;
                }
            }

            @each $eve-grid-gap in map-keys($eve-grid-gaps) {
                $gap: map-get($eve-grid-gaps, $eve-grid-gap) / 2;

                &.has-gap-#{$eve-grid-gap} {
                    margin: (-$gap) 0;

                    & > .eve-cell {
                        padding: $gap 0;
                    }

                    @for $i from 1 through $eve-grid-cells-count {
                        & > .eve-cell-#{$i} {
                            padding: $gap 0;
                        }
                    }
                }
            }
        }
    }
}
