html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;

    &::before,
    &::after {
        box-sizing: inherit;
    }
}

blockquote,
body,
dd,
dl,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
menu,
ol,
p,
pre,
ul,
input,
textarea,
select,
button {
    margin: 0;
}

fieldset,
legend,
menu,
ol,
ul {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h1 {
    font-size: 32px;
    line-height: 40px;
}

h2 {
    font-size: 24px;
    line-height: 32px;
}

h3 {
    font-size: 20px;
    line-height: 28px;
}

h4 {
    font-size: 18px;
    line-height: 28px;
}

h5 {
    font-size: 16px;
    line-height: 24px;
}

h6 {
    font-size: 12px;
    line-height: 18px;
}

p {
    font-size: 14px;
    line-height: 20px;
}

sup,
sub {
    font-size: 8px;
}

ul {
    list-style: none;
}
