<style>
    .eve-float-left,
    .eve-float-right {
        width: 6rem;
        height: 6rem;
        line-height: 6rem;
        text-align: center;
        background: #eceff1;
    }
</style>
<div class="component">
    <div class="component-title">Float</div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-clearfix">
                <div class="eve-float-left">Left</div>
                <div class="eve-float-right">Right</div>
            </div>
        </div>
    </div>
</div>
