<style>
    .eve-gap-tiny,
    .eve-gap-top-tiny,
    .eve-gap-right-tiny,
    .eve-gap-bottom-tiny,
    .eve-gap-left-tiny,
    .eve-gap-small,
    .eve-gap-top-small,
    .eve-gap-right-small,
    .eve-gap-bottom-small,
    .eve-gap-left-small,
    .eve-gap-normal,
    .eve-gap-top-normal,
    .eve-gap-right-normal,
    .eve-gap-bottom-normal,
    .eve-gap-left-normal,
    .eve-gap-large,
    .eve-gap-top-large,
    .eve-gap-right-large,
    .eve-gap-bottom-large,
    .eve-gap-left-large {
        background: #eceff1;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        flex: 1;
        border: 1px solid #cfd8dc;
    }

    .gap-example-1,
    .gap-example-2,
    .gap-example-3,
    .gap-example-4,
    .gap-example-5 {
        border: 1px solid #f44336;
    }

    .gap-example-1,
    .gap-example-2,
    .gap-example-4 {
        display: flex;
    }

    .gap-example-4 {
        align-items: flex-end;
    }
</style>
<div class="component">
    <div class="component-title">Gap</div>
    <div class="component-content">
        <div class="component-example gap-example-1">
            <div class="eve-gap-tiny">eve-gap-tiny</div>
            <div class="eve-gap-small">eve-gap-small</div>
            <div class="eve-gap-normal">eve-gap-normal</div>
            <div class="eve-gap-large">eve-gap-large</div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Top</div>
        <div class="component-example gap-example-2">
            <div class="eve-gap-top-tiny">eve-gap-top-tiny</div>
            <div class="eve-gap-top-small">eve-gap-top-small</div>
            <div class="eve-gap-top-normal">eve-gap-top-normal</div>
            <div class="eve-gap-top-large">eve-gap-top-large</div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Right</div>
        <div class="component-example gap-example-3">
            <div class="eve-gap-right-tiny">eve-gap-right-tiny</div>
            <div class="eve-gap-right-small">eve-gap-right-small</div>
            <div class="eve-gap-right-normal">eve-gap-right-normal</div>
            <div class="eve-gap-right-large">eve-gap-right-large</div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Bottom</div>
        <div class="component-example gap-example-4">
            <div class="eve-gap-bottom-tiny">eve-gap-bottom-tiny</div>
            <div class="eve-gap-bottom-small">eve-gap-bottom-small</div>
            <div class="eve-gap-bottom-normal">eve-gap-bottom-normal</div>
            <div class="eve-gap-bottom-large">eve-gap-bottom-large</div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Left</div>
        <div class="component-example gap-example-5">
            <div class="eve-gap-left-tiny">eve-gap-left-tiny</div>
            <div class="eve-gap-left-small">eve-gap-left-small</div>
            <div class="eve-gap-left-normal">eve-gap-left-normal</div>
            <div class="eve-gap-left-large">eve-gap-left-large</div>
        </div>
    </div>
</div>
