<style>
    .component-example {
        display: flex;
        margin-bottom: 4rem !important;
    }

    .eve-overflow-auto,
    .eve-overflow-hidden {
        margin-right: 1.5rem;
    }

    .eve-overflow-auto,
    .eve-overflow-hidden,
    .eve-overflow-visible {
        width: 14rem;
        height: 7rem;
        border: 1px solid #cfd8dc;
        padding: 1rem;
    }
</style>
<div class="component">
    <div class="component-title">Overflow</div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-overflow-auto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, accusantium repellendus. Est corrupti amet, aliquam assumenda autem eos ipsa? Temporibus totam debitis aliquam. Rerum hic magni porro pariatur. Doloribus, iure.</div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-example">
            <div class="eve-overflow-hidden">Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, accusantium repellendus. Est corrupti amet, aliquam assumenda autem eos ipsa? Temporibus totam debitis aliquam. Rerum hic magni porro pariatur. Doloribus, iure.</div>
        </div>
    </div>
</div>
