<div class="component">
    <div class="component-title">Text</div>
    <div class="component-content">
        <div class="component-header">Text transformations</div>
        <div class="component-example">
            <p class="eve-text-lowercase">Lowercased text</p>
            <p class="eve-text-uppercase">Uppercased text</p>
            <p class="eve-text-capitalize">Capitalized text</p>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Text alignment</div>
        <div class="component-example">
            <p class="eve-text-left">Left aligned text</p>
            <p class="eve-text-center">Center aligned text</p>
            <p class="eve-text-right">Right aligned text</p>
            <p class="eve-text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Text truncate</div>
        <div class="component-example">
            <p class="eve-text-truncate">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque fugiat corporis accusantium similique fuga quae suscipit numquam minus culpa doloremque voluptatum pariatur dolorem ex eligendi nam, dolor deleniti consequuntur atque?</p>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Text sizes</div>
        <div class="component-example">
            <div class="eve-text-large">20px - large</div>
            <div class="eve-text-normal">16px - normal</div>
            <div class="eve-text-small">14px - small</div>
            <div class="eve-text-tiny">12px - tiny</div>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Text colors</div>
        <div class="component-example">
            <p class="eve-text-primary">Primary color</p>
            <p class="eve-text-danger">Danger color</p>
            <p class="eve-text-warning">Warning color</p>
            <p class="eve-text-success">Success color</p>
            <p class="eve-text-muted">Muted color</p>
        </div>
    </div>
    <div class="component-content">
        <div class="component-header">Unselectable text</div>
        <div class="component-example">
            <p class="eve-text-unselectable">Try to select me!</p>
        </div>
    </div>
</div>
